<div class="details-bottom">
  <div class="details-tabs">
    <mat-tab-group>
      <mat-tab label="Descripción">
        <app-detail-description-tab [description]="product.option.description"></app-detail-description-tab>
      </mat-tab>
      <mat-tab label="Reseñas">
        <app-detail-review-tab (refreshReviews)="refreshReviews.emit()" [isAuthenticated]="isAuthenticated"
                               [optionId]="product.option.id" [reviews]="product.option.reviews"
                               [userId]="userId"></app-detail-review-tab>
      </mat-tab>
      <mat-tab label="Garantía">
        <app-detail-warranty-tab [warranty]="product.warranty"></app-detail-warranty-tab>
      </mat-tab>
    </mat-tab-group>
  </div>
  <app-details-suggest [categoryId]="product.categoryId"></app-details-suggest>
</div>
