<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>5 Productos mas comprados</mat-card-title>
      <div class="chart-header">
        <a class="btn" routerLink="/admin/dashboard/analytics">Ver mas gráficas</a>
      </div>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    <ngx-charts-bar-horizontal (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"
                               (select)="onSelect($event)"
                               [gradient]="gradient" [legend]="showLegend" [results]="values"
                               [showXAxisLabel]="showXAxisLabel"
                               [showYAxisLabel]="showYAxisLabel" [view]="view" [xAxisLabel]="xAxisLabel"
                               [xAxis]="showXAxis"
                               [yAxisLabel]="yAxisLabel" [yAxis]="showYAxis">
    </ngx-charts-bar-horizontal>
  </mat-card-content>
</mat-card>
