<div class="filter-tags">
  <ul class="filter-tags-list">
    @if (categoryName) {
      <li class="tag-item">
        <span>Categoria: </span>{{ categoryName }}
        <button type="button" (click)="removeCategory.emit()"><i class="close-icon"></i></button>
      </li>
    }
    @if (selectedCondition) {
      <li class="tag-item">
        <span>Condición: </span>{{ this.selectConditionValue() }}
        <button type="button" (click)="removeCondition.emit()"><i class="close-icon"></i></button>
      </li>
    }
    @if (startValue || endValue) {
      <li class="tag-item">
        <span>Rango de Precio: </span>{{ startValue }} - {{ endValue }}
        <button type="button" (click)="removeRangeValue.emit()"><i class="close-icon"></i></button>
      </li>
    }
    @if (selectedRating) {
      <li class="tag-item">
        <span>Puntuación: </span> {{ selectedRating }}
        <button type="button" (click)="removeRating.emit()"><i class="close-icon"></i></button>
      </li>
    }
    @if (categoryName || selectedCondition || selectedRating || startValue || endValue) {
      <li class="tag-item p-0">
        <button (click)="cleanFilters()" class="btn btn-outline-danger btn-clear-filters" type="button">
          Limpiar filtros
        </button>
      </li>
    }
    <li class="tag-item p-0">
      <button (click)="search.emit()" class="btn-link btn-apply-filters" type="button">
        Aplicar Filtros
      </button>
    </li>
  </ul>
</div>
