<div class="filter-tags">
  <ul class="filter-tags-list">
    <li class="tag-item">Samsung
      <button type="button"><i class="fas fa-close"></i></button>
    </li>
    <li class="tag-item">Apple
      <button type="button"><i class="fas fa-close"></i></button>
    </li>
    <li class="tag-item">Poco
      <button type="button"><i class="fas fa-close"></i></button>
    </li>
    <li class="tag-item">Metallic
      <button type="button"><i class="fas fa-close"></i></button>
    </li>
    <li class="tag-item">4 star
      <button type="button"><i class="fas fa-close"></i></button>
    </li>
    <li class="tag-item">3 star
      <button type="button"><i class="fas fa-close"></i></button>
    </li>
    <li>
      <button class="btn-link btn-clear-filters" type="button">
        Clear all filter
      </button>
    </li>
  </ul>
</div>
