.gradients {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.gradient {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
}

.first {
    z-index: 0;
    animation: 1s width ease;
}

@keyframes width {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.second {
    z-index: -1;
}

.gradient[color="blue"] {
    background-image: linear-gradient(45deg, #0136af, #22abfa);
}

.gradient[color="red"] {
    background-image: linear-gradient(45deg, #d62926, #ee625f);
}

.gradient[color="green"] {
    background-image: linear-gradient(45deg, #11998e, #1ce669);
}

.gradient[color="orange"] {
    background-image: linear-gradient(45deg, #fc4a1a, #f7b733);
}

.gradient[color="black"] {
    background-image: linear-gradient(45deg, #111, #666);
}

.color.active {
    border-color: #fff;
    box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.color-container {
    padding: 10px 0; 
    
}

.color-container.inline {
    display: flex;
    align-items: center;
}

.colors {
    padding: 8px 1.5rem;
    display: flex;
    align-items: center;
    flex: 1;
}

.color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 0 10px;
    border: 5px solid;
    cursor: pointer;
    transition: .5s;
}

.color[color="blue"] {
    background-color: #2175f5;
    border-color: #2175f5;
}

.color[color="red"] {
    background-color: #f84848;
    border-color: #f84848;
}

.color[color="green"] {
    background-color: #29b864;
    border-color: #29b864;
}

.color[color="orange"] {
    background-color: #ff5521;
    border-color: #ff5521;
}

.color[color="black"] {
    background-color: #444;
    border-color: #444;
}

.color.active {
    border-color: #fff;
    box-shadow: 0 0 10px .5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.size-container {
    padding:0 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.sizes {
    padding: 0 2.5rem;
    display: flex;
    align-items: center;
    flex: 1;
}

.size {
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: #eee;
    margin: 0 10px;
    text-align: center;
    line-height: 40px;
    font-size: 1.1rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.size.active {
    background-color: #2175f5;
    color: #fff;
    transition: .5s;
}

.price-rating {
    margin: 0px;
}

.price-rating,
.product-description,
.product-detail,
.color-container,
.size-container
{
    border-bottom: 1px solid #dadada;
}

img {
    width: 100%;
    display: block;
}

.img-showcase img {
    min-width: 100%;
}

.main-wrapper {
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
    
}

.product-div {
    margin: 1rem 0;
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 8px;
    column-gap: 10px;
    box-shadow: -15px 0 35px rgba(0, 0, 0, 0.1),
            0 -15px 35px rgba(0, 0, 0, 0.1),
            0 15px 35px rgba(0, 0, 0, 0.1);
}

.product-div-left {
    padding: 20px;
    padding-right: 12px;
}

.product-div-right {
    padding: 20px;
    padding-left: 12px;
}

.img-container img {
    width: 100%;
    margin: 0 auto;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.active {
    border-color: rgb(255, 145, 163) !important;
}

.hover-container div:hover {
    border-color: rgb(255, 145, 163);
}

.hover-container div img {
    width: 50px;
    cursor: pointer;
}

.product-div-right span {
    display: block;
}

.product-name {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.product-price {
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
    margin: 0 !important;
}

.product-rating {
    display: flex;
    align-items: center;
}

.product-rating span {
    margin-right: 6px;
}

.product-description {
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 15px;
    padding-bottom: 15px;
}

.btn-groups {
    margin-top: 22px;
    align-content: center;
}

.btn-groups input {
    margin-bottom: 1rem;
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    width: 100px;
}

.btn-groups button {
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

}

.btn-groups button .fas {
    margin-right: 8px;
}

.add-cart-btn {
    background-color: #FF9F00;
    border: 2px solid #FF9F00;
    margin-right: 8px;
}

.add-cart-btn:hover {
    background-color: #fff;
    color: #FF9F00 !important;
}

.buy-now-btn {
    background-color: #000;
    border: 2px solid #000;
}

.buy-now-btn:hover {
    background-color: #fff;
    color: #000 !important;
}

@media screen and (max-width: 992px) {
    .product-div {
        grid-template-columns: 100%;
        padding: 20px;
    }

    .product-div-right {
        text-align: center;
    }

    .product-rating {
        justify-content: center;
    }

    .product-description {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    .product-detail {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
        text-align: left;
    }

    .color-container {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }

    .colors {
        margin-right: auto;
        margin-left: auto;
        justify-content: center;
    }

    .price-rating {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
        display: block;
    }

    .size-container {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
        
    }
    
}

@media screen and (max-width: 400px) {
    .btn-groups button {
        width: 100%;
        margin-bottom: 10px;
    }
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #2175f5;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 6    px;
}

.product-link:hover {
    opacity: 0.9;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail span {
    display: contents !important;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url(../../../assets/shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.product-price {
    margin: 0rem 0 !important;
    padding-bottom: 8px !important;
    font-size: 1rem;
}

.product-price span {
    font-weight: 400;
    display: inline;
    align-content: center;
}

.last-price {
    color: #f64749;
    padding-right: 6px;
    text-decoration: line-through;
    font-size: small;
}

.new-price {
    color: #256eff;
    font-size: large;  
}

.social-links {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: right;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;

}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

.social-links p {
    margin-bottom: 0px !important;
}

.share {
    position: absolute;
    background-color: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 1.3rem;
    text-decoration: none;
    margin: 6px 6px;
    transition: .5s;
}

.share:hover {
    transform: scale(1.1);
}

.share i {
    line-height: 50px;
}

.size {
    display: flex;
    margin: 20px 0;
    justify-content: center !important;
}

.size p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px !important;
}

.psize {
    width: 60px;
    height: 30px;
    border: 1px solid #ff5e00;
    color: #000;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.psize.active {
    border-width: 1.5px;
    color: #ff5e00;
    font-weight: 500;
}

