img {
    width: 100%;
    display: block;
}

.img-showcase img {
    min-width: 100%;
}

.main-wrapper {
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}

.product-div {
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}

.product-div-left {
    padding: 20px;
}

.product-div-right {
    padding: 20px;
}

.img-container img {
    width: 100%;
    margin: 0 auto;
}

.img-select {
    display: flex;
}

.img-item {
    margin: 0.3rem;
}

.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3) {
    margin-right: 0;
}

.img-item:hover {
    opacity: 0.8;
}

.active {
    border-color: rgb(255, 145, 163) !important;
}

.hover-container div:hover {
    border-color: rgb(255, 145, 163);
}

.hover-container div img {
    width: 50px;
    cursor: pointer;
}

.product-div-right span {
    display: block;
}

.product-name {
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.product-price {
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}

.product-rating {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.product-rating span {
    margin-right: 6px;
    margin-bottom: 8px;
}

.product-description {
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}

.btn-groups {
    margin-top: 22px;
}

.btn-groups input {
    margin-bottom: 1rem;
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    width: 100px;
}

.btn-groups button {
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;

}

.btn-groups button .fas {
    margin-right: 8px;
}

.add-cart-btn {
    background-color: #FF9F00;
    border: 2px solid #FF9F00;
    margin-right: 8px;
}

.add-cart-btn:hover {
    background-color: #fff;
    color: #FF9F00;
}

.buy-now-btn {
    background-color: #000;
    border: 2px solid #000;
}

.buy-now-btn:hover {
    background-color: #fff;
    color: #000;
}

@media screen and (max-width: 992px) {
    .product-div {
        grid-template-columns: 100%;
    }

    .product-div-right {
        text-align: center;
    }

    .product-rating {
        justify-content: center;
    }

    .product-description {
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px) {
    .btn-groups button {
        width: 100%;
        margin-bottom: 10px;
    }
}

.product-link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.product-link:hover {
    opacity: 0.9;
}

.product-detail h2 {
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}

.product-detail p {
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}

.product-detail span {
    display: contents !important;
}

.product-detail ul {
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li {
    margin: 0;
    list-style: none;
    background: url(../../../assets/shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}

.product-detail ul li span {
    font-weight: 400;
}

.product-price {
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}

.product-price span {
    font-weight: 400;
    display: inline;
}

.product-price p {
    margin-bottom: 0px !important;
}

.last-price span {
    color: #f64749;
    text-decoration: line-through;
}

.new-price span {
    color: #256eff;
}

.social-links {
    display: flex;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: right;
}

.social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;

}

.social-links a:hover {
    background: #000;
    border-color: transparent;
    color: #fff;
}

.social-links p {
    margin-bottom: 0px !important;

}

.size {
    display: flex;
    margin: 20px 0;
    justify-content: center !important;
}

.size p {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px !important;
}

.psize {
    width: 60px;
    height: 30px;
    border: 1px solid #ff5e00;
    color: #000;
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
}

.psize.active {
    border-width: 1.5px;
    color: #ff5e00;
    font-weight: 500;
}

.product-rating span {

}