<div class="products-block-list products-gridview">
  <div class="products-list-item">
    <div class="item-img">
      <img alt="" src="./assets/img/product-view-1.png"/>
    </div>
    <div class="item-details">
      <div class="item-container">
        <h4 class="item-title">Canon Camera EOS 2000, Black 10x zoom</h4>
        <div class="item-price">
          <span class="price-new">$998.00</span>
          <span class="price-old">$1128.00</span>
        </div>
        <div class="item-info">
          <ul class="rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li class="rating-value">7.5</li>
          </ul>
          <span class="info-separator"></span>
          <span class="info-orders">154 orders</span>
          <span class="info-separator"></span>
          <span class="info-shipping">Free Shipping</span>
        </div>
        <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua</p>
        <a class="btn-link">View details</a>
      </div>
      <div>
        <button class="item-wish" type="button">
          <i class="favorite-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="products-list-item">
    <div class="item-img">
      <img alt="" src="./assets/img/product-view-2.png"/>
    </div>
    <div class="item-details">
      <div class="item-container">
        <h4 class="item-title">GoPro HERO6 4K Action Camera - Black</h4>
        <div class="item-price">
          <span class="price-new">$998.00</span>
          <span class="price-old">$1128.00</span>
        </div>
        <div class="item-info">
          <ul class="rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li class="rating-value">4.5</li>
          </ul>
          <span class="info-separator"></span>
          <span class="info-orders">154
                                                        orders</span>
          <span class="info-separator"></span>
          <span class="info-shipping">Free Shipping</span>
        </div>
        <p class="item-description">Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua</p>
        <a class="btn-link">View details</a>
      </div>
      <div>
        <button class="item-wish" type="button">
          <i class="favorite-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="products-list-item">
    <div class="item-img">
      <img alt="" src="./assets/img/product-view-3.png"/>
    </div>
    <div class="item-details">
      <div class="item-container">
        <h4 class="item-title">GoPro HERO6 4K
          Action Camera - Black</h4>
        <div class="item-price">
          <span class="price-new">$998.00</span>
          <span class="price-old">$1128.00</span>
        </div>
        <div class="item-info">
          <ul class="rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li class="rating-value">3.5</li>
          </ul>
          <span class="info-separator"></span>
          <span class="info-orders">154
                                                        orders</span>
          <span class="info-separator"></span>
          <span class="info-shipping">Free Shipping</span>
        </div>
        <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua</p>
        <a class="btn-link" href="#">View details</a>
      </div>
      <div>
        <button class="item-wish" type="button">
          <i class="favorite-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="products-list-item">
    <div class="item-img">
      <img alt="" src="./assets/img/product-view-1.png"/>
    </div>
    <div class="item-details">
      <div class="item-container">
        <h4 class="item-title">Canon Camera EOS 2000, Black 10x zoom</h4>
        <div class="item-price">
          <span class="price-new">$998.00</span>
          <span class="price-old">$1128.00</span>
        </div>
        <div class="item-info">
          <ul class="rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li class="rating-value">2.5</li>
          </ul>
          <span class="info-separator"></span>
          <span class="info-orders">154 orders</span>
          <span class="info-separator"></span>
          <span class="info-shipping">Free Shipping</span>
        </div>
        <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua</p>
        <a class="btn-link">View details</a>
      </div>
      <div>
        <button class="item-wish" type="button">
          <i class="favorite-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="products-list-item">
    <div class="item-img">
      <img alt="" src="./assets/img/product-view-2.png"/>
    </div>
    <div class="item-details">
      <div class="item-container">
        <h4 class="item-title">GoPro HERO6 4K Action Camera - Black</h4>
        <div class="item-price">
          <span class="price-new">$998.00</span>
          <span class="price-old">$1128.00</span>
        </div>
        <div class="item-info">
          <ul class="rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li class="rating-value">4</li>
          </ul>
          <span class="info-separator"></span>
          <span class="info-orders">154
                                                        orders</span>
          <span class="info-separator"></span>
          <span class="info-shipping">Free Shipping</span>
        </div>
        <p class="item-description">Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua</p>
        <a class="btn-link">View details</a>
      </div>
      <div>
        <button class="item-wish" type="button">
          <i class="favorite-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="products-list-item">
    <div class="item-img">
      <img alt="" src="./assets/img/product-view-3.png"/>
    </div>
    <div class="item-details">
      <div class="item-container">
        <h4 class="item-title">GoPro HERO6 4K
          Action Camera - Black</h4>
        <div class="item-price">
          <span class="price-new">$998.00</span>
          <span class="price-old">$1128.00</span>
        </div>
        <div class="item-info">
          <ul class="rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li class="rating-value">5</li>
          </ul>
          <span class="info-separator"></span>
          <span class="info-orders">154
                                                        orders</span>
          <span class="info-separator"></span>
          <span class="info-shipping">Free Shipping</span>
        </div>
        <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua</p>
        <a class="btn-link" href="#">View details</a>
      </div>
      <div>
        <button class="item-wish" type="button">
          <i class="favorite-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="products-list-item">
    <div class="item-img">
      <img alt="" src="./assets/img/product-view-1.png"/>
    </div>
    <div class="item-details">
      <div class="item-container">
        <h4 class="item-title">Canon Camera EOS 2000, Black 10x zoom</h4>
        <div class="item-price">
          <span class="price-new">$998.00</span>
          <span class="price-old">$1128.00</span>
        </div>
        <div class="item-info">
          <ul class="rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li class="rating-value">2.5</li>
          </ul>
          <span class="info-separator"></span>
          <span class="info-orders">154 orders</span>
          <span class="info-separator"></span>
          <span class="info-shipping">Free Shipping</span>
        </div>
        <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua</p>
        <a class="btn-link">View details</a>
      </div>
      <div>
        <button class="item-wish" type="button">
          <i class="favorite-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="products-list-item">
    <div class="item-img">
      <img alt="" src="./assets/img/product-view-2.png"/>
    </div>
    <div class="item-details">
      <div class="item-container">
        <h4 class="item-title">GoPro HERO6 4K Action Camera - Black</h4>
        <div class="item-price">
          <span class="price-new">$998.00</span>
          <span class="price-old">$1128.00</span>
        </div>
        <div class="item-info">
          <ul class="rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li class="rating-value">3.5</li>
          </ul>
          <span class="info-separator"></span>
          <span class="info-orders">154
                                                        orders</span>
          <span class="info-separator"></span>
          <span class="info-shipping">Free Shipping</span>
        </div>
        <p class="item-description">Lorem ipsum
          dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua</p>
        <a class="btn-link">View details</a>
      </div>
      <div>
        <button class="item-wish" type="button">
          <i class="favorite-icon"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="products-list-item">
    <div class="item-img">
      <img alt="" src="./assets/img/product-view-3.png"/>
    </div>
    <div class="item-details">
      <div class="item-container">
        <h4 class="item-title">GoPro HERO6 4K
          Action Camera - Black</h4>
        <div class="item-price">
          <span class="price-new">$998.00</span>
          <span class="price-old">$1128.00</span>
        </div>
        <div class="item-info">
          <ul class="rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
            <li class="rating-value">3.2</li>
          </ul>
          <span class="info-separator"></span>
          <span class="info-orders">154
                                                        orders</span>
          <span class="info-separator"></span>
          <span class="info-shipping">Free Shipping</span>
        </div>
        <p class="item-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua</p>
        <a class="btn-link" href="#">View details</a>
      </div>
      <div>
        <button class="item-wish" type="button">
          <i class="favorite-icon"></i>
        </button>
      </div>
    </div>
  </div>

</div>
