<div>
  <div [ngClass]="collapsed ? 'sidenav-collapsed' : ''" class="sidenav">
    <div class="logo-container">
      <div *ngIf="collapsed" @fadeInOut class="logo-text">
        Menu
      </div>

      <button (click)="closeSidenav()" *ngIf="collapsed" @rotate class="close">
        <i class="close-icon w-icon"></i>
      </button>

    </div>

    <ul class="sidenav-nav">

      <li *ngFor="let data of navData" class="sidenav-nav-item">
        <a (click)="handleClick(data)" *ngIf="data.subCategories && data.subCategories.length > 0"
           class="sidenav-nav-link">
          <i [class]="data.icon" class="sidenav-link-icon w-icon"></i>
          <span *ngIf="collapsed" @fadeInOut class="sidenav-link-text">{{ data.name }}</span>
        </a>

        <a (click)="Navigate(data.id)"
           *ngIf="!data.subCategories || (data.subCategories && data.subCategories.length === 0)"
           class="sidenav-nav-link">
          <i [class]="data.icon" class="sidenav-link-icon w-icon"></i>
          <span *ngIf="collapsed" @fadeInOut class="sidenav-link-text">{{ data.name }}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
