<div>
  <div [ngClass]="collapsed ? 'sidenav-collapsed' : ''" class="sidenav">
    <div class="logo-container">
      <div *ngIf="collapsed" @fadeInOut class="logo-text">
        Menu
      </div>

      <button (click)="closeSidenav()" *ngIf="collapsed" @rotate class="close">
        <i class="close-icon w-icon"></i>
      </button>

    </div>

    <ul class="sidenav-nav">
      @for (data of navData; track data) {
        @if ((data.name === 'Usuarios' && user.role === 'Admin') || (data.name !== 'Usuarios' && data.name !== 'Descuentos' && data.name !== 'Pedidos') || (data.name === 'Descuentos' && (user.role === 'MarketingManager' || user.role === 'Admin')) || (data.name === 'Pedidos' && (user.role === 'SalesManager' || user.role === 'Admin'))) {
          <li class="sidenav-nav-item">
            <a (click)="Navigate(data.id)"
               class="sidenav-nav-link">
              <i [class]="data.icon" class="sidenav-link-icon w-icon"></i>
              <span *ngIf="collapsed" @fadeInOut class="sidenav-link-text">{{ data.name }}</span>
            </a>
          </li>
        }
      }
    </ul>
  </div>
</div>
