<div class="bg-image">
    <div class="container w-75 bg-primary mt-5 rounded shadow">
        <div class="row align-items-stretch">
            <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-7 rounded"></div>
            <div class="col bg-white p-5 rounded-end">
                <h2 class="fw-bold text-center py-3">Recuperar Acceso</h2>
                <p style="text-align:center;">A continuación, ingresa el correo de tu usuario.</p>
                <form action="#" [formControl]="forgotForm">
                    <div class="mb-4 input-wrap form-floating" [ngClass]="{'focus': emailFocused}">
                        <input #emailInput type="email" class="form-control contact-input" id="email"
                            placeholder="Email" required formControlName="email" (focus)="emailFocused = true"
                            (blur)="emailFocused = false" />
                        <label for="floatingInput">Email</label>
                        <i class="icon fa-solid fa-envelope"></i>
                        <h5 *ngIf="validate('email', 'required', emailFocused)">El Email es<strong> Requerido</strong>
                        </h5>
                        <h5 *ngIf="validate('email', 'minlength', emailFocused)">El Email es<strong> muy corto</strong>
                        </h5>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">
                                    Iniciar Sesión
                                </button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="d-grid">
                                <button type="submit" class="btn btn-danger">Enviar email</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>