<div class="dashboard">
  <div class="dashboard-cards">
    <div class="dashboard-card">
      <div class="dashboard-card-content">
        <div class="number">{{ salesCount }}</div>
        <div class="card-name">Ventas</div>
      </div>
      <mat-icon class="wallet-icon w-icon"></mat-icon>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-content">
        <div class="number">{{ quoteCount }}</div>
        <div class="card-name">Cotizaciónes</div>
      </div>
      <mat-icon class="quote-fill-icon w-icon"></mat-icon>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-content">
        <div class="number">{{ viewCount }}</div>
        <div class="card-name">Visitas</div>
      </div>
      <mat-icon class="view-icon w-icon"></mat-icon>
    </div>
    <div class="dashboard-card">
      <div class="dashboard-card-content">
        <div class="number">{{ gainsCount | currency }}</div>
        <div class="card-name">Ganancias</div>
      </div>
      <mat-icon class="cash-icon w-icon"></mat-icon>
    </div>
  </div>
  <div class="dashboard-data-container">
    <div class="last-appointments">
      <app-last-purchases></app-last-purchases>
    </div>
    <div class="last-appointments">
      <app-horizontal-bar-chart [values]="mostPurchasedProducts"></app-horizontal-bar-chart>
    </div>
    <!--    <div class="last-appointments">-->
    <!--      <app-buble-chart></app-buble-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-gauge-chart></app-gauge-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-heart-chart></app-heart-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-linear-gauge-chart></app-linear-gauge-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-number-card-chart></app-number-card-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-polar-chart></app-polar-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-tree-map-chart></app-tree-map-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-grouped-horizontal-bar></app-grouped-horizontal-bar>-->
    <!--    </div>-->

    <!--    <div class="last-appointments">-->
    <!--      <app-advanced-pie-chart></app-advanced-pie-chart>-->
    <!--    </div>-->

    <!--    <div class="last-appointments">-->
    <!--      <app-pie-grid-chart></app-pie-grid-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-normalized-vertical-bar-chart></app-normalized-vertical-bar-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-area-chart></app-area-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-normalized-area-chart></app-normalized-area-chart>-->
    <!--    </div>-->
  </div>
</div>
