<div>
  <div class="cards1">
    <div class="card1">
      <div class="card-content1">
        <div class="number">67</div>
        <div class="card-name">Ventas</div>
      </div>
      <div class="icon-box">
        <i class="fal fa-box-open"></i>
      </div>
    </div>
    <div class="card1">
      <div class="card-content1">
        <div class="number">105</div>
        <div class="card-name">Cotizaciónes</div>
      </div>
      <div class="icon-box">
        <i class="fa-regular fa-calendar-check"></i>
      </div>
    </div>
    <div class="card1">
      <div class="card-content1">
        <div class="number">8</div>
        <div class="card-name">Visitas</div>
      </div>
      <div class="icon-box">
        <i class="fa-regular fa-eye"></i>
      </div>
    </div>
    <div class="card1">
      <div class="card-content1">
        <div class="number">$4500</div>
        <div class="card-name">Ganancias</div>
      </div>
      <div class="icon-box">
        <i class="fas fa-dollar-sign"></i>
      </div>
    </div>
  </div>
  <div class="tables">
    <div class="last-appointments">
      <div class="heading">
        <h2>Ultimas compras</h2>
        <a class="btn" href="#">Ver todas</a>
      </div>
      <table class="appointments">
        <thead>
        <td>Name</td>
        <td>Doctor</td>
        <td>Condition</td>
        <td></td>
        </thead>
        <tbody>
        <tr>
          <td>Liam Smith Doe</td>
          <td>Dr. Benjamin</td>
          <td>fracture</td>
          <td></td>
        </tr>
        <tr>
          <td>Emma</td>
          <td>Dr. Noah</td>
          <td>depression</td>
          <td></td>
        </tr>
        <tr>
          <td>Olivia Smith</td>
          <td>Dr. Liam</td>
          <td>arthritis</td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="doctor-visiting">
      <div class="heading">
        <h2>Cotizaciónes</h2>
        <a class="btn" href="#">Ver todas</a>
      </div>
      <table class="visiting">
        <thead>
        <td>Photo</td>
        <td>Name</td>
        <td>Visit time</td>
        <td>Detail</td>
        </thead>
        <tbody>
        <tr>
          <td>
            <div class="img-box-small">
              <img alt="" src="doctor1.png">
            </div>
          </td>
          <td>Benjamin</td>
          <td>14:00</td>
          <td><i class="far fa-eye"></i></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--    <div class="last-appointments">-->
    <!--      <app-buble-chart></app-buble-chart>-->
    <!--    </div>-->
    <!--    <div class="doctor-visiting">-->
    <!--      <app-gauge-chart></app-gauge-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-heart-chart></app-heart-chart>-->
    <!--    </div>-->
    <!--    <div class="doctor-visiting">-->
    <!--      <app-linear-gauge-chart></app-linear-gauge-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-number-card-chart></app-number-card-chart>-->
    <!--    </div>-->
    <!--    <div class="doctor-visiting">-->
    <!--      <app-polar-chart></app-polar-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-tree-map-chart></app-tree-map-chart>-->
    <!--    </div>-->
    <!--        <div class="doctor-visiting">-->
    <!--          <app-grouped-horizontal-bar></app-grouped-horizontal-bar>-->
    <!--        </div>-->
    <div class="last-appointments">
      <app-horizontal-bar-chart></app-horizontal-bar-chart>
    </div>
    <!--    <div class="doctor-visiting">-->
    <!--      <app-advanced-pie-chart></app-advanced-pie-chart>-->
    <!--    </div>-->
    <div class="last-appointments">
      <app-pie-chart></app-pie-chart>
    </div>
    <!--    <div class="doctor-visiting">-->
    <!--      <app-pie-grid-chart></app-pie-grid-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-normalized-vertical-bar-chart></app-normalized-vertical-bar-chart>-->
    <!--    </div>-->
    <!--    <div class="doctor-visiting">-->
    <!--      <app-area-chart></app-area-chart>-->
    <!--    </div>-->
    <!--    <div class="last-appointments">-->
    <!--      <app-line-chart></app-line-chart>-->
    <!--    </div>-->
    <!--    <div class="doctor-visiting">-->
    <!--      <app-normalized-area-chart></app-normalized-area-chart>-->
    <!--    </div>-->
    <div class="last-appointments">
      <app-stacked-area-chart></app-stacked-area-chart>
    </div>
  </div>
</div>
