<div class="page-wrapper">
  <div class="terms-page">
    <div class="top-main">
      <div class="c-container">
        <div class="top-main-content">

          <mat-card class="terms-card">
            <mat-card-header>
              <mat-card-title>
                <h1>POLÍTICA DE PRIVACIDAD</h1>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="terms-content">
              <p class="terms-presentation">
                <strong>RosaFiesta</strong> se compromete a proteger la privacidad de los usuarios de su página web <a
                class="a-link" routerLink="www.rosafiesta.com">www.rosafiesta.com</a>. En esta Política de Privacidad se
                explica qué datos personales recopilamos, por qué los recopilamos y cómo los utilizamos.
              </p>
              <ol>
                <li>
                  Información que recopilamos
                </li>
                <p>
                  Recopilamos la siguiente información personal de los usuarios:
                </p>
                <ul class="mb-2">
                  <li>
                    Datos de contacto: nombre, dirección de correo electrónico y edad, las otras informaciones de pago
                    las recopila paypal.
                  </li>
                  <li>
                    Datos de navegación: historial de navegación, cookies.
                  </li>
                  <li>
                    Datos de uso del Sitio Web: información sobre cómo los usuarios utilizan el Sitio Web, como las
                    secciones de la pagina que visitan, los productos que consultan, etc.
                  </li>
                </ul>
                <li>
                  Finalidades del tratamiento
                </li>
                <p>
                  Utilizamos la información personal que recopilamos para los siguientes fines:
                </p>
                <ul class="mb-2">
                  <li>
                    Proporcionar los servicios solicitados por los usuarios: utilizamos la información de contacto para
                    responder a las consultas de los usuarios, tramitar los pedidos, etc.
                  </li>
                  <li>
                    Mejorar la experiencia de los usuarios: utilizamos los datos de navegación para mejorar la
                    funcionalidad del Sitio Web, mostrar publicidad personalizada, etc.
                  </li>
                  <li>
                    Analizar el uso del Sitio Web: utilizamos los datos de uso para analizar cómo los usuarios utilizan
                    el Sitio Web, con el fin de mejorar su experiencia y la calidad de los servicios que ofrecemos.
                  </li>
                </ul>
                <li>
                  Destinatarios de la información
                </li>
                <p>
                  La información personal que recopilamos puede ser compartida con los siguientes destinatarios:
                </p>
                <ul class="mb-2">
                  <li>
                    Empresas proveedoras de servicios: empresas que nos prestan servicios, como proveedores de
                    alojamiento web, pasarela de pago como paypal, etc.
                  </li>
                  <li>
                    Autoridades públicas: en caso de que sea necesario para cumplir con una obligación legal o para
                    hacer valer nuestros derechos.
                  </li>
                </ul>
                <li>
                  Derechos de los usuarios
                </li>
                <p>
                  Los usuarios tienen los siguientes derechos en relación con sus datos personales:
                </p>
                <ul class="mb-2">
                  <li>
                    Derecho de acceso: los usuarios tienen derecho a acceder a sus datos personales y a obtener
                    información sobre cómo se están utilizando.
                  </li>
                  <li>
                    Derecho de rectificación: los usuarios tienen derecho a rectificar sus datos personales si son
                    inexactos o incompletos.
                  </li>
                  <li>
                    Derecho de supresión: los usuarios tienen derecho a solicitar la supresión de sus datos personales
                    en los siguientes casos:
                    <ul>
                      <li>
                        Los datos ya no sean necesarios para los fines para los que fueron recogidos.
                      </li>
                      <li>
                        El usuario retira su consentimiento para el tratamiento de sus datos.
                      </li>
                      <li>
                        El usuario se opone al tratamiento de sus datos.
                      </li>
                      <li>
                        Los datos han sido tratados ilícitamente.
                      </li>
                    </ul>
                  </li>
                  <li>
                    Derecho de limitación del tratamiento: los usuarios tienen derecho a solicitar la limitación del
                    tratamiento de sus datos en los siguientes casos:
                    <ul>
                      <li>
                        El usuario impugna la exactitud de sus datos personales.
                      </li>
                      <li>
                        El tratamiento es ilícito y el usuario se opone a la supresión de sus datos.
                      </li>
                      <li>
                        El Responsable ya no necesita los datos para los fines para los que fueron recogidos, pero el
                        usuario los necesita para la formulación, el ejercicio o la defensa de reclamaciones.
                      </li>
                      <li>
                        El usuario se ha opuesto al tratamiento de sus datos, pero el Responsable debe verificar si
                        existen motivos legítimos imperiosos para el tratamiento.
                      </li>
                    </ul>
                  </li>
                </ul>
                <li>
                  Seguridad de los datos
                </li>
                <p>
                  El Responsable se compromete a tomar todas las medidas técnicas y organizativas necesarias para
                  garantizar la seguridad de los datos personales de los usuarios.
                </p>
                <li>
                  Actualizaciones de la Política de Privacidad
                </li>
                <p class="mb-2">
                  El Responsable puede actualizar la Política de Privacidad en cualquier momento. Los usuarios serán
                  notificados de cualquier cambio significativo en la Política de Privacidad a través de la página web.
                </p>
                <li>
                  Jurisdicción
                </li>
                <p class="mb-2">
                  La presente Política de Privacidad se rige por la ley de la República Dominicana.
                </p>
              </ol>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
