@if (images) {
  <nav class="sidenav bg-white">
    <button type="button" class="sidenav-hide-btn">
      <i class="fas fa-close"></i>
    </button>
    <div class="sidenav-wrapper">
      <div class="sidenav-top grid">
        <div class="avatar">
          <img src="./assets/icons/profile.svg" alt=""/>
        </div>
        <div class="links-group">
          <a href="#" class="text-dark text text-base">Sign in</a>
          <span>|</span>
          <a href="#" class="text-dark text text-base">Register</a>
        </div>
      </div>

      <div class="sidenav-main">
        <a href="#" class="sidenav-item grid">
          <span class="sidenav-item-icon"><i class="fas fa-list"></i></span>
          <span class="text text-base text-dark">Home</span>
        </a>
        <a href="#" class="sidenav-item grid">
          <span class="sidenav-item-icon"><i class="fas fa-home"></i></span>
          <span class="text text-base text-dark">Categories</span>
        </a>
        <a href="#" class="sidenav-item grid">
          <span class="sidenav-item-icon"><i class="fa-regular fa-heart"></i></span>
          <span class="text text-base text-dark">Favorites</span>
        </a>
        <a href="#" class="sidenav-item grid">
          <span class="sidenav-item-icon"><i class="fas fa-box"></i></span>
          <span class="text text-base text-dark">My orders</span>
        </a>
        <div class="sidenav-item-separator"></div>
        <a href="#" class="sidenav-item grid">
          <span class="sidenav-item-icon"><i class="fas fa-globe"></i></span>
          <span class="text text-base text-dark">English | USD</span>
        </a>
        <a href="#" class="sidenav-item grid">
          <span class="sidenav-item-icon"><i class="fas fa-headphones"></i></span>
          <span class="text text-base text-dark">Contact us</span>
        </a>
        <a href="#" class="sidenav-item grid">
          <span class="sidenav-item-icon"><i class="fas fa-building"></i></span>
          <span class="text text-base text-dark">About</span>
        </a>
        <div class="sidenav-item-separator"></div>
        <a href="#" class="sidenav-item grid">
          <span></span>
          <span class="text text-base text-dark">User agreement</span>
        </a>
        <a href="#" class="sidenav-item grid">
          <span></span>
          <span class="text text-base text-dark">Partnership</span>
        </a>
        <a href="#" class="sidenav-item grid">
          <span></span>
          <span class="text text-base text-dark">Privacy policy</span>
        </a>
      </div>
    </div>
  </nav>
}
