@if (images) {
  <section class="sc-services">
    <div class="c-container">
      <h3 class="title">Our extra services</h3>
      <div class="services-content">
        <div class="services-item overflow-hidden border-gray-200 border-radius-6">
          <div class="services-item-img">
            <img src="./assets/images/service-1.png" alt=""/>
          </div>
          <div class="services-item-info theme-p">
            <div class="services-item-icon flex items-center justify-center">
              <img src="./assets/icons/search.svg"/>
            </div>
            <p class="services-item-title font-medium text text-dark">Source from Industry Hubs</p>
          </div>
        </div>
        <div class="services-item overflow-hidden border-gray-200 border-radius-6">
          <div class="services-item-img">
            <img src="./assets/images/service-2.png" alt=""/>
          </div>
          <div class="services-item-info theme-p">
            <div class="services-item-icon flex items-center justify-center">
              <img src="./assets/icons/inventory.svg"/>
            </div>
            <p class="services-item-title font-medium text text-dark">Customize Your Products</p>
          </div>
        </div>
        <div class="services-item overflow-hidden border-gray-200 border-radius-6">
          <div class="services-item-img">
            <img src="./assets/images/service-3.png" alt=""/>
          </div>
          <div class="services-item-info theme-p">
            <div class="services-item-icon flex items-center justify-center">
              <img src="./assets/icons/send.svg"/>
            </div>
            <p class="services-item-title font-medium text text-dark">Fast, reliable shipping by
              ocean or air</p>
          </div>
        </div>
        <div class="services-item overflow-hidden border-gray-200 border-radius-6">
          <div class="services-item-img">
            <img src="./assets/images/service-4.png" alt=""/>
          </div>
          <div class="services-item-info theme-p">
            <div class="services-item-icon flex items-center justify-center">
              <img src="./assets/icons/security.svg"/>
            </div>
            <p class="services-item-title font-medium text text-dark">Product monitoring and
              inspection</p>
          </div>
        </div>
      </div>
    </div>
  </section>
}
