<div>
  <div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed' : ''">
    <div class="logo-container">
      
      <div class="logo-text" @fadeInOut *ngIf="collapsed">Categorías</div>
      
      <button class="close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
      </button>
      
    </div>
    
    <ul class="sidenav-nav">
      
      <li class="sidenav-nav-item" *ngFor="let data of navData">
        <a class="sidenav-nav-link" (click)="handleClick(data)" *ngIf="data.subCategories && data.subCategories.length > 0">
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.name}}</span>
          <i *ngIf="data.subCategories && collapsed" class="menu-collapse-icon"
            [ngClass]="!data.expanded ? 'fal fa-angle-right' : 'fal fa-angle-down'"></i>
        </a>

        <a class="sidenav-nav-link" *ngIf="!data.subCategories || (data.subCategories && data.subCategories.length === 0)" (click)="Navigate(data.id)">
          <i class="sidenav-link-icon" [class]="data.icon"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.name}}</span>

        </a>
        <div *ngIf="collapsed && data.subCategories && data.subCategories.length > 0">
          <app-sublevel-menu [data]="data" [collapsed]="collapsed" [multiple]="multiple"
            [expanded]="data.expanded"></app-sublevel-menu>
        </div>
      </li>
    </ul>
  </div>
</div>