<div class="bg-image">
  <div class="container w-75 bg-primary mt-5 mb-5 rounded shadow">
    <div class="row align-items-stretch">
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-7 rounded"></div>
      <div class="col bg-white p-5 rounded-end">
        <h2 class="fw-bold text-center py-3">Recuperar Acceso</h2>
        <p style="text-align:center;">A continuación, ingresa el correo de tu usuario.</p>
        <form [formGroup]="forgotForm" action="#">
          <div [ngClass]="{'focus': emailFocused}" class="mb-4 input-wrap form-floating">
            <input #emailInput (blur)="emailFocused = false" (focus)="emailFocused = true"
                   class="form-control contact-input" formControlName="email" id="email"
                   maxlength="253"
                   minlength="5" placeholder="Email" required
                   type="email"/>
            <label for="floatingInput">Email</label>
            <i class="icon fa-solid fa-envelope"></i>
            <h5 *ngIf="validate('email', 'required', emailFocused)">El Email es<strong> Requerido</strong>
            </h5>
            <h5 *ngIf="validate('email', 'minlength', emailFocused)">El Email es<strong> muy corto</strong>
            </h5>
          </div>
          <div class="auth-section">
            <button class="btn btn-primary" routerLink="/auth" type="submit">
              <i class="login-icon w-icon"></i>
              Iniciar Sesión
            </button>
            <button (click)="forgotPassword(forgotForm.value)" [disabled]="!forgotForm.valid" class="btn btn-danger"
                    type="submit"><i class="email-icon w-icon"></i>Enviar email
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
