<div class="products-blocks">
  <app-products-head (search)="search($event)" [categoryName]="selectedCategory?.name"
                     [total]="products.length"></app-products-head>
  <div class="products-section">
    <app-filter-tags (removeCondition)="removeCondition.emit()"
                     (removeRangeValue)="removeRangeValue.emit()" (removeRating)="removeRating.emit()"
                     [categoryName]="selectedCategory?.name" [endValue]="endValue"
                     [selectedCondition]="selectedCondition"
                     [selectedRating]="selectedRating"
                     [startValue]="startValue"></app-filter-tags>
    @if (paginatedProducts$ | async; as paginatedProducts) {
      <app-product-cards [products]="paginatedProducts"></app-product-cards>
    }
  </div>
  <app-products-pagination (handlePageEvent)="handlePageEvent($event)"
                           (initializePaginator)="initializePaginator($event)"
                           [length]="length" [pageEvent]="pageEvent" [pageIndex]="pageIndex"
                           [pageSize]="pageSize"></app-products-pagination>
</div>
