@if (categories$ | async; as categories) {
  <section class="top-main">
    <div class="c-container">
      <div class="top-main-content">
        <div class="categories-list">
          <span class="category-title">Buscar por Categoría</span>
          <hr>
          @for (category of categories; track category.id) {
            <span class="category-item" (click)="selectCategory(category.id)">{{ category.name }}</span>
          }
        </div>
        <div class="banner-slider">
          @if (images) {
            <app-carousel [images]="images"></app-carousel>
          }
        </div>


        <div class="offers">
          @if (!isAuthenticated) {
            <div class="offers-block-join">

              <div class="join-user">
                <div class="avatar"><img alt="" src="./assets/icons/avatar.svg"/></div>
                <div>
                  <p class="join-user-text">
                    Hola usuario</p>
                  <p class="join-user-text">
                    ¡Vamos a empezar!
                  </p>
                </div>
              </div>
              <div class="join-section">
                <button class="btn btn-sm btn-success "
                        routerLink="/auth"><i
                  class="register-icon w-icon"></i>Unirse
                </button>
                <button class="btn btn-sm btn-primary"
                        routerLink="/auth/register"><i
                  class="login-icon w-icon"></i>Acceder
                </button>
              </div>
            </div>
          }
          <div class="offers-block-off">
            Llevamos tus pedidos a tu destino
          </div>
          <div class="offers-block-quote">
            Puedes solicitar una cotizacion de cualquier producto
          </div>
        </div>
      </div>
    </div>
  </section>
}
