@use "../abstracts" as a

.details-page
  justify-content: center
  padding-top: 3rem
  padding-bottom: 1.5rem

  .top-main
    width: 100%

    &-content
      display: grid
      row-gap: 20px

  .details-top
    background-color: a.$white
    display: grid
    border: 1px solid a.$gray-200
    border-radius: 6px
    grid-template-columns: 40% 55%
    padding: 20px 20px 20px 20px
    gap: 24px
    align-items: flex-start
    justify-content: center

    @include a.breakpoint-down(xl)
      grid-template-columns: 40% auto

    @include a.breakpoint-down(md)
      grid-template-columns: 100%

    @include a.breakpoint-down(sm)
      padding: 12px

  .details-top-r
    display: grid
    grid-template-columns: 70% auto
    gap: 24px

    @include a.breakpoint-down(xl)
      grid-template-columns: 100%

    .details-product
      .details-header
        margin-bottom: 1rem
        @include a.v-flex()
        gap: 6px

        p
          margin: 0

        .condition
          text-decoration: none
          text-transform: uppercase
          background: #2175f5
          color: #fff
          padding: 0 0.3rem
          transition: all 0.5s ease
          font-size: 18px
          font-weight: 600
          letter-spacing: 1px
          border-radius: 3px

        .condition:hover
          opacity: 0.9


    .details-info
      @include a.flexbox($align: center)
      flex-wrap: wrap

      .rating
        @include a.v-flex()

  .details-preview
    display: grid
    grid-template-columns: 100%
    grid-template-rows: 300px 100px
    width: 100%
    overflow: hidden
    row-gap: 1rem

    @include a.breakpoint-down(md)
      max-width: 400px
      margin-right: auto
      margin-left: auto

  .preview-large
    border-radius: 6px
    border: 1px solid a.$gray-200
    @include a.flexbox($align: center, $justify: center)
    overflow: hidden
    height: 300px
    @include a.breakpoint-down(lg)
      border: none

  .preview-thumbnail
    overflow-y: hidden
    overflow-x: auto
    gap: 4px
    @include a.flexbox($align: center, $justify: space-between)

    .thumbnail-item
      border: 1px solid a.$gray-200
      border-radius: 6px
      overflow: hidden
      width: 100px
      height: 100px
      cursor: pointer

      &.active
        border-color: a.$gray-600

      &:hover
        border-color: a.$gray-500

  .details-title
    @include a.text($weight: 700, $size: a.$text-lg)
    margin: 5px 0 12px 0
    line-height: 1.3

  .details-review
    @include a.text()
    color: a.$gray-500
    @include a.v-flex()
    column-gap: 10px

    span
      @include a.text()

  .details-data
    .data-row
      margin: 8px 0
      grid-template-columns: 120px auto
      gap: 20px
      display: grid

      @include a.breakpoint-down(sm)
        margin: 4px 0

      &-wrapper
        border-bottom: 1px solid a.$gray-200
        padding: 4px 0

        @include a.breakpoint-down(xl)
          &:nth-child(2)
            display: flex
            flex-wrap: wrap
            column-gap: 24px

            .data-row
              grid-template-columns: auto auto

        @include a.breakpoint-down(sm)
          &:nth-child(2)
            flex-direction: column

            .data-row
              grid-template-columns: 120px auto

      &-h, &-d
        @include a.text()
        @include a.v-flex()

      &-h
        color: a.$gray-500

      &-d
        color: a.$gray-600

  .details-supplier
    &-wrapper
      border-radius: 6px
      border: 1px solid a.$gray-200
      padding: 20px 16px
      gap: 6px
      display: flex
      flex-direction: column
      justify-content: center

      @include a.breakpoint-down(sm)
        padding: 12px

      .stock-status
        margin-bottom: 0
        @include a.text()
        color: a.$pastel-green

    .supplier-service
      padding: 14px 0

  &
    display: flex
    flex-wrap: wrap
    column-gap: 20px

    @include a.breakpoint-down(xl)
      padding: 10px 0

    .btn-group
      display: flex
      flex-direction: column

      .btn-white
        color: a.$blue

      @include a.breakpoint-down(xl)
        flex-direction: row
        column-gap: 10px

      @include a.breakpoint-down(sm)
        justify-content: space-between
        .btn
          width: 50%

    .btn-wishlist
      width: auto
      @include a.flexbox($align: center, $justify: center)
      margin: 20px 0

      span
        margin-right: 6px
        @include a.text()
        @include a.v-flex()
        text-align: center

  .sc-related
    padding: 20px 0

    .product-item
      border: none
      padding: 0
      margin-right: 4px
      margin-left: 4px

      .item-img
        background-color: #eee
        width: 100%

        img
          max-width: 150px

  .details-bottom
    grid-template-columns: 72% auto
    gap: 20px
    display: grid

    @include a.breakpoint-down(lg)
      grid-template-columns: 100%

  .details-suggest
    background-color: a.$white
    @include a.border()

    .suggest-title
      @include a.text($weight: 600)
      color: a.$dark

    .suggest-products-list
      display: grid
      padding: 20px 0
      gap: 16px

      @include a.breakpoint-down(lg)
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))

      .product-item
        @include a.border()
        overflow: hidden

        .item-img
          overflow: hidden
          @include a.flexbox($align: center, $justify: center)

        .item-info
          span
            @include a.text($weight: 600)
            color: a.$dark

          p
            @include a.text()
            color: a.$gray-500

.wide-banner
  background: url("../../../assets/img/blue-bg.png") center/cover no-repeat
  padding: 28px 30px
  color: a.$white

  &-text
    opacity: 0.7

  &-content
    @include a.flexbox($align: center, $justify: space-between)
    @include a.breakpoint-down(md)
      flex-direction: column
      row-gap: 16px
      text-align: center

      .wide-banner-container
        h4
          @include a.text(600, a.$text-xl)
          color: a.$white

        .wide-banner-text
          @include a.text(400, a.$text-base)
          color: a.$white

  @include a.breakpoint-down(lg)
    padding: 20px 22px

  @include a.breakpoint-down(sm)
    padding: 16px 18px
