<nav class="header fixed-top" id="navbar">
  <div class="header-content">
    <div class="header-top">
      <div class="site-brand">
        <button (click)="toggleSideNav.emit()" class="sidebar-open-btn--ms" type="button">
          <img alt="" class="d-icon" src="./assets/icons/menu-bars.svg"/>
        </button>
        <a class="site-brand-wrapper">
          <img alt="" class="brand-icon" src="./assets/img/logo.png"/>
          <span class="brand-text" routerLink="/main-page">Rosa<span class="brand-text-second">Fiesta</span></span>
        </a>
      </div>
      <form [formGroup]="searchForm" class="hdr-search-bar">
        @if (categories$ | async; as categories) {
          <mat-form-field [formGroup]="searchForm">
            <mat-select disableOptionCentering="true" formControlName="categoryId" required panelClass="custom-select"
                        [disableRipple]="true" type="number">
              <mat-option [value]="0">Categoría</mat-option>
              @for (category of categories; track category) {
                <mat-option [value]="category.id">{{ category.name }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        }
        <input formControlName="search" maxlength="100" minlength="3" placeholder="Buscar ..." required type="text"/>
        <button (click)="searchProducts(searchForm.value)" [disabled]="!searchForm.valid" type="submit">
          <span class="search-icon"></span>
        </button>
      </form>

      <div class="hdr-navigation-bar--ms">
        <a class="hdr-nav-item--ms" href="#"><img alt="" class="h-icon" src="./assets/icons/shopping-cart.svg"/></a>
        @if (user) {
          <div [ngbPopover]="dropdown" class="hdr-nav-icon" display="dynamic"
               ngbDropdown placement="bottom-end">
            <ngx-avatars [name]="user.userName" size="30"></ngx-avatars>
            <ng-template #dropdown>
              <div class="user-drop">
                <a class="item" routerLink="/intranet/settings"><i
                  class="settings-icon"></i>Configuración</a>
                <a class="item" routerLink="/intranet/wishlist"><i
                  class="favorite-icon"></i>Lista de
                  deseos</a>
                <a class="item" routerLink="/intranet/my-orders"><i
                  class="orders-icon"></i>Mis
                  ordenes</a>
                <hr class="mt-2 mb-2">
                <a (click)="logout.emit()" class="item"><i
                  class="logout-icon"></i>Salir</a>
              </div>
            </ng-template>
          </div>
          <span class="hdr-nav-text">{{ user.userName }}</span>
        }
      </div>


      <ul class="hdr-navigation-bar">
        <li (click)="messageWhatsapp()" class="hdr-nav-item">
          <div class="hdr-nav-icon">
            <img alt="" class="h-icon" src="./assets/icons/message.svg"/>
          </div>
          <span class="hdr-nav-text">Escribenos</span>
        </li>
        <ng-container *ngIf="user; else elseBlock">
          <li class="hdr-nav-item" routerLink="/intranet/my-orders">
            <div class="hdr-nav-icon">
              <img alt="" class="h-icon" src="./assets/icons/orders.svg"/>
            </div>
            <span class="hdr-nav-text">Ordenes</span>
          </li>
          <div display="dynamic" ngbDropdown placement="bottom-end">
            <li class="hdr-nav-item align-items-start" id="dropdownForm1"
                ngbDropdownToggle>
              <div class="hdr-nav-icon px-0">
                <img alt="" class="h-icon" src="./assets/icons/shopping-cart.svg"/>
                <div class="cart-items">
                  <p>{{ totalItems | number }}</p>
                </div>
              </div>
              <span class="hdr-nav-text">Carrito</span>
            </li>
            <div aria-labelledby="dropdownForm1" ngbDropdownMenu>
              <app-cart (total)="total($event)" [totalItems]="totalItems"></app-cart>
            </div>
          </div>
          <li class="hdr-nav-item">
            <div [ngbPopover]="dropdown" class="hdr-nav-icon" display="dynamic"
                 ngbDropdown placement="bottom-end">
              <ngx-avatars [name]="user.userName" size="30"></ngx-avatars>
              <ng-template #dropdown>
                <div class="user-drop">
                  <a class="item" routerLink="/intranet/settings"><i
                    class="settings-icon"></i>Configuración</a>
                  <a class="item" routerLink="/intranet/wishlist"><i
                    class="favorite-icon"></i>Lista de
                    deseos</a>
                  <a class="item" routerLink="/intranet/my-orders"><i
                    class="orders-icon"></i>Mis
                    ordenes</a>
                  <hr class="mt-2 mb-2">
                  <a (click)="logout.emit()" class="item"><i
                    class="logout-icon"></i>Salir</a>
                </div>
              </ng-template>
            </div>
            <span class="hdr-nav-text">{{ user.userName }}</span>
          </li>
        </ng-container>
        <ng-template #elseBlock>
          <button class="btn btn-primary login-button" routerLink="/auth"
                  type="button">
            <div class="d-inline-flex">
              <i class="login-icon w-icon me-1"></i>
              <p class="m-0">Iniciar Sesión
              </p>
            </div>
          </button>
        </ng-template>
      </ul>
    </div>
  </div>

  <div class="navigation">
    <div class="navigation-content">
      <div (click)="ToggleCollapsed()" class="navigation-left">
        <button class="sidenav-show-btn" type="button">
          <img alt="" class="d-icon" src="./assets/icons/menu-bars.svg"/>
        </button>
        <ul class="navigation-menu">
          <li class="menu-item"><a class="menu-link">Abrir menu </a></li>
          <!--          <li class="menu-item"><a class="menu-link" href="#">Ofertas</a></li>-->
          <!--          <li class="menu-item"><a class="menu-link">Help</a></li>-->
        </ul>
      </div>
      <div class="navigation-right">
        <div class="col-md-auto left-side">
          <div class="nav-item d-inline-flex">
            <a class="nav-link" routerLink="/main-page">
              <div class="d-inline-flex">
                <i class="home-icon d-icon"></i>
                <p class="m-0">Home</p>
              </div>
            </a>
            <a class="nav-link" routerLink="/products/search">
              <div class="d-inline-flex">
                <i class="products-icon d-icon"></i>
                <p class="m-0">Productos</p>
              </div>
            </a>
            <a class="nav-link" routerLink="/main-page/about-us">
              <div class="d-inline-flex">
                <i class="info-circle-icon d-icon"></i>
                <p class="m-0">Nosotros</p>
              </div>
            </a>
            @if (user && user.role !== 'Client') {
              <div display="dynamic" ngbDropdown placement="bottom-end">
                <a aria-labelledby="navbarDropdown3" class="nav-link" id="adminMenu"
                   ngbDropdownToggle>

                  <div class="d-inline-flex">
                    <i class="admin-icon d-icon"></i>
                    <p class="m-0">Admin</p>
                  </div>
                </a>
                <div aria-labelledby="adminMenu" ngbDropdownMenu>
                  <div class="admin-dropdown">
                    <a class="dropdown-item" routerLink="/admin/inventory"><i
                      class="inventory-icon me-1"></i>Inventario</a>
                    <a class="dropdown-item" routerLink="/admin/dashboard"><i
                      class="dashboard-icon me-1"></i>Panel
                      de
                      Admin</a>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
