<nav aria-label="Sixth navbar example" class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark navbar-sm"
     id="navbar">
  <div class="container-fluid">
    <ng-container *ngIf="main; else elseMain">
      <a class="navbar-brand fw-semibold" routerLink="/main-page"><span class="logo-img"></span>RosaFiesta</a>
    </ng-container>
    <ng-template #elseMain>
      <div (click)="ToggleCollapsed()" class="navbar-brand">
        <i class="menu-bars-icon categories"></i>
        <p class="m-0">Categorías</p>
      </div>
    </ng-template>

    <button aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
            data-bs-target="#navbarsExample06" data-bs-toggle="collapse" type="button">
      <i class="caret-down-fil-icon"></i>
    </button>

    <div class="collapse navbar-collapse " id="navbarsExample06">
      <ul class="navbar-nav me-auto">
        <nav class="nav row nav-masthead">
          <div class="col-md-auto left-side">
            <div class="nav-item d-inline-flex">
              <a class="nav-link" routerLink="/products/search">
                <div class="d-inline-flex">
                  <i class="products-icon me-1"></i>
                  <p class="m-0">Productos</p>
                </div>
              </a>
              <a class="nav-link" routerLink="/main-page/about-us">
                <div class="d-inline-flex">
                  <i class="info-circle-icon me-1"></i>
                  <p class="m-0">Nosotros</p>
                </div>
              </a>
              <div display="dynamic" ngbDropdown placement="bottom-end">
                <a aria-labelledby="navbarDropdown3" class="nav-link" id="adminMenu"
                   ngbDropdownToggle>
                  <div class="d-inline-flex">
                    <i class="admin-icon me-1"></i>
                    <p class="m-0">Admin</p>
                  </div>
                </a>
                <div aria-labelledby="adminMenu" ngbDropdownMenu>
                  <div class="admin-dropdown">
                    <a class="dropdown-item" routerLink="/admin/inventory"><i
                      class="inventory-icon me-1"></i>Inventario</a>
                    <a class="dropdown-item" routerLink="/admin/dashboard"><i
                      class="dashboard-icon me-1"></i>Panel
                      de
                      Admin</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-auto right-side">
            <div class="input-group input-group-sm flex-nowrap">
              <input aria-label="Buscar" class="input-search" focus
                     placeholder="Buscar..."
                     type="search">
              <div class="input-group-text">
                <i class="search-icon"></i>
              </div>
            </div>
            <ng-container *ngIf="isAuthenticated; else elseBlock">
              <div class="d-inline-block ps-0 pe-0" display="dynamic" ngbDropdown placement="bottom-end">
                <div aria-labelledby="navbarDropdown3" class="navbar-cart" id="dropdownForm1"
                     ngbDropdownToggle>
                  <div class="navbar-cart-items">
                    <p>{{totalItems | number}}</p>
                  </div>
                  <i class="shopping-cart-icon"></i>
                </div>
                <div aria-labelledby="dropdownForm1" ngbDropdownMenu>
                  <app-cart (total)="total($event)" [totalItems]="totalItems"></app-cart>
                </div>
              </div>
              <div #myDrop="ngbDropdown" [ngbPopover]="dropdown" class="d-flex ps-0 pe-0" display="dynamic"
                   ngbDropdown placement="bottom-end">
                <div class="d-flex navbar-user">
                  <ngx-avatars (click)="myDrop.toggle();" [name]="userName" size="30"></ngx-avatars>
                </div>
                <ng-template #dropdown>
                  <div class="user-dropdown">
                    <a routerLink="/profile">{{userName}}</a>
                    <hr class="mt-2 mb-2">
                    <a routerLink="/config"><i
                      class="settings-icon"></i>&nbsp;&nbsp;Configuración</a>
                    <a routerLink="/my-wish-lists"><i
                      class="favorite-icon"></i>&nbsp;&nbsp;Lista de
                      deseos</a>
                    <a routerLink="/my-orders"><i
                      class="orders-icon"></i>&nbsp;&nbsp;Mis
                      ordenes</a>
                    <hr class="mt-2 mb-2">
                    <a (click)="Logout()"><i
                      class="logout-icon"></i>&nbsp;&nbsp;Salir</a>
                  </div>
                </ng-template>
              </div>
            </ng-container>
            <ng-template #elseBlock>
              <button class="btn btn-primary login-button" routerLink="/auth"
                      type="button">
                <div class="d-inline-flex">
                  <i class="login-icon me-1"></i>
                  <p class="m-0">Iniciar Sesión
                  </p>
                </div>
              </button>
            </ng-template>
          </div>
        </nav>
      </ul>
    </div>
  </div>
</nav>
