<header class="header fixed-top" id="navbar">
  <div class="header-content">
    <div class="header-top">
      <div class="site-brand">
        <button class="sidebar-open-btn--ms" type="button">
          <img alt="" class="d-icon" src="./assets/icons/menu-bars.svg"/>
        </button>
        <a class="site-brand-wrapper">
          <img alt="" class="brand-icon" src="./assets/img/logo.png"/>
          <span class="brand-text">Rosa<span class="brand-text-second">Fiesta</span></span>
        </a>
      </div>

      <form class="hdr-search-bar">
        <div class="select-wrapper">
          <select>
            <option>Categoria</option>
            <option>Accessories</option>
            <option>Gadgets</option>
            <option>Clothing</option>
          </select>
        </div>
        <input placeholder="Search" type="text"/>
        <button class="searchbar-btn"
                type="submit">Search
        </button>
      </form>

      <div class="hdr-navigation-bar--ms">
        <a class="hdr-nav-item--ms" href="#"><img alt="" class="h-icon" src="./assets/icons/shopping-cart.svg"/></a>
        <a class="hdr-nav-item--ms" href="#"><img alt="" class="h-icon" src="./assets/icons/profile.svg"/></a>
      </div>

      <ul class="hdr-navigation-bar">
        <li class="hdr-nav-item">
          <div class="hdr-nav-icon">
            <img alt="" class="h-icon" src="./assets/icons/profile.svg"/>
          </div>
          <span class="hdr-nav-text">Profile</span>
        </li>
        <li class="hdr-nav-item">
          <div class="hdr-nav-icon">
            <img alt="" class="h-icon" src="./assets/icons/message.svg"/>
          </div>
          <span class="hdr-nav-text">Message</span>
        </li>
        <li class="hdr-nav-item">
          <div class="hdr-nav-icon">
            <img alt="" class="h-icon" src="./assets/icons/orders.svg"/>
          </div>
          <span class="hdr-nav-text">Orders</span>
        </li>
        <li class="hdr-nav-item">
          <div class="hdr-nav-icon">
            <img alt="" class="h-icon" src="./assets/icons/shopping-cart.svg"/>
          </div>
          <span class="hdr-nav-text">My Cart</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="navigation">
    <div class="navigation-content">
      <div class="navigation-left">
        <button class="sidenav-show-btn" type="button">
          <img alt="" class="d-icon" src="./assets/icons/menu-bars.svg"/>
        </button>
        <ul class="navigation-menu">
          <li class="menu-item"><a class="menu-link" href="#">All category</a></li>
          <li class="menu-item"><a class="menu-link" href="#">Hot offers</a></li>
          <li class="menu-item"><a class="menu-link" href="#">Gift boxes</a></li>
          <li class="menu-item"><a class="menu-link" href="#">Discounts</a></li>
          <li class="menu-item"><a class="menu-link" href="#">Watchlist</a></li>
          <li class="menu-item"><a class="menu-link">Help</a></li>
        </ul>
      </div>
      <div class="navigation-right">
        <div class="currency-options">
          <div class="selected">
            <div class="option-text">English, USD</div>
            <span><img alt="" class="h-icon" src="./assets/icons/caret-down-fil.svg"/></span>
          </div>
          <div class="currency-options-list">
            <div class="currency-option">
              <div class="option-text">India, INR</div>
            </div>
            <div class="currency-option">
              <div class="option-text">Nepal, NPR</div>
            </div>
            <div class="currency-option">
              <div class="option-text">France, FRANC</div>
            </div>
            <div class="currency-option">
              <div class="option-text">Canada, Canadian Dollar</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
