.bg-color {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(135deg, #43CBFF 10%, #9708CC 100%);
  padding: 60px 0;
  font-family: 'Roboto', sans-serif;
}

.containers {
  width: 90%;
  margin: 0 auto;
}

.title {
  margin-bottom: 0px;
  padding-bottom: 40px;
  text-align: center;
  position: relative;
}

.title::before {
  content: "";
  width: 200px;
  height: 3px;
  background: #dbdbdb;
  opacity: .6;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}

.title::after {
  content: '\f005';
  font-family: FontAwesome;
  color: #dbdbdb;
  width: 50px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  bottom: 10%;
  left: 50%;
  background: #eee;
  transform: translateX(-50%);
  font-size: 16px;
}

.title p {
  color: #999;
  font-style: italic;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 1rem;
}

.title h2 {
  font-size: 44px;
  color: #131313;
  font-weight: 900;
  text-align: center;
  text-transform: uppercase;
}

.title span {
  color: #fa0;
}

.card {
  transition: all .2s ease-in-out 0s;
  border-radius: 3px;
}

.card-main {
  position: relative;
  /* overflow: hidden; */
}

.discount {
  background: #fa0;
  z-index: 3;
  position: absolute;
  font-weight: 700;
  color: #fff;
  text-align: center;
  display: block;
  text-transform: uppercase;
  width: 70px;
  height: 30px;
  border-radius: 0 15px 15px 0;
  line-height: 30px;
  font-style: italic;
  left: -9px;
  top: 30px;

}

.discount::after {
  border-top: 6px solid #c80;
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  border-left: 8px solid transparent;
  border-right: 0px solid transparent;
}

.label {
  position: absolute;
  bottom: 84px;
  left: 10px;
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 2;
  line-height: 100%;
  color: #fff;
  border-radius: 3px;
}

.label-green {
  padding: 5px 8px;
  background-color: #5cb85c;
}

.image img {
  width: 100%;
  height: 100%;
}

.cart-line {
  height: 2px;
  background: #f1f1f1;
}

.cart-item {
  text-align: center;
  line-height: 45px;
  background-color: #111;
  transition: all 1s ease-in-out;
  opacity: 0;
  position: relative;
  top: -30px;
}

.cart-item ul {
  padding: 0;
  margin: 0;
}

.cart-item ul li {
  display: inline-block;
  list-style-type: none;
  position: relative;
}

.cart-item ul li::after {
  content: "";
  width: 1px;
  height: 18px;
  background: rgba(255, 255, 255, .15);
  position: absolute;
  left: -2px;
  top: 10px;
}

.cart-item ul li:first-child:after {
  display: none;
}

.cart-item ul li a {
  padding: 0 18px;
  color: #ccc;
}

.cart-item ul li a:hover {
  color: #fa0;
}

.card:hover .cart-item {
  opacity: 1;
  top: 0;
}

.content {
  padding: 16px 0;
  text-align: center;
}

.content a {
  font-size: 16px;
  color: #555;
  font-weight: 700;
  text-transform: capitalize;
  transition: all .3s;
  text-decoration: none;
}

.content a:hover {
  color: #fa0;
  text-decoration: none;
}

.content p {
  margin-bottom: 0;
}

.content .money {
  font-size: 20px;
  color: #fa0;
  font-weight: 700;
  font-style: italic;
  margin-right: 6px;
}

.content .price-old {
  line-height: 18px;
  display: inline-block;
  text-decoration: line-through;
  color: #888;
  font-style: italic;
  font-weight: 400;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.rating i {
  color: #fa0;
  line-height: 22px;
  margin: 0 2px;
  font-size: 12px;
}

.content .color-price .color-option {
  display: flex;
  align-items: center;
}

.color-price {
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

.color-price .color-option .color {
  font-size: 18px;
  font-weight: 500;
  color: #333;
  margin-right: 8px;
}

.color-option .circles {
  display: flex;
}

.color-option .circles .circle {
  height: 18px;
  width: 18px;
  background: #0071C7;
  border-radius: 50%;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.color-option .circles .circle.blue.active {
  box-shadow: 0 0 0 2px #fff,
  0 0 0 4px #0071C7;
}

.color-option .circles .circle.pink {
  background: #FA1795;
}

.color-option .circles .circle.pink.active {
  box-shadow: 0 0 0 2px #fff,
  0 0 0 4px #FA1795;
}

.color-option .circles .circle.yellow {
  background: #F5DA00;
}

.color-option .circles .circle.yellow.active {
  box-shadow: 0 0 0 2px #fff,
  0 0 0 4px #F5DA00;
}

.color-price .price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.color-price .price .price_num {
  font-size: 25px;
  font-weight: 600;
  color: #707070;
}

.color-price .price .price_letter {
  font-size: 10px;
  font-weight: 600;
  margin-top: -4px;
  color: #707070;
}

.content .button {
  position: relative;
  width: 80%;
  // i want this button in center
  margin: 0 auto;
  border-radius: 25px;
  margin-top: 10px;
  overflow: hidden;
}

.content .button .button-layer {
  position: absolute;
  height: 100%;
  width: 300%;
  left: -100%;
  background-image: linear-gradient(135deg, #9708CC, #43CBFF, #9708CC, #43CBFF);
  transition: all 0.4s ease;
  border-radius: 25PX;
}

.content .button:hover .button-layer {
  left: 0;
}

.content .button button {
  position: relative;
  height: 100%;
  width: 100%;
  background: none;
  outline: none;
  border: none;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}

.card-main .logo-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-main .logo-cart i {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.card-main .logo-cart i {
  font-size: 27px;
  color: #707070;
  cursor: pointer;
  transition: color 0.3s ease;
}

.card-main .logo-cart i:hover {
  color: #333;
}
