<div class="main">
    <div class="cards1">
        <div class="card1">
            <div class="card-content1">
                <div class="number">67</div>
                <div class="card-name">Ventas</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>
        <div class="card1">
            <div class="card-content1">
                <div class="number">105</div>
                <div class="card-name">Cotizaciónes</div>
            </div>
            <div class="icon-box">
                <i class="fa-solid fa-calendar-check"></i>
            </div>
        </div>
        <div class="card1">
            <div class="card-content1">
                <div class="number">8</div>
                <div class="card-name">Operations</div>
            </div>
            <div class="icon-box">
                <i class="fas fa-bed"></i>
            </div>
        </div>
        <div class="card1">
            <div class="card-content1">
                <div class="number">$4500</div>
                <div class="card-name">Earnings</div>
            </div>
            <div class="icon-box">
                <i class="fas fa-dollar-sign"></i>
            </div>
        </div>
    </div>
    <div class="tables">
        <div class="last-appointments">
            <div class="heading">
                <h2>Ultimas compras</h2>
                <a href="#" class="btn">Ver todas</a>
            </div>
            <table class="appointments">
                <thead>
                    <td>Name</td>
                    <td>Doctor</td>
                    <td>Condition</td>
                    <td></td>
                </thead>
                <tbody>
                    <tr>
                        <td>Liam Smith Doe</td>
                        <td>Dr. Benjamin</td>
                        <td>fracture</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Emma</td>
                        <td>Dr. Noah</td>
                        <td>depression</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Olivia Smith </td>
                        <td>Dr. Liam</td>
                        <td>arthritis</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="doctor-visiting">
            <div class="heading">
                <h2>Cotizaciónes</h2>
                <a href="#" class="btn">Ver todas</a>
            </div>
            <table class="visiting">
                <thead>
                    <td>Photo</td>
                    <td>Name</td>
                    <td>Visit time</td>
                    <td>Detail</td>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="img-box-small">
                                <img src="doctor1.png" alt="">
                            </div>
                        </td>
                        <td>Benjamin</td>
                        <td>14:00</td>
                        <td><i class="far fa-eye"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>