<div class="cover-container">
  <div class="info-container">
    <h1>Rosa Fiesta</h1>
    <p class="about-text">Somos una empresa dedicada a la planificación, organización y elaboración de eventos,
      ofrecemos los servicios de alquiler y la venta de productos necesarios para la realización de eventos.
    </p>
    <div class="contact-container">
      <div class="info">
        <p class="section-title">Contactanos: </p>
        <div class="information">
          <img alt="" class="icon" height="25" src="../../../assets/icons/location.png" width="34"/>
          <p>Puedes visitarnos en nuestra sucursal ubicada en San Cristóbal, Osvaldo Bazil, #35.</p>
        </div>
        <div class="information">
          <img alt="" class="icon" height="25" src="../../../assets/icons/email.png" width="34"/>
          <p> Puedes contactarnos a nuestro correo haciendo click en <a
            href="mailto:rosalbapp@gmail.com">Rosalbapp&#64;gmail.com</a>
          </p>
        </div>
        <div class="information">
          <img alt="" class="icon" height="25" src="../../../assets/icons/phone.png" width="34"/>
          <p> O marcando al teléfono <a
            href="tel:+18497505944">+1 849-750-5944</a></p>
        </div>
        <div class="social-media">
          <p class="section-title">Redes Sociales: </p>
          <div class="social-icons">
            <div>
              <i class="fab fa-facebook-f"></i>
              <a href="https://facebook.com/RosaFiestaRD" target="_blank">RosaFiestaRD</a>
            </div>
            <div>
              <i class="fab fa-instagram"></i>
              <a href="https://www.instagram.com/rosafiestard/" target="_blank">RosaFiestaRD</a>
            </div>
            <div>
              <i class="fab fa-whatsapp"></i>
              <a href="https://wa.link/xwr3nh" target="_blank">+1 (829) 942-4971</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-container">
    <app-footer></app-footer>
  </div>
</div>
