@if (productForm$ | async; as productForm) {
  <div class="management-form dual-form">
    <div class="left-form">
      <span class="circle one"></span>
      <span class="circle two"></span>
      <form [formGroup]="productForm" autocomplete="off">
        <h3 class="management-form-title">{{ title }}</h3>
        <div class="management-input-container" isFocus>
          <input class="management-input" formControlName="code" maxlength="500" minlength="3" type="text"/>
          <label class="management-label">Código</label>
          <span class="management-span">Código</span>
          <h5 *ngIf="validate('code', 'minlength')">El Código es<strong> muy Corto</strong></h5>
        </div>
        <div class="form-check form-switch">
          <input class="management-input" class="form-check-input" formControlName="isService" id="isService"
                 role="switch" type="checkbox">
          <label class="form-check-label text-white" for="isService">Es Servicio</label>
        </div>

        @if (read) {
          <div class=" management-input-container" isFocus>
            <input class="management-input"
                   formControlName="createdAt"
                   readOnly type="text"/>
            <label class="management-label">Fecha de Creación</label>
            <span class="management-span">Fecha de Creación</span>
          </div>
          <div class=" management-input-container" isFocus>
            <input class="management-input" formControlName="createdBy" readOnly type="text"/>
            <label class="management-label">Creado por</label>
            <span class="management-span">Creado por</span>
          </div>
          <div class=" management-input-container" isFocus>
            <input class="management-input"
                   formControlName="updatedAt"
                   readOnly type="text"/>
            <label class="management-label">Fecha de Modificación</label>
            <span class="management-span">Fecha de Modificación</span>
          </div>
          <div class=" management-input-container" isFocus>
            <input class="management-input" formControlName="updatedBy" readOnly type="text"/>
            <label class="management-label">Modificado por</label>
            <span class="management-span">Modificado por</span>
          </div>
        }

        @if (!read) {
          <div class="management-input-container" isFocus>
            <div class="input-group flex-nowrap">
              <input class="management-input" #optionsInput formControlName="options" type="text"/>
              <button (click)="addNewOption(optionsInput.value)" [disabled]="optionsInput.value.length < 3"
                      class="input-group-text btn btn-outline-light bi pe-2 ps-2">
                <i class="fas fa-plus "></i>
              </button>
            </div>
            <label class="management-label">Opciones</label>
            <span class="management-span">Opciones</span>
            <div *ngIf="validate('options', 'minlength')">El nombre de la SubCategoría
              es<strong> muy corto</strong>
            </div>
          </div>
        }

        @if (options.length > 0) {
          <div class="management-input-container">
            <ol *ngFor="let option of options; let i = index" class="list-group list-group-numbered ">
              <li>
                <div class="input-group flex-nowrap">
                  <button (click)="selectOption(i)" class="w-100 btn text-md-start list btn-outline-light"
                          type="text">{{
                      i +
                      1
                    }}. {{ option.title }}
                  </button>
                  <button (click)="SelectFirst(i)" [disabled]="read" [ngClass]="{'focus': optionFirst === i}"
                          class="btn btn-outline-light list pe-2 ps-2 input-group-text first">
                    <i class="fa-solid fa-1"></i>
                  </button>
                  <button (click)="removeOption(i)" [disabled]="read"
                          class="btn btn-outline-light list pe-2 ps-2 input-group-text">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </li>
            </ol>
          </div>
        }
        <mat-form-field appearance="fill" class="management-input-container" isFocus>
          <input class="management-input" #categoryInput [value]="categoryForm?.name"
                 [matAutocomplete]="categoryAutocomplete" matInput (input)="verifyNullCategory(categoryInput.value)"
                 type="search"/>
          <label class="management-label">Categoría</label>
          <span class="management-span">Categoría</span>
          <mat-autocomplete (optionSelected)="onSelect($event.option.value, 'category')"
                            #categoryAutocomplete="matAutocomplete"
                            [displayWith]="displayModule">
            <mat-option *ngFor="let category of categories | filterRoles: categoryInput.value"
                        [value]="category">
              {{ category.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-icon class="caret-down-icon" matSuffix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" class="management-input-container" isFocus>
          <input class="management-input" #warrantyInput [value]="warrantyForm?.name"
                 [matAutocomplete]="warrantyAutocomplete" matInput (input)="verifyNullWarranty(warrantyInput.value)"
                 type="search"/>
          <label class="management-label">Garantía</label>
          <span class="management-span">Garantía</span>
          <mat-autocomplete #warrantyAutocomplete="matAutocomplete"
                            (optionSelected)="onSelect($event.option.value, 'warranty')" [displayWith]="displayModule">
            <mat-option *ngFor="let warranty of warranties | filterRoles: warrantyInput.value"
                        [value]="warranty">
              {{ warranty.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-icon class="caret-down-icon" matSuffix></mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" class="management-input-container" isFocus>
          <input class="management-input" #supplierInput
                 [matAutocomplete]="supplierAutocomplete" matInput (input)="verifyNullSupplier(supplierInput.value)"
                 [value]="supplierForm?.name"
                 type="search"/>
          <label class="management-label">Suplidor</label>
          <span class="management-span">Suplidor</span>
          <mat-autocomplete (optionSelected)="onSelect($event.option.value, 'supplier')" [displayWith]="displayModule"
                            #supplierAutocomplete="matAutocomplete">
            <mat-option *ngFor="let supplier of suppliers | filterRoles: supplierInput.value"
                        [value]="supplier">
              {{ supplier.name }}
            </mat-option>
          </mat-autocomplete>
          <mat-icon class="caret-down-icon" matSuffix></mat-icon>
        </mat-form-field>
        <div *ngIf="update == false; else updateCat" class="d-flex justify-content-between">
          <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
          <input (click)="AddProduct(productForm.value)" *ngIf="read == false" [disabled]="!productForm.valid"
                 class="btn submit" type="submit" value="Crear"/>
        </div>
        <ng-template #updateCat>
          <div class="d-flex justify-content-between">
            <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
            <input (click)="updateProduct(productForm.value)" [disabled]="!productForm.valid" class="btn submit"
                   type="submit" value="Actualizar"/>
          </div>
        </ng-template>
      </form>
    </div>
    <div *ngIf="optionForm != null" class="right-form">
      <form [formGroup]="optionForm" autocomplete="off">
        <h3 class="management-form-title">{{ optionTitle }}</h3>
        <div class="management-input-container" isFocus>
          <input class="management-input" formControlName="title" required type="text"/>
          <label class="management-label">Título *</label>
          <span class="management-span">Título *</span>
          <h5 *ngIf="validateOption('title', 'required')">El Título es<strong> Requerido</strong>
          </h5>
          <h5 *ngIf="validateOption('title', 'minlength')">El Título es<strong> muy Corto</strong>
          </h5>
        </div>
        <div class="management-input-container">
          <app-upload-images [imageFirst]="imageFirst" [multiple]="true" [pictures]="pictures" [read]="read"
                             [uploadFiles]="uploadFiles"></app-upload-images>
        </div>
        <div class="management-input-container textarea" isFocus>
          <textarea class="management-input" formControlName="description" maxlength="1000" minlength="3" required
                    type="text"></textarea>
          <label class="management-label">Descripción *</label>
          <span class="management-span">Descripción *</span>
          <h5 *ngIf="validateOption('description', 'required')">La Descripción
            es<strong>Requerida</strong></h5>
          <h5 *ngIf="validateOption('description', 'minlength')">La Descripción es<strong> muy
            Corta</strong></h5>
        </div>
        <div class="management-input-container" isFocus>
          <input class="management-input" formControlName="price" required type="number"/>
          <label class="management-label">Precio</label>
          <span class="management-span">Precio</span>
          <h5 *ngIf="validateOption('price', 'required')">El Precio es<strong> Requerido</strong>
          </h5>
        </div>
        <div class="management-input-container" isFocus>
          <input class="management-input" formControlName="quantityAvailable" required type="number"/>
          <label class="management-label">Cantidad Disponible *</label>
          <span class="management-span">Cantidad Disponible *</span>
          <h5 *ngIf="validateOption('quantityAvailable', 'required')">La Cantidad
            Disponible
            es<strong> Requerida</strong>
          </h5>
          <h5 *ngIf="validateOption('quantityAvailable', 'min')">La Cantidad Disponible
            es<strong> muy Corta</strong></h5>
        </div>
        <div class="management-input-container" isFocus>
          <input [cpPosition]="'top'" [(colorPicker)]="color" [style.background]="color"
                 required [cpOKButton]="true"
                 class="management-input management-input"
                 [readonly]="true" [cpCancelButton]="true" (colorPickerSelect)="colorChange($event)"
                 formControlName="color" type="text"/>
          <label class="management-label">Color *</label>
          <span class="management-span">Color *</span>
          <h5 *ngIf="validateOption('color', 'required')">El Color es<strong>
            Requerido</strong>
          </h5>
          <h5 *ngIf="validateOption('color', 'min')">El Color es<strong> muy
            Corto</strong></h5>
        </div>
        <div class="row group">
          <div class="col">
            <div class="management-input-container" isFocus>
              <select aria-label=".form-select-sm example"
                      class="management-input input form-select form-select-sm"
                      formControlName="genderFor" required type="number">
                <option selected=1 value=1>Varón</option>
                <option value=2>Hembra</option>
                <option value=3>Ambos</option>
              </select>
              <label class="management-label">Genero *</label>
              <span class="management-span">Genero *</span>
            </div>
          </div>
          <div class="col">
            <div class="management-input-container" isFocus>
              <select aria-label=".form-select-sm example"
                      class="management-input input form-select form-select-sm"
                      formControlName="condition" required type="number">
                <option selected value=1>Nuevo</option>
                <option value=2>Usado</option>
                <option value=3>Renovado</option>
              </select>
              <label class="management-label">Condición *</label>
              <span class="management-span">Condición *</span>
            </div>
          </div>
        </div>
        <div *ngIf="updateOption == false; else updateOp" class="d-flex justify-content-between">
          <input (click)="cancelOption()" class="btn btn-outline-light bi" type="submit" value="Cancelar"/>
          <input (click)="saveOption(optionForm.value)" [disabled]="!optionForm.valid" class="btn submit" type="submit"
                 value="Añadir"/>
        </div>
        <ng-template #updateOp>
          <div class="d-flex justify-content-between">
            <input (click)="cancelOption()" class="btn btn-outline-light bi" type="submit" value="Cancelar"/>
            <input (click)="updateOpt(optionForm.value)" *ngIf="this.read == false" [disabled]="!optionForm.valid"
                   class="btn submit" type="submit" value="Actualizar"/>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
}
