<section class="sc-inquiry">
  <div class="c-container">
    <div class="inquiry-content">
      <div class="inquiry-text">
        <h2>An easy way to send requests to all suppliers</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt.</p>
      </div>
      <div class="inquiry-form">
        <form>
          <p class="form-title">Send quote to suppliers</p>
          <div class="form-elem">
            <input class="form-elem-control" placeholder="What item you need?" type="text">
          </div>
          <div class="form-elem">
            <textarea class="form-elem-control" placeholder="Type more details"></textarea>
          </div>
          <div class="form-elems">
            <div class="form-elem">
              <input class="form-elem-control" placeholder="Quantity" type="text">
            </div>
            <div class="form-elem">
              <div class="select-wrapper">
                <select class="form-elem-control" id="" name="">
                  <option disabled selected value="">Pcs</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
                </select>
              </div>
            </div>
          </div>
          <button class="btn btn-primary" type="submit">Send inquiry</button>
        </form>
      </div>
    </div>
  </div>
</section>
