<div class="page-wrapper">
  <div class="terms-page">
    <div class="top-main">
      <div class="c-container">
        <div class="top-main-content">

          <mat-card class="terms-card">
            <mat-card-header>
              <mat-card-title>
                <h1>TÉRMINOS Y CONDICIONES</h1>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="terms-content">
              <p class="terms-presentation">
                <strong>Rosa Fiesta</strong> es una empresa dedicada a la venta de productos decorativos y la prestación
                de
                servicios
                de decoración. Estos términos y condiciones regulan la relación contractual entre el Vendedor RosaFiesta
                y los
                usuarios que
                realizan compras a través de la página web de RosaFiesta.
              </p>
              <ol>
                <li>Objeto</li>
                <p>Los Términos regulan la compraventa de productos decorativos y la prestación de servicios de
                  decoración por
                  parte del
                  Vendedor al Cliente a través de la Página Web.
                </p>
                <li>Condiciones de acceso a la Página Web</li>
                <p>Para acceder a la Página Web, el Cliente debe ser mayor de 18 años y tener capacidad legal para
                  celebrar
                  contratos. El
                  acceso a la Página Web es gratuito y no requiere registro.
                </p>
                <li>Datos personales</li>
                <p>El Cliente se compromete a proporcionar al Vendedor datos de contacto veraces y lícitos, por ejemplo,
                  dirección
                  de
                  correo electrónico, dirección postal y/u otros datos.
                </p>
                <li>Productos y servicios</li>
                <p>Los productos y servicios ofrecidos por el Vendedor a través de la Página Web se describen con
                  detalle en las
                  fichas
                  de producto y en las condiciones particulares de venta.
                </p>
                <li>Precios</li>
                <p>Los precios de los productos y servicios se indican en la Página Web en moneda estado unidense (USD).
                  Los
                  precios
                  incluyen
                  el IVA.
                </p>
                <!--                <li>Gastos de envío</li>-->
                <!--                <p>Los gastos de envío de los productos se calculan en función del destino y del peso de los productos.-->
                <!--                  Los gastos-->
                <!--                  de-->
                <!--                  envío se indican en la Página Web en el momento de la compra.-->
                <!--                </p>-->
                <li>Proceso de compra</li>
                <p>El proceso de compra se realiza a través de la Página Web siguiendo los pasos indicados. El Cliente
                  debe
                  proporcionar
                  sus datos de contacto y elegir el método de pago.
                </p>
                <li>Métodos de pago</li>
                <p>Los métodos de pago disponibles son tarjeta de crédito, paypal y en caso de cotización, transferencia
                  bancaria.
                </p>
                <li>Envío de los productos</li>
                <p>El Vendedor se compromete a enviar los productos en un plazo acorde a las condiciones del envío. El
                  envío se realiza a través de una empresa de transporte.
                </p>
                <li>Entrega de los productos</li>
                <p>El Cliente debe comprobar el estado de los productos en el momento de la entrega. Si el Cliente
                  detecta algún
                  defecto
                  o anomalía, debe comunicarlo al Vendedor en un plazo máximo de 7 días naturales a partir de la
                  entrega.
                </p>
                <li>Devoluciones</li>
                <p>El Cliente tiene derecho a devolver los productos en un plazo máximo de 14 días naturales a partir de
                  la
                  entrega. El
                  Cliente debe ponerse en contacto con el Vendedor para solicitar la devolución.
                </p>
                <li>Garantía</li>
                <p>Los productos están cubiertos por la garantía legal de dos años. La garantía cubre los defectos de
                  fabricación y
                  los
                  materiales.
                </p>
                <li>Resolución del contrato</li>
                <p>El Vendedor se reserva el derecho a resolver el contrato en caso de incumplimiento por parte del
                  Cliente de las
                  obligaciones establecidas en los Términos.
                </p>
                <li>Jurisdicción</li>
                <p>Las partes se someten, a su elección, para la resolución de los conflictos y litigios que pudieran
                  surgir de la
                  interpretación o ejecución de los presentes Términos, a los juzgados y tribunales de la República
                  Dominicana.
                </p>
                <li>Notificaciones</li>
                <p>Todas las notificaciones y comunicaciones entre las partes se realizarán por escrito y se entenderán
                  eficaces, a
                  todos
                  los efectos, cuando se realicen a través de correo electrónico, correo postal o cualquier otro medio
                  de
                  comunicación
                  que permita dejar constancia de su recepción.
                </p>
                <li>Ley aplicable</li>
                <p>Los presentes Términos se rigen por la ley de la República Dominicana.
                </p>

              </ol>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
