.caret-down-fil-icon
  content: url("./caret-down-fil.svg")

.analytics-icon
  content: url("./analytics.svg")

.caret-down-icon
  content: url("./chevron_down.svg")

.delete-user-fill-icon
  content: url("./delete-user-fill.svg")

.shipping-icon
  content: url("./shipping.svg")

.secure-icon
  content: url("./secure.svg")

.operator-icon
  content: url("./operator.svg")

.terms-icon
  content: url("./terms.svg")

.policy-icon
  content: url("./policy.svg")

.conditions-icon
  content: url("./conditions.svg")

.avatar-icon
  content: url("./avatar.jpg")

.key-icon
  content: url("./key.svg")

.menu-bars-icon
  content: url("./menu-bars.svg")

.list-icon
  content: url("./list.svg")

.return-icon
  content: url("./return.svg")

.quote-icon
  content: url("./quote.svg")

.quote-fill-icon
  content: url("./quotefill.svg")

.cash-icon
  content: url("./cash.svg")

.info-circle-icon
  content: url("./info-circle.svg")

.products-icon
  content: url("./products.svg")

.inventory-icon
  content: url("./inventory.svg")

.dashboard-icon
  content: url("./dashboard.svg")

.add-icon
  content: url("./add.svg")

.party-icon
  content: url("./party.svg")

.close-small-icon
  content: url("./close-small.svg")

.oficialize-icon
  content: url("./oficialize.svg")

.admin-icon
  content: url("./admin.svg")

.search-icon
  content: url("./search.svg")

.login-icon
  content: url("./login.svg")

.shopping-cart-icon
  content: url("./shopping-cart.svg")

.settings-icon
  content: url("./settings.svg")

.favorite-icon
  content: url("./favorite.svg")

.orders-icon
  content: url("./orders.svg")

.logout-icon
  content: url("./logout.svg")

.profile-icon
  content: url("./profile.svg")

.user-icon
  content: url("./user-fill.svg")

.message-icon
  content: url("./message.svg")

.home-icon
  content: url("./home.svg")

.close-icon
  content: url("./close.svg")

.tag-icon
  content: url("./tag.svg")

.view-icon
  content: url("./view.svg")

.edit-icon
  content: url("./edit.svg")

.percent-icon
  content: url("./percent.svg")

.share-icon
  content: url("./share.svg")

.truck-icon
  content: url("./truck.svg")

.certified-icon
  content: url("./certified.svg")

.wallet-icon
  content: url("./wallet.svg")

.delete-icon
  content: url("./delete.svg")

.delete-all-icon
  content: url("./delete_all.svg")

.register-icon
  content: url("./register.svg")

.support-icon
  content: url("./support.svg")

.email-icon
  content: url("./email.svg")

.whatsapp-icon
  height: 20px
  content: url("./whatsapp.svg")

.refund-icon
  content: url("./refund.svg")

.print-icon
  content: url("./print.svg")

.download-icon
  content: url("./download.svg")

.h-icon
  filter: invert(62%) sepia(16%) saturate(298%) hue-rotate(175deg) brightness(92%) contrast(89%)

.d-icon
  filter: invert(7%) sepia(16%) saturate(191%) hue-rotate(316deg) brightness(95%) contrast(91%)

.w-icon
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(100%) contrast(103%)

.r-icon
  filter: invert(40%) sepia(44%) saturate(5751%) hue-rotate(342deg) brightness(98%) contrast(94%)

.p-icon
  filter: invert(28%) sepia(68%) saturate(1594%) hue-rotate(213deg) brightness(85%) contrast(86%)
