.caret-down-fil-icon
  content: url("./caret-down-fil.svg")

.menu-bars-icon
  content: url("./menu-bars.svg")

.list-icon
  content: url("./list.svg")

.return-icon
  content: url("./return.svg")

.info-circle-icon
  content: url("./info-circle.svg")

.products-icon
  content: url("./products.svg")

.inventory-icon
  content: url("./inventory.svg")

.dashboard-icon
  content: url("./dashboard.svg")

.admin-icon
  content: url("./admin.svg")

.search-icon
  content: url("./search.svg")

.login-icon
  content: url("./login.svg")

.shopping-cart-icon
  content: url("./shopping-cart.svg")

.settings-icon
  content: url("./settings.svg")

.favorite-icon
  content: url("./favorite.svg")

.orders-icon
  content: url("./orders.svg")

.logout-icon
  content: url("./logout.svg")

.profile-icon
  content: url("./profile.svg")

.user-icon
  content: url("./user-fill.svg")

.message-icon
  content: url("./message.svg")

.home-icon
  content: url("./home.svg")

.close-icon
  content: url("./close.svg")

.tag-icon
  content: url("./tag.svg")

.percent-icon
  content: url("./percent.svg")

.share-icon
  content: url("./share.svg")

.truck-icon
  content: url("./truck.svg")

.certified-icon
  content: url("./certified.svg")

.wallet-icon
  content: url("./wallet.svg")

.delete-icon
  content: url("./delete.svg")

.delete-all-icon
  content: url("./delete_all.svg")

.h-icon
  filter: invert(62%) sepia(16%) saturate(298%) hue-rotate(175deg) brightness(92%) contrast(89%)

.d-icon
  filter: invert(7%) sepia(16%) saturate(191%) hue-rotate(316deg) brightness(95%) contrast(91%)

.w-icon
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(100%) contrast(103%)
