<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <main class="px-3">
            <h1>Rosa Fiesta</h1>
            <p class="text">Somos una empresa dedicada a la planificación, organización y elaboración de eventos,
                ofrecemos los servicios de alquiler y la venta de productos necesarios para la realización de eventos.
            </p>
            <p class="lead">
                Nuestra sucursal esta ubicada en San Cristóbal, Osvaldo Bazil, #35.
            </p>
            <div class="info">
                <div class="information">
                    <img src="assets/icons/location.png" class="icon" alt="" width="34" height="34" />
                    <p>92 Cherry Drive Uniondale, NY 11553</p>
                </div>
                <div class="information">
                    <img src="assets/icons/email.png" class="icon" alt="" width="34" height="34" />
                    <p>rosalbapp@gmail.com</p>
                </div>
                <div class="information">
                    <img src="assets/icons/phone.png" class="icon" alt="" width="34" height="34" />
                    <p>+1 849-750-5944</p>
                </div>
            </div>
            


            <p class="lead">
                Puedes ponerte en contacto con nosotros por medio de nuestras redes sociales:
            </p>
            

            

            <div class="social-media">
                <p>Connect with us :</p>
                <div class="social-icons">
                    <a href="#">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                </div>
            </div>

            <p class="lead">
                O por nuestro correo: <a href="mailto:rosalbapp@gmail.com">rosalbapp@gmail.com</a>
            </p>
        </main>
        <app-footer></app-footer>
    </div>
</body>