<div class="modal-content">
  <div class="modal-header shadow">
    <h4 class="modal-title" id="modal-title">{{ title }}</h4>
    <button (click)="Close()" aria-describedby="modal-title" aria-label="Close button" class="btn-close"
            type="button"></button>
  </div>
  <div class="modal-body p-0 py-5 d-flex justify-content-center align-items-center">
    <share-buttons [autoSetMeta]="false"
                   [include]="['facebook', 'whatsapp',  'telegram', 'copy', 'twitter', 'email', 'pinterest', 'Messenger', 'Print']"
                   [showText]="true"
                   [show]="5" [theme]="'circles-dark'"
                   [url]="shareUrl" description="{{ productTitle }}">
    </share-buttons>
  </div>
  <div class="modal-footer">
    <button (click)="Close()" class="btn btn-primary" ngbAutofocus type="button">Ok</button>
  </div>
</div>
