<div class="bg-image">
  <div class="container w-50 bg-primary mt-5 mb-5 rounded shadow">
    <div class="row align-items-stretch">
      <div class="col bg-white p-5 rounded-end">
        <h2 class="fw-bold text-center py-3">Restablecer Contraseña</h2>
        <p style="text-align:center">A continuación, ingresa tu nueva contraseña.</p>
        <form [formGroup]="changeForm">
          <div class="mb-4 input-wrap form-floating">
            <input class="form-control contact-input" formControlName="oldPassword"
                   id="oldPassword" maxlength="256" minlength="8" placeholder="Contraseña Antigua"
                   required type="password"/>
            <label for="floatingInput">Contraseña Antigua</label>
            <i class="icon fa-solid fa-lock"></i>
            <h5 *ngIf="validate('oldPassword', 'required')">La Contraseña es<strong>
              Requerida</strong></h5>
            <h5 *ngIf="validate('oldPassword', 'minlength')">La Contraseña es<strong> muy
              corta</strong></h5>
          </div>
          <div class="mb-4 input-wrap form-floating">
            <input class="form-control contact-input"
                   formControlName="password" id="password" maxlength="256" minlength="8"
                   placeholder="Nueva Contraseña" required
                   type="password"/>
            <label for="floatingInput">Nueva Contraseña</label>
            <i class="icon fa-solid fa-lock"></i>
            <h5 *ngIf="validate('password', 'required')">La Contraseña
              es<strong>
                Requerida</strong></h5>
            <h5 *ngIf="validate('password', 'minlength' )">La Contraseña
              es<strong> muy
                corta</strong></h5>
          </div>
          <div class="mb-4 input-wrap form-floating">
            <input class="form-control contact-input"
                   formControlName="confirmPassword" id="confirmPassword" maxlength="256" minlength="8"
                   placeholder="Confirmar Contraseña" required
                   type="password"/>
            <label for="floatingInput">Confirmar Contraseña</label>
            <i class="icon fa-solid fa-lock"></i>
            <h5 *ngIf="validate('confirmPassword', 'required')">La Contraseña
              es<strong>
                Requerida</strong></h5>
            <h5 *ngIf="validate('confirmPassword', 'minlength' )">La Contraseña
              es<strong> muy
                corta</strong></h5>
          </div>
          <div class="d-flex justify-content-end">
            <button (click)="changePassword(changeForm.value)" [disabled]="!changeForm.valid" class="btn btn-danger"
                    type="submit">Restablecer Contraseña
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
