.btn-groups {
    align-content: center;
}

.btn-groups input {
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    outline: 0;
    margin-right: 0.2rem;
}

.btn-groups button {
    font-family: inherit;
    text-transform: uppercase;
    padding: 0 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-groups button .fas {
    margin-right: 8px;
}

.add-cart-btn {
    background-color: #FF9F00;
    border: 2px solid #FF9F00;
    margin-right: 8px;
    border-radius: 25px;
}

.add-cart-btn:hover {
    background-color: #fff;
    color: #FF9F00 !important;
}

.buy-now-btn {
    background-color: #000;
    border: 2px solid #000;
    border-radius: 25px;
}

.buy-now-btn:hover {
    background-color: #fff;
    color: #000 !important;
}


.table-bordered td {
    border: none !important;
}

.center img {
    position: relative;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
    height: 162px;
    width: 250px;
    margin: 20px 0px;
}

h4,
h6 {
    font-weight: 400;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.card-table {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: none;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
}