<ng-container>
    <div class="container ">
        <div class="card-table">
            <div class="cart-product">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>C.</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of this.details">
                            <td><img style="width: 120px;" src="{{product.option.image | imgPath}}" alt=""></td>
                            <td>{{product.option.title}}</td>
                            <td>{{product.option.price | currency}}</td>
                            <td><input formControlName="quantity" type="number" min="0" value={{product.quantity}} step="1" enabled></td>
                            <td>{{product.quantity * product.option.price | currency}}</td>
                            <td>
                                <button class="btn btn-danger p-1"><i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row ps-2">
                    <div class="col-md-3">
                        <strong>Total: {{totalPrice | currency}}</strong>
                    </div>
                    <div class="btn-groups col-md-9 d-flex justify-content-between ">
                        <button type="button" class="buy-now-btn mb-2"><i class="fas fa-wallet"></i>COMPRAR</button>
                        <button type="button" class="add-cart-btn mb-2 me-2"><i class="fas fa-shopping-cart"></i>Limpiar carrito</button> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>