<footer class="footer bg-white">
  <div class="container">
    <div class="footer-content grid">
      <div class="footer-item">
        <a class="site-brand flex items-center" href="#">
          <img class="brand-icon" src="./assets/icons/site_logo.svg"/>
          <img class="brand-text" src="./assets/icons/brand.svg"/>
        </a>
        <p class="text text-gray-600 brand-intro text-base">Best information about the company gies here but now lorem
          ipsum is</p>
        <ul class="social-links flex">
          <li><a href="#"><img src="./assets/icons/facebook.svg"/></a></li>
          <li><a href="#"><img src="./assets/icons/twiitter.svg"/></a></li>
          <li><a href="#"><img src="./assets/icons/linkedin.svg"/></a></li>
          <li><a href="#"><img src="./assets/icons/instagram.svg"/></a></li>
          <li><a href="#"><img src="./assets/icons/youtube.svg"/></a></li>
        </ul>
      </div>

      <div class="footer-item">
        <p class="footer-item-title font-medium text-dark">About</p>
        <div class="footer-links">
          <a class="text-gray-500 text" href="#">About Us</a>
          <a class="text-gray-500 text" href="#">Find store</a>
          <a class="text-gray-500 text" href="#">Categories</a>
          <a class="text-gray-500 text" href="#">Blogs</a>
        </div>
      </div>

      <div class="footer-item">
        <p class="footer-item-title font-medium text-dark">Partnership</p>
        <div class="footer-links">
          <a class="text-gray-500 text" href="#">Our Partners</a>
          <a class="text-gray-500 text" href="#">Branches</a>
          <a class="text-gray-500 text" href="#">Suppliers</a>
          <a class="text-gray-500 text" href="#">Programs</a>
        </div>
      </div>

      <div class="footer-item">
        <p class="footer-item-title font-medium text-dark">Information</p>
        <div class="footer-links">
          <a class="text-gray-500 text" href="#">Help Center</a>
          <a class="text-gray-500 text" href="#">Money Refund</a>
          <a class="text-gray-500 text" href="#">Shipping</a>
          <a class="text-gray-500 text" href="#">Contact Us</a>
        </div>
      </div>

      <div class="footer-item">
        <p class="footer-item-title font-medium text-dark">For users</p>
        <div class="footer-links">
          <a class="text-gray-500 text" href="#">Login</a>
          <a class="text-gray-500 text" href="#">Register</a>
          <a class="text-gray-500 text" href="#">Settings</a>
          <a class="text-gray-500 text" href="#">My Orders</a>
        </div>
      </div>

      <div class="footer-item">
        <p class="footer-item-title font-medium text-dark">Get app</p>
        <div class="store-links flex flex-col">
          <a class="store-link" href="#"><img src="./assets/icons/app_store.png"/></a>
          <a class="store-link" href="#"><img src="./assets/icons/google_play.png"/></a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom text-center">
    <p class="footer-text text-gray-800">&copy; 2023 Ecommerce.</p>
  </div>
</footer>
