<footer class="footer">
  <div class="c-container">
    <div class="footer-content">
      <div class="footer-item">
        <a class="site-brand-wrapper" href="#">
          <img alt="" class="brand-icon" src="./assets/img/logo.png"/>
          <span class="brand-text" routerLink="/main-page">Rosa<span class="brand-text-second">Fiesta</span></span>
        </a>
        <p class="brand-intro">Siguenos en nuestras redes sociales</p>
        <ul class="social-links">
          <li><a href="#"><img src="./assets/icons/facebook.svg"/></a></li>
          <li><a href="#"><img src="./assets/icons/twiitter.svg"/></a></li>
          <li><a href="#"><img src="./assets/icons/linkedin.svg"/></a></li>
          <li><a href="#"><img src="./assets/icons/instagram.svg"/></a></li>
          <li><a href="#"><img src="./assets/icons/youtube.svg"/></a></li>
        </ul>
      </div>
      <div class="footer-item">
        <p class="footer-item-title">Nosotros</p>
        <div class="footer-links">
          <a routerLink="/main-page/about-us">Información</a>
          <a href="/main-page/contact-us">Contactanos</a>
          <a routerLink="/products/search">Categorías</a>
        </div>
      </div>

      <!--      <div class="footer-item">-->
      <!--        <p class="footer-item-title">Patrocinado</p>-->
      <!--        <div class="footer-links">-->
      <!--          <a href="#">Patrocinadores</a>-->
      <!--          <a href="#">Suplidores</a>-->
      <!--          <a href="#">Programas</a>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="footer-item">-->
      <!--        <p class="footer-item-title">Soporte</p>-->
      <!--        <div class="footer-links">-->
      <!--          <a href="#">Reembolso de Dinero</a>-->
      <!--          <a href="#">Envío</a>-->
      <!--          <a href="#">Contactanos</a>-->
      <!--        </div>-->
      <!--      </div>-->

      <!--      <div class="footer-item">-->
      <!--        <p class="footer-item-title">Get app</p>-->
      <!--        <div class="store-links">-->
      <!--          <a class="store-link" href="#"><img src="./assets/icons/app_store.png"/></a>-->
      <!--          <a class="store-link" href="#"><img src="./assets/icons/google_play.png"/></a>-->
      <!--        </div>-->
      <!--      </div>-->
    </div>
  </div>
  <div class="footer-bottom">
    <p class="footer-text">&copy; 2023 Ecommerce.</p>
  </div>
</footer>
