@use '../abstracts' as a

.footer
  background-color: a.$white

  .site-brand
    @include a.v-flex()
    margin-right: auto

    @include a.breakpoint-down(sm)
      margin-left: auto
      justify-content: center

  &-content
    display: grid
    grid-template-columns: 276px repeat(3, 2fr) 1fr
    column-gap: 32px
    padding-top: 36px
    padding-bottom: 36px
    grid-template-rows: 150px repeat(3, 2fr) 1fr

    @include a.breakpoint-down(md)
      grid-template-columns: 2fr repeat(2, 1fr)
      row-gap: 40px

    @include a.breakpoint-down(sm)
      grid-template-columns: repeat(1, 1fr)
      text-align: center
      row-gap: 20px
      padding-top: 40px
      padding-bottom: 40px

    @include a.breakpoint-down(xs)
      row-gap: 12px
      padding-top: 28px
      padding-bottom: 28px

    .brand-intro
      @include a.text()
      color: a.$gray-600
      padding: 12px 0 15px 0
      max-width: 300px
      font-size: a.$text-base
      margin-bottom: 0

      @include a.breakpoint-down(sm)
        margin-left: auto
        margin-right: auto

  .social-links
    column-gap: 8px
    display: flex
    padding-left: 0 !important

    @include a.breakpoint-down(sm)
      justify-content: center

  .footer-links
    a
      display: block
      margin-bottom: 3px
      @include a.text()
      color: a.$gray-500

  .footer-item-title
    font-size: 17px
    margin-bottom: 8px
    font-weight: 600
    color: a.$dark

  .store-links
    row-gap: 8px
    display: flex
    flex-direction: column

    a
      width: 124px

    @include a.breakpoint-down(sm)
      display: flex
      align-items: center

  &-bottom
    border-top: 1px solid a.$gray-300
    background-color: #eff2f4
    padding-top: 20px
    padding-bottom: 20px
    text-align: center

    @include a.breakpoint-down(sm)
      padding-top: 16px
      padding-bottom: 16px

  &-text
    color: a.$gray-800
