@use '../abstracts' as a

.site-brand
  @include a.v-flex()

  &-wrapper
    max-width: 150px
    margin-right: 32px
    @include a.v-flex()

    @include a.breakpoint-down(lg)
      margin-right: 0

    @include a.breakpoint-down(xs)
      display: none

    .brand-icon
      margin-right: 6px
      width: 45px

      @include a.breakpoint-down(lg)
        width: 36px

    .brand-text
      font-weight: 700
      font-size: 24px

      &-second
        color: a.$blue

      @include a.breakpoint-down(lg)
        font-size: 20px

.header
  transition: .3s ease-in-out
  background-color: a.$white

  &-content
    padding: .25rem 0

    .hdr-navigation-bar
      margin: 0 0 0 auto
      padding: 0
      column-gap: 32px
      @include a.v-flex($align: end)
      @include a.breakpoint-down(xl)
        column-gap: 16px
      @include a.breakpoint-down(lg)
        display: none

    .hdr-nav-item
      @include a.flexbox($align: center, $justify: center, $direction: column)

      &:nth-child(2)
        .hdr-nav-icon
          @include a.breakpoint-down(xl)
            margin-bottom: 0

    .hdr-nav-icon
      width: 100%
      height: 32px
      border-radius: 50%
      padding: 6px
      @include a.flexbox($align: center, $justify: center)
      @include a.breakpoint-down(xl)
        margin-bottom: 0

    .sidebar-open-btn--ms
      display: none
      border: none
      background: transparent
      cursor: pointer
      @include a.breakpoint-down(xl)
        display: block
        margin-right: 16px
        width: 24px

      @include a.breakpoint-down(sm)
        margin-right: 10px

      img
        width: 100%
        max-width: 100%

    .hdr-nav-text
      font-size: 12px
      color: a.$gray-500
      text-align: center
      @include a.breakpoint-down(xl)
        display: none

  &-top
    @include a.v-flex()
    @include a.c-container()
    column-gap: 24px

    @include a.breakpoint-down(lg)
      column-gap: 16px

  .hdr-search-bar
    border: 2px solid a.$blue
    width: auto
    max-width: 665px
    border-radius: 6px
    overflow: hidden
    @include a.v-flex($align: stretch)

    input[type="text"]
      height: 40px
      padding: 10px
      width: 420px

      &::placeholder
        color: a.$gray-500

    select
      height: 100%
      color: a.$dark
      width: auto
      padding-left: 10px
      padding-right: 5px

    button
      background-color: a.$blue
      color: a.$white
      width: auto
      padding: 0 .5rem
      @include a.flexbox($align: center, $justify: center)

      span
        filter: invert(100%) sepia(3%) saturate(12%) hue-rotate(62deg) brightness(102%) contrast(108%)

    .select-wrapper
      border-right: 2px solid a.$blue
      padding-right: .5rem
      width: auto
      @include a.v-flex()
      @include a.breakpoint-down(lg)
        display: none

  .hdr-navigation-bar--ms
    margin-left: auto
    display: none
    align-items: center

    @include a.breakpoint-down(lg)
      display: flex

    @include a.breakpoint-down(md)
      display: none !important

    .hdr-nav-item--ms
      margin-left: 20px

      &:first-child
        margin-left: 0

.admin-dropdown
  display: flex
  flex-direction: column
  padding: 2px

  a
    display: flex
    align-items: center
    padding: 2px 6px

.nav-link
  color: rgba(255, 255, 255, .5)
  border-bottom: .25rem solid transparent

.nav-link:hover, .nav-link:focus
  color: rgba(255, 255, 255, 0.898)
  border-bottom-color: rgba(255, 255, 255, .25)

.active
  color: #fff
  border-bottom-color: #fff

.nav-link
  display: flex !important
  align-items: center
  height: 30px
  font-weight: 500 !important

.left-side
  display: flex
  padding: 0
  justify-content: center

.nav-item
  gap: 15px

.d-icon
  margin-right: .1rem !important

.user-dropdown
  display: flex
  flex-direction: column

  a
    display: flex
    color: #000
    text-decoration: none
    transition: 0.2s
    padding: 2px 6px 2px 6px
    align-items: center

    &:hover
      background-color: #e6edef
      border-radius: 5px

.navbar-user
  position: relative
  color: white
  padding: 1.5px 6px
  border-radius: 10px
  transition: 0.2s
  font-size: 95%
  cursor: pointer

.cart-items
  color: white
  border: 1px solid rgba(255, 255, 255, 0.1)
  border-radius: 50%
  background-color: rgb(172, 14, 14)
  padding: 0 6px
  height: 100%

  p
    margin: 0
    font-size: 70%
    text-align: center

  i
    font-size: 1.25rem
    margin-top: 2px

  &:hover
    color: white
    background-color: #0D6EFD
    text-decoration: none

.navbar-user:hover
  color: white
  background-color: #0D6EFD
  text-decoration: none

.login-button
  width: 100%
  height: auto
  margin-top: 2px
  padding: 5px 8px 0 5px !important
  align-self: center

#dropdownForm1:after
  display: none


.input-search
  width: 150px !important
  transition: width 0.3s ease-in-out
  display: block
  padding: 0.375rem 0.75rem
  font-size: 1rem
  font-weight: 400
  line-height: 1.5
  color: var(--bs-body-color)
  appearance: none
  background-color: var(--bs-body-bg)
  background-clip: padding-box
  border: var(--bs-border-width) solid var(--bs-border-color)
  border-radius: var(--bs-border-radius)

  &.focus
    width: 225px !important
