<div class="breadcrumb">
  <div class="c-container">
    <nav class="breadcrumb-list">
      <div class="breadcrumb-item">
        <a href="#">Home</a>
      </div>
      <div class="breadcrumb-separator">
        <img alt="" src="./assets/icons/chevron_right.png"/>
      </div>
      <div class="breadcrumb-item">
        <a href="#">Clothings</a>
      </div>
      <div class="breadcrumb-separator">
        <img alt="" src="./assets/icons/chevron_right.png"/>
      </div>
      <div class="breadcrumb-item">
        <a href="#">Men's wear</a>
      </div>
      <div class="breadcrumb-separator">
        <img alt="" src="./assets/icons/chevron_right.png"/>
      </div>
      <div class="breadcrumb-item">
        <a href="#">Summer Clothing</a>
      </div>
    </nav>
  </div>
</div>
