<mat-card class="h-100">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title class="my-3">5 Productos mas comprados</mat-card-title>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content>
    @if (multi.length == 0) {
      <div class="alert alert-info d-flex align-items-center justify-content-center" role="alert">
        No se encontro data para mostrar
      </div>
    } @else {
      <ngx-charts-area-chart-stacked (select)="onSelect($event)" [legend]="legend" [results]="multi"
                                     [showXAxisLabel]="showXAxisLabel" [showYAxisLabel]="showYAxisLabel"
                                     [timeline]="timeline"
                                     [view]="view"
                                     [xAxisLabel]="xAxisLabel" [xAxis]="xAxis" [yAxisLabel]="yAxisLabel"
                                     [yAxis]="yAxis">
      </ngx-charts-area-chart-stacked>
    }
  </mat-card-content>
</mat-card>
