<section class="bg-color">
  <div class="containers">
    <div class="title">
      <h2><span>Best</span> Seller</h2>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="card">
          <div class="card-main">
            <div class="discount"><p class="me-1">Servicio</p></div>
            <div class="d-flex justify-content-end">
              <a href="#" class="product-link">Nuevo</a>
            </div>
            <div class="image">
              <img src="{{url}}" alt="Product">
            </div>
            <div class="cart-item">
              <ul>
                <li><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li><a href=""><i class="fa fa-heart"></i></a></li>
                <li><a href=""><i class="fa fa-search"></i></a></li>
              </ul>
            </div>
          </div>
          <div class="content">
            <span class="product-name">Analog Watch - For Men</span>
            <div class="rating">
              <app-rating [rating]="3.5"></app-rating>
              <span>(350)</span>
            </div>
            <div class="product-price">
              <span class="last-price">$257.00 </span>
              <span class="new-price">$249.00 (5%)</span>
            </div>

            <div class="button mt-1 mb-3">
              <div class="button-layer"></div>
              <button><i class="fa-solid fa-cart-shopping me-1"></i>Añadir al carrito</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>