<div class="management-form">
  <div class="left-form">
    @if (userForm$ | async; as userForm) {
      <span class="circle one"></span>
      <span class="circle two"></span>
      <form [formGroup]="userForm" autocomplete="off">
        <h3 class="management-form-title">{{ title }}</h3>
        <div class="row group">
          <div class="col">
            <div class="management-input-container" isFocus>
              <input  class="management-input"  [readOnly]="read" formControlName="userName" maxlength="256"
                     minlength="3" required type="text"/>
              <label class="management-label">Usuario *</label>
              <span class="management-span">Usuario *</span>
              <h5 *ngIf="validate('userName', 'required')">El Usuario es<strong>
                requerido</strong>
              </h5>
              <h5 *ngIf="validate('userName', 'minlength')">El Usuario es<strong> muy
                corto</strong>
              </h5>
            </div>
          </div>
          <div class="col">
            <div class="management-input-container" isFocus>
              <input  class="management-input"  [readOnly]="read" formControlName="email" maxlength="253"
                     minlength="3" type="text"/>
              <label class="management-label">Email *</label>
              <span class="management-span">Email *</span>
              <h5 *ngIf="validate('email', 'required')">El Email es<strong> requerido</strong>
              </h5>
              <h5 *ngIf="validate('email', 'minlength')">El Email es<strong> muy corto</strong>
              </h5>
            </div>
          </div>
        </div>
        <div class="row group">
          <div class="col">
            <div class="management-input-container" isFocus>
              <input  class="management-input"  [readOnly]="read" autocomplete="new-password" formControlName="password"
                     maxlength="256"
                     minlength="8" required type="password"/>
              <label class="management-label">Contraseña *</label>
              <span class="management-span">Contraseña *</span>
              <h5 *ngIf="validate('password', 'required')">La Contraseña<strong>
                requerida</strong>
              </h5>
              <h5 *ngIf="validate('password', 'minlength')">La Contraseña es<strong> muy
                corta</strong></h5>
            </div>
          </div>
          <div class="col">
            <div class="management-input-container" isFocus>
              <input  class="management-input"  [readOnly]="read" autocomplete="new-password" formControlName="confirmPassword"
                     maxlength="256" minlength="8" required type="password"/>
              <label class="management-label">Confirmar contraseña *</label>
              <span class="management-span">Confirmar contraseña *</span>
              <h5 *ngIf="validate('confirmPassword', 'required')">La Contraseña
                es<strong>requerida</strong></h5>
              <h5 *ngIf="validate('confirmPassword', 'minlength')">La Contraseña
                es<strong>
                  muy corta</strong></h5>
            </div>
          </div>
        </div>
        @if (!read) {
          <mat-form-field appearance="fill" class="management-input-container" isFocus>
            <input class="management-input"  #moduleInput [matAutocomplete]="moduleAutocomplete" matInput
                   type="search"
            />
            <label class="management-label">Roles *</label>
            <span class="management-span">Roles *</span>
            <mat-autocomplete #moduleAutocomplete="matAutocomplete"
                              (optionSelected)="onSelect($event.option.value); moduleInput.value = ''"
            >
              <mat-option *ngFor="let option of rolesList | filterRoles: moduleInput.value" [value]="option">
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-icon class="caret-down-icon" matSuffix></mat-icon>
          </mat-form-field>
        }
        @if (roles.length > 0) {
          <div class="management-input-container">
            <ol *ngFor="let role of roles; let i = index" class="list-group list-group-numbered w-100">
              <li>
                <div class="input-group flex-nowrap">
                  <button class="btn text-md-start list btn-outline-light w-100" type="text">{{ i + 1 }}.
                    {{ role.name }}
                  </button>
                  <button (click)="removeRoles(i)" [disabled]="read"
                          class="btn btn-outline-light list pe-2 ps-2 input-group-text">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </li>
            </ol>
          </div>
        }
        <div class="row group">
          <div class="col">
            <div class="form-check form-switch mt-0">
              <input class="form-check-input management-input" formControlName="promotionalMails" id="flexSwitchCheckDefault"
                     role="switch"
                     type="checkbox">
              <label class="form-check-label text-white" for="flexSwitchCheckDefault">Aceptar
                Promociones</label>
            </div>
          </div>
          <div class="col">
            <mat-form-field (click)="picker.open()" class="management-input-container" isFocus>
              <input  class="management-input"  [disabled]="true" [matDatepicker]="picker" [readOnly]="true" [readonly]="true"
                     formControlName="birthDate" matInput
                     required type="text">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <label class="management-label">Fecha de Nacimiento *</label>
              <span class="management-span">Fecha de Nacimiento *</span>
              <h5 *ngIf="validate('birthDate', 'required')">La Fecha de Nacimiento
                es <strong>requerida</strong></h5>
              <h5 *ngIf="validate('birthDate', 'minlength')">La Fecha de Nacimiento<strong>
                muy
                corta</strong></h5>
            </mat-form-field>
          </div>
        </div>
        @if (read) {
          <div class="management-input-container" isFocus>
            <input  class="management-input"
                    formControlName="createdAt"
              type="text"/>
            <label class="management-label">Fecha de Creación</label>
            <span class="management-span">Fecha de Creación</span>
          </div>
          <div class="management-input-container" isFocus>
            <input class="management-input"  formControlName="createdBy" type="text"/>
            <label class="management-label">Creado por</label>
            <span class="management-span">Creado por</span>
          </div>
          <div class="management-input-container" isFocus>
            <input class="management-input"
                   formControlName="updatedAt"
              type="text"/>
            <label class="management-label">Fecha de Modificación</label>
            <span class="management-span">Fecha de Modificación</span>
          </div>
          <div class="management-input-container" isFocus>
            <input class="management-input"  formControlName="updatedBy" type="text"/>
            <label class="management-label">Modificado por</label>
            <span class="management-span">Modificado por</span>
          </div>
        }

        <div *ngIf="update == false; else updateP" class="d-flex justify-content-between">
          <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
          <input (click)="Add(userForm$.value)" *ngIf="read == false" [disabled]="!userForm.valid" class="btn submit"
                 type="submit"
                 value="Crear"/>
        </div>
        <ng-template #updateP>
          <div class="d-flex justify-content-between">
            <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
            <input (click)="updateUser(userForm$.value)" [disabled]="!userForm.valid" class="btn submit" type="submit"
                   value="Actualizar"/>
          </div>
        </ng-template>
      </form>
    }
  </div>
</div>
