<div class="contenedor pt-5">
    <div class="cabecera">
        <h3 class="dasdsa">Mi lista</h3>
        <div class="input-group input-group-sm flex-nowrap search-bar">
            <input aria-label="Buscar" class="form-control input-search" focus id="search" placeholder="Buscar..."
                role="search" type="search">
            <div class="input-group-text">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>
    <div class="contenido">
        <div class="row">
            <div class="col">
                <img alt="" class="imagen" src="../../../assets/img/shoes_images/shoe_1.jpg">
            </div>
            <div class="col">
                <p class="nombre">Tenis nike rojos</p>
            </div>
            <div class="col">
                <button class="btn agregar">Agregar al carrito</button>
            </div>
        </div>
    </div>
</div>
