<div class="details-suggest theme-p">
  <h3 class="suggest-title">You may also like</h3>
  <div class="suggest-products-list">
    <div class="product-item product-item-sm">
      <div class="item-img">
        <img alt="" src="./assets/img/suggest1.png"/>
      </div>
      <div class="item-info">
        <span>Men Blazers Sets ElegantFormal</span>
        <p>$7.00 - $99.50</p>
      </div>
    </div>

    <div class="product-item product-item-sm">
      <div class="item-img">
        <img alt="" src="./assets/img/suggest2.png"/>
      </div>
      <div class="item-info">
        <span>Men Shirt Sleeve Polo Contrast</span>
        <p>$7.00 - $99.50</p>
      </div>
    </div>

    <div
      class="product-item product-item-sm">
      <div class="item-img">
        <img alt="" src="./assets/img/suggest3.jpg"/>
      </div>
      <div class="item-info">
          <span>Men Blazers Sets Elegant
            Formal</span>
        <p>$7.00 - $99.50</p>
      </div>
    </div>

    <div class="product-item product-item-sm">
      <div class="item-img">
        <img alt="" src="./assets/img/suggest4.png"/>
      </div>
      <div class="item-info">
        <span>New Summer Men's castrol T-Shirts</span>
        <p>$7.00 - $99.50</p>
      </div>
    </div>

    <div
      class="product-item product-item-sm">
      <div class="item-img">
        <img alt="" src="./assets/img/suggest5.png"/>
      </div>
      <div class="item-info">
          <span>Men Blazers Sets Elegant
            Formal</span>
        <p>$7.00 - $99.50</p>
      </div>
    </div>
  </div>
</div>
