@if (products$ | async; as products) {
  <div class="details-suggest theme-p">
    <h3 class="suggest-title">Puede que también te guste</h3>
    <div class="suggest-products-list">
      @for (product of products; track product) {
        <div class="product-item product-item-sm">
          <div class="item-img">
            <img alt="" [src]="product.option.image | imgPath">
          </div>
          <div class="item-info">
            <span>{{ product.option.title }}</span>
            <div class="product-price">
                    <span *ngIf="product.option.discount"
                          class="last-price me-1">{{ product.option.offerPrice | currency }}</span>
              <span class="new-price">{{ product.option.price | currency }}
                <span *ngIf="product.option.discount" class="ms-1">({{ product.option.discount.value }}
                  %)</span></span>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
}
