@if (products$ | async; as products) {
  @if (categories$ | async; as categories) {
    <div class="products-page">
      <!--  <app-breadcrumb></app-breadcrumb>-->
      <div class="top-main">
        <div class="c-container">
          <div class="top-main-content">
            <app-filter-nav [selectedCondition]="selectedCondition" [selectedRating]="selectedRating"
                            [selectedCategory]="selectedCategory"
                            [startValue]="startValue" [endValue]="endValue" [categories]="categories"
                            (selectRatingEvent)="selectRating($event)"
                            (selectStartPriceEvent)="selectStartPrice($event)"
                            (selectEndPriceEvent)="selectEndPrice($event)"
                            (selectConditionEvent)="selectCondition($event)"></app-filter-nav>
            <app-products-blocks [selectedCategory]="selectedCategory" [selectedCondition]="selectedCondition"
                                 (removeCategory)="removeCategory()"
                                 [selectedRating]="selectedRating" [startValue]="startValue" [endValue]="endValue"
                                 (removeCondition)="removeCondition()"
                                 (removeRating)="removeRating()" (removeRangeValue)="removeRangeValue()"
                                 [products]="products"></app-products-blocks>
          </div>
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  }
}
