<div class="products-page">
  <app-breadcrumb></app-breadcrumb>
  <div class="top-main">
    <div class="c-container">
      <div class="top-main-content">
        <app-filter-nav></app-filter-nav>
        <app-products-blocks></app-products-blocks>
      </div>
    </div>
  </div>
</div>

<!--<section class="bg-color">-->
<!--  <div class="containers">-->
<!--    <ng-container *ngIf="category$ | async as category; else loadOrError">-->
<!--      <div class="title mb-4">-->
<!--        <div class="d-inline">-->
<!--          <h2><i class="{{category.icon}} pe-2"></i>{{category.name}}</h2>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col-md-4" *ngFor="let product of category.products">-->
<!--          <div class="card rounded-3 mt-0 mb-0">-->
<!--            <div class="card-main" (click)="ProductDetail(product.id)">-->
<!--              <div class="service">-->
<!--                <p class="me-1" *ngIf="product.isService; else notService">-->
<!--                  Servicio-->
<!--                </p>-->
<!--                <ng-template #notService>-->
<!--                  Venta-->
<!--                </ng-template>-->
<!--              </div>-->
<!--              <div class="d-flex justify-content-end">-->
<!--                <a href="#" class="product-link">{{product.option.condition}}</a>-->
<!--              </div>-->
<!--              <div class="image">-->
<!--                <img class="rounded-3" src="{{product.option.image | imgPath}}" alt="Product">-->
<!--              </div>-->
<!--              <div class="cart-item">-->
<!--                <ul>-->
<!--                  <li><i class="fas fa-share-alt"></i></li>-->
<!--                  <li><i class="fa fa-heart"></i></li>-->
<!--                  <li><i class="fa fa-search" (click)="ProductDetail(product.id)"></i></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="content">-->
<!--              <span class="product-name">{{product.option.title}}</span>-->
<!--              <div class="rating">-->
<!--                <app-rating [rating]="product.option.averageRating"></app-rating>-->
<!--                <span class="review-quantity">{{(product.option.reviews)?.length}}</span>-->
<!--              </div>-->
<!--              <div class="product-price">-->
<!--                <span *ngIf="product.option.discount" class="last-price me-1">{{product.option.offerPrice | currency }}</span>-->
<!--                <span class="new-price">{{product.option.price | currency}}<span class="ms-1"-->
<!--                    *ngIf="product.option.discount">({{product.option.discount.value}}%)</span></span>-->
<!--              </div>-->

<!--              <div class="button mt-1 mb-3">-->
<!--                <div class="button-layer"></div>-->
<!--                <button><i class="fa-solid fa-cart-shopping me-1"></i>Añadir al carrito</button>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </ng-container>-->
<!--    <ng-template #loadOrError>-->
<!--      <section *ngIf="hasError; else loading">-->
<!--        Ha ocurrido un error, por favor intente más tarde-->
<!--      </section>-->
<!--      <ng-template #loading>-->
<!--        <div class="loading-container">-->

<!--          <h3>Cargando...</h3>-->
<!--        </div>-->
<!--      </ng-template>-->
<!--    </ng-template>-->
<!--  </div>-->
<!--</section>-->
