<section class="newsletter">
  <div class="c-container">
    <div class="newsletter-content">
      <h4>Subscribe on our newsletter</h4>
      <p>Get daily news on upcoming offers from many suppliers all over the
        world</p>
      <form class="newsletter-form">
        <div class="form-elem-group">
            <span class="form-elem-icon">
                <img alt="" src="./assets/icons/email.svg"/>
            </span>
          <input class="form-elem-control" placeholder="Email" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Subscribe</button>
      </form>
    </div>
  </div>
</section>
