@if (addressForm$ | async; as addressForm) {
  <div class="address-modal">
    <form [formGroup]="addressForm">
      <div class="address-form-container">
        <div class="row g-3">
          <div class="col-sm-6">
            <div class="input-wrap form-floating mb-4">
              <input class="form-control contact-input"
                     focus formControlName="name"
                     id="name" maxlength="60" minlength="2" placeholder="Nombres" required
                     type="text"/>
              <label for="floatingInput">Nombres</label>
              <i class="icon fa-regular fa-id-card"></i>
              <h5 *ngIf="validate('name', 'required')">El Nombre es<strong>
                Requerido</strong></h5>
              <h5 *ngIf="validate('name', 'minlength')">El Nombre es<strong> muy
                corto</strong></h5>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="input-wrap form-floating">
              <input class="form-control contact-input" formControlName="lastName"
                     id="lastName" maxlength="60" minlength="a" placeholder="Apellidos" required
                     type="text"/>
              <label for="floatingInput">Apellidos</label>
              <i class="icon fa-regular fa-id-card"></i>
              <h5 *ngIf="validate('lastName', 'required')">El Apellido es<strong>
                Requerido</strong></h5>
              <h5 *ngIf="validate('lastName', 'minlength')">El Apellido es<strong>
                muy corto</strong></h5>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="input-wrap form-floating">
              <input class="form-control contact-input" formControlName="title"
                     id="title" maxlength="50" minlength="5" placeholder="Título" required
                     type="text"/>
              <label for="floatingInput">Título</label>
              <i class="icon fa-regular fa-id-card"></i>
              <h5 *ngIf="validate('title', 'required')">El Título es<strong>
                Requerido</strong></h5>
              <h5 *ngIf="validate('title', 'minlength')">El Título es<strong> muy
                corto</strong></h5>
            </div>
          </div>
          <div class="col-sm-6 mb-4">
            <div class="input-wrap form-floating">
              <input class="form-control contact-input" formControlName="phoneNumber" type="tel"
                     id="phone" maxlength="20" minlength="3" placeholder="Teléfono" required
              />
              <label for="floatingInput">Teléfono</label>
              <i class="icon fa-regular fa-id-card"></i>
              <h5 *ngIf="validate('phoneNumber', 'required')">El Teléfono es<strong>
                Requerido</strong></h5>
              <h5 *ngIf="validate('phoneNumber', 'minlength')">El Teléfono es<strong>
                muy corto</strong></h5>
            </div>
          </div>
          <div class="col-md-5 mb-4">
            <div class="input-wrap form-floating">
              <input class="form-control contact-input"
                     formControlName="city" id="city"
                     maxlength="100" minlength="2" placeholder="Ciudad" required
                     type="text"/>
              <label for="floatingInput">Ciudad</label>
              <i class="icon fa-regular fa-id-card"></i>
              <h5 *ngIf="validate('city', 'required')">La Ciudad es<strong>
                Requerida</strong></h5>
              <h5 *ngIf="validate('city', 'minlength')">La Ciudad es<strong> muy
                corta</strong></h5>
            </div>
          </div>
          <div class="col-md-4 mb-4">
            <div class="input-wrap form-floating">
              <input class="form-control contact-input"
                     formControlName="state" id="state"
                     maxlength="60" minlength="2" placeholder="Estado" required
                     type="text"/>
              <label for="floatingInput">Estado</label>
              <i class="icon fa-regular fa-id-card"></i>
              <h5 *ngIf="validate('state', 'required')">El Estado es<strong>
                Requerido</strong></h5>
              <h5 *ngIf="validate('state', 'minlength')">El Estado es<strong> muy
                corto</strong></h5>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="input-wrap form-floating">
              <input class="form-control contact-input"
                     formControlName="zipCode" id="zipCode"
                     maxlength="10" minlength="3" placeholder="Código Postal" required
                     type="text"/>
              <label for="floatingInput">Código Postal</label>
              <i class="icon fa-regular fa-id-card"></i>
              <h5 *ngIf="validate('zipCode', 'required')">El Código es<strong>
                Requerido</strong></h5>
              <h5 *ngIf="validate('zipCode', 'minlength')">El Código es<strong> muy
                corto</strong></h5>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="input-wrap form-floating">
            <textarea class="form-control contact-input"
                      formControlName="extraDetails"
                      id="description" maxlength="250" minlength="3" placeholder="Dirección / Detalles Adicionales"
                      type="text"></textarea>
            <label for="floatingInput">Dirección / Detalles Adicionales</label>
            <i class="icon fa-regular fa-id-card"></i>
            <h5 *ngIf="validate('extraDetails', 'minlength')">El Detalle o dirección es<strong> muy
              corto</strong></h5>
          </div>
        </div>
        @if (read) {
          <div class="d-flex justify-content-between gap-4">
            <div class="input-wrap form-floating">
              <input class="form-control contact-input"
                     formControlName="createdAt"
                     type="text"/>
              <label for="floatingInput">Fecha de Creación</label>
            </div>
            <div class="input-wrap form-floating">
              <input class="form-control contact-input"
                     formControlName="updatedAt"
                     type="text"/>
              <label for="floatingInput">Fecha de Modificación</label>
            </div>
          </div>
        }
        <div class="buttons-address">
          <button (click)="closeModal()" mat-stroked-button><i class="close-small-icon "></i>Cerrar</button>
          @if (!read) {
            <button (click)="completeForm(addressForm.value)" [disabled]="!addressForm.valid"
                    [color]=" !update ? 'Crear' : 'Warn'"
                    mat-raised-button>
              <i [ngClass]="{'d-icon': update}" class="add-icon w-icon"></i>{{ !update ? 'Crear' : 'Modificar' }}
            </button>
          }
        </div>
      </div>
    </form>
  </div>
}
