<div class="modal-content">
    <div class="modal-header shadow">
        <h4 class="modal-title" id="modal-title">{{title}}</h4>
        <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title"
            (click)="Close()"></button>
    </div>
    <div class="modal-body p-0 d-flex justify-content-center align-items-center">
        <i class="icon bi" [ngClass]="getIconClass()">
        </i>
    </div>
    <div *ngIf="Status()" class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="Close()">Cancelar</button>
        <button type="button" ngbAutofocus class="btn btn-primary" (click)="Save()">Confirmar</button>
    </div>
    <div *ngIf="!Status()" class="modal-footer">
        <button type="button" ngbAutofocus class="btn btn-primary" (click)="Close()">Aceptar</button>
    </div>
</div>

<!-- <div class="modal-content rounded-4 ">
    <div class="modal-header border-bottom-0 justify-content-center align-items-center">
        <h1 class="modal-title  fs-4">{{title}}</h1>
    </div>
    <div class="modal-body p-0 d-flex justify-content-center align-items-center">
        <i class="icon bi" [ngClass]="getIconClass()">
        </i>
    </div>
    <div class="modal-footer  justify-content-between w-100 gap-2 pb-3 border-top-0">
        <button type="button" class="btn btn-lg btn-danger" data-bs-dismiss="modal" (click)="Close()">Cancelar</button>
            <button type="button" class="btn btn-lg btn-primary" (click)="Save()">Confirmar</button>
    </div>
</div> -->