<div class="bg-image">
  <div class="container w-75 bg-primary mt-5 mb-5 rounded shadow">
    <div class="row align-items-stretch">
      <div class="col bg-white p-4 rounded-start">
        <h2 class="fw-bold text-center py-3">Registrarse</h2>
        <form [formGroup]="registerForm" action="#">
          <div [ngClass]="{'focus': userFocused}" class="mb-4 input-wrap form-floating">
            <input #userInput (blur)="userFocused = false" (focus)="userFocused = true"
                   class="form-control contact-input" formControlName="userName"
                   id="userName" maxlength="256" minlength="5" placeholder="Usuario"
                   required type="username"/>
            <label class="text" for="floatingInput">Usuario</label>
            <i class="icon fa-regular fa-id-card"></i>
            <h5 *ngIf="validate('userName', 'required', userFocused)">El Usuario es<strong>
              Requerido</strong></h5>
            <h5 *ngIf="validate('userName', 'minlength', userFocused)">El Usuario es<strong> muy
              corto</strong></h5>
          </div>
          <div [ngClass]="{'focus': emailFocused}" class="mb-4 input-wrap form-floating">
            <input (blur)="emailFocused = false" (focus)="emailFocused = true" class="form-control contact-input"
                   formControlName="email" id="email" maxlength="253"
                   minlength="5" placeholder="Correo" required
                   type="email"/>
            <label class="text" for="floatingInput">Correo</label>
            <i class="icon fa-solid fa-envelope"></i>
            <h5 *ngIf="validate('email', 'required', emailFocused)">El Email es<strong> Requerido</strong></h5>
            <h5 *ngIf="validate('email', 'minlength', emailFocused)">El Email es<strong> muy corto</strong></h5>
          </div>
          <div [ngClass]="{'focus': passwordFocused}" class="mb-4 input-wrap form-floating">
            <input #passwordInput (blur)="passwordFocused = false" (focus)="passwordFocused = true"
                   class="form-control contact-input" formControlName="password"
                   id="password" maxlength="256"
                   minlength="8" placeholder="Contraseña" required
                   type="password"/>
            <label class="text" for="floatingInput">Contraseña</label>
            <i class="icon fa-solid fa-lock"></i>
            <h5 *ngIf="validate('password', 'required', passwordFocused)">La Contraseña es<strong> Requerida</strong>
            </h5>
            <h5 *ngIf="validate('password', 'minlength', passwordFocused)">La Contraseña es<strong> muy corta</strong>
            </h5>
          </div>
          <div [ngClass]="{'focus': confirmPasswordFocused}" class="mb-4 input-wrap form-floating">
            <input #confirmPasswordInput (blur)="confirmPasswordFocused = false" (focus)="confirmPasswordFocused = true"
                   class="form-control contact-input" formControlName="confirmPassword"
                   id="confirmPassword"
                   maxlength="256" minlength="8" placeholder="Confirmar Contraseña"
                   required type="password"/>
            <label class="text" for="floatingInput">Confirmar Contraseña</label>
            <i class="icon fa-solid fa-lock"></i>
            <h5 *ngIf="validate('confirmPassword', 'required', confirmPasswordFocused)">La Contraseña es<strong>
              Requerida</strong></h5>
            <h5 *ngIf="validate('confirmPassword', 'minlength', confirmPasswordFocused)">La Contraseña es<strong> muy
              corta</strong></h5>
          </div>
          <div [ngClass]="{'focus': birthDateFocused }" class="mb-4 input-wrap form-floating">
            <input #birthDateInput #end="ngbDatepicker" (blur)="birthDateFocused = false;" (click)="end.toggle()"
                   (focus)="birthDateFocused = true" [(ngModel)]="model" class="form-control contact-input"
                   formControlName="birthDate" id="birthDate" ngbDatepicker placeholder="Fecha de Nacimiento"
                   required/>
            <i class="icon fa-solid fa-cake-candles"></i>
            <label class="text" for="floatingInput">Fecha de Nacimiento</label>
            <h5 *ngIf="validate('birthDate', 'required', confirmPasswordFocused)">La Fecha es<strong> Requerida</strong>
            </h5>
          </div>
          <div class="mb"></div>
          <p class="text-center">Al hacer click en registrarse, aceptas los <a class="a-link"
                                                                               routerLink="/auth/terms-conditions">términos
            y
            condiciones</a> de nuestro servicio.</p>
          <div class="row">
            <div class="col">
              <div class="form-check form-switch">
                <input class="form-check-input" formControlName="promotionalMails" id="flexSwitchCheckDefault"
                       role="switch"
                       type="checkbox">
                <label class="form-check-label" for="flexSwitchCheckDefault"> Deseo recibir ofertas y promociones a mi
                  mail</label>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button (click)="registerUser(registerForm.value)" [disabled]="!registerForm.valid"
                        class="btn btn-success"
                        type="submit">Registrarse
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded-end">
        <div class="d-flex justify-content-center align-items-center h-100">
          <button class="btn btn-primary" routerLink="/auth" type="submit">
            Iniciar Sesión
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
