<div *ngIf="discountForm$ | async as discountForm" class="form">
  <div class="contact-form">
    <span class="circle one"></span>
    <span class="circle two"></span>
    <form [formGroup]="discountForm" action="index.html" autocomplete="off">
      <h3 class="title">{{title}}</h3>
      <div class="d-flex justify-content-between input-container">
        <div class="input-container m-0 me-3" isFocus>
          <input class="input" formControlName="value" required
                 type="number"/>
          <label>Valor</label>
          <span>Valor</span>
          <h5 *ngIf="validate('value', 'required')">El Valor es<strong> Requerido</strong>
          </h5>
          <h5 *ngIf="validate('value', 'min')">El Valor es<strong> muy corto</strong></h5>
        </div>

        <div class="input-container m-0 ms-3" isFocus>
          <div #p="ngbPopover" [autoClose]="false" [ngbPopover]="iconTemplate"
               class="input-group flex-nowrap" required triggers="manual">
            <input #dp="bsDaterangepicker" (bsValueChange)="p.toggle()"
                   [bsConfig]="{ isAnimated:true, dateInputFormat:'MMMM Do  YYYY, h:mm:ss a', containerClass: 'theme-dark-blue', showTodayButton:true,  showClearButton:true, todayPosition:'left', clearPosition:'right'}"
                   [bsValue]="date"
                   [maxDate]="maxDate" [minDate]="minDate" [readOnly]="true" bsDaterangepicker
                   class="input"
                   formControlName="date"
                   placement="bottom"
                   required type="text"/>
            <ng-template #iconTemplate>
              <timepicker [formControlName]="'start'" [min]="minDate">
              </timepicker>
              <timepicker [formControlName]="'end'" [min]="maxDate">
              </timepicker>
              <button (click)="p.toggle(); changeTime(discountForm.get('start')?.value, discountForm.get('end')?.value)"
                      class="btn btn-dark pe-2 ps-2 wrap" type="button">
                Agregar
              </button>
            </ng-template>
            <button (click)="dp.toggle()" [disabled]="read"
                    class="btn btn-outline-light bi bi-calendar3 pe-2 ps-2 input-group-text"
                    type="button"></button>
          </div>
          <label>Periodo *</label>
          <span>Periodo *</span>
          <h5 *ngIf="validate('date', 'bsDate')">El Inicio es<strong> Requerido</strong>
          </h5>
        </div>
      </div>

      <div *ngIf="!read" class="input-container" isFocus>
        <div class="input-group">
          <input (typeaheadOnSelect)="onSelect($event)"
                 [(ngModel)]="selected" [adaptivePosition]="true"
                 [isAnimated]="true" [typeaheadMinLength]="0"
                 [typeaheadOptionsInScrollableView]="20" [typeaheadOptionsLimit]="7"
                 [typeaheadSingleWords]="true"
                 [typeaheadWaitMs]="100"
                 [typeahead]="optionsList" class="input" formControlName="productsDiscounts"
                 id="typeahead-focus"
                 type="search"
                 typeaheadOptionField="title"/>
        </div>
        <label>Opción</label>
        <span>Opción</span>
      </div>

      <div class="input-container">
        <ol *ngFor="let product of products; let i = index" class="list-group list-group-numbered ">
          <li>
            <div class="input-group">
              <button class="btn text-md-start list btn-outline-light wrapper" type="text">{{i + 1}}.
                {{product.option.title}}</button>
              <button (click)="removeProduct(i)" [disabled]="read"
                      class="btn btn-outline-light list pe-2 ps-2 wrap">
                <i class="fas fa-trash"></i>
              </button>
            </div>
          </li>
        </ol>
      </div>

      <div *ngIf="read">
        <div class="input-container" isFocus>
          <input class="input"
                 formControlName="createdAt"
                 readOnly type="text"/>
          <label>Fecha de Creación</label>
          <span>Fecha de Creación</span>
        </div>
        <div class="input-container" isFocus>
          <input class="input" formControlName="createdBy" readOnly type="text"/>
          <label>Creado por</label>
          <span>Creado por</span>
        </div>
        <div class="input-container" isFocus>
          <input class="input"
                 formControlName="updatedAt"
                 readOnly type="text"/>
          <label>Fecha de Modificación</label>
          <span>Fecha de Modificación</span>
        </div>
        <div class="input-container" isFocus>
          <input class="input" formControlName="updatedBy" readOnly type="text"/>
          <label>Modificado por</label>
          <span>Modificado por</span>
        </div>
      </div>
      <div *ngIf="update == false; else updateP" class="d-flex justify-content-between">
        <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
        <input (click)="AddDiscount(discountForm.value)" *ngIf="read == false" [disabled]="!discountForm.valid"
               class="btn submit"
               type="submit" value="Crear"/>
      </div>
      <ng-template #updateP>
        <div class="d-flex justify-content-between">
          <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
          <input (click)="updateDiscount(discountForm.value)" [disabled]="!discountForm.valid"
                 class="btn submit" type="submit"
                 value="Actualizar"/>
        </div>
      </ng-template>
    </form>
  </div>
</div>
