@if (product$ | async; as product) {
  <div class="page-wrapper">
    <div class="details-page">
      <div class="top-main">
        <div class="c-container">
          <div class="top-main-content">
            <app-product-details-top [isAuthenticated]="isAuthenticated" [product]="product"></app-product-details-top>
            <app-product-details-bottom [isAuthenticated]="isAuthenticated" [userId]="userId"
                                        (refreshReviews)="refreshReviews()"
                                        [product]="product"></app-product-details-bottom>
          </div>
        </div>
      </div>
    </div>
  </div>
}
