<div class="filters-blocks">
  <div class="filt-block">
    <div class="filt-head">
      <span class="filt-head-text">Category</span>
      <span class="filt-head-icon">
        <img alt="" src="./assets/icons/chevron_down.svg"/>
      </span>
    </div>
    <div class="filt-body">
      <div class="filt-list">
        <div class="filt-item">Mobile accessories</div>
        <div class="filt-item">Electronics</div>
        <div class="filt-item">Smartphones</div>
        <div class="filt-item">Modern tech</div>
      </div>
      <button class="btn-link">See all</button>
    </div>
  </div>

  <div class="filt-features filt-block">
    <div class="filt-head">
      <span class="filt-head-text">Features</span>
      <span class="filt-head-icon">
        <img alt="" src="./assets/icons/chevron_down.svg"/>
      </span>
    </div>
    <div class="filt-body">
      <div class="filt-list">
        <div class="filt-item">
          <input class="filt-item-check" type="checkbox">Metallic
        </div>
        <div class="filt-item">
          <input class="filt-item-check" type="checkbox">Plastic cover
        </div>
        <div class="filt-item">
          <input class="filt-item-check" type="checkbox">8GB RAM
        </div>
        <div class="filt-item">
          <input class="filt-item-check" type="checkbox">Super power
        </div>
        <div class="filt-item">
          <input class="filt-item-check" type="checkbox">Large Memory
        </div>
      </div>
      <button class="btn-link btn-link-primary text" type="">See all</button>
    </div>
  </div>

  <div class="filt-block">
    <div class="filt-head">
      <span class="filt-head-text">Price range</span>
      <span class="filt-head-icon">
        <img alt="" src="./assets/icons/chevron_down.svg"/>
      </span>
    </div>
    <div class="slider">
      <div class="progress"></div>
    </div>
    <div class="range-input">
      <input class="range-min" max="10000" min="0" step="100" type="range" value="2500">
      <input class="range-max" max="10000" min="0" step="100" type="range" value="5000">
    </div>
    <div class="price-input">
      <div class="field">
        <span>Min</span>
        <input class="input-min" type="number" value="2500">
      </div>
      <div class="field">
        <span class="text-sm">Max</span>
        <input class="input-max" type="number" value="5000">
      </div>
    </div>
    <button class="btn btn-primary" type="button">Apply</button>
  </div>

  <div class="filt-features filt-block">
    <div class="filt-head">
      <span class="filt-head-text">Condition</span>
      <span class="filt-head-icon">
        <img alt="" src="./assets/icons/chevron_down.svg"/>
      </span>
    </div>
    <div class="filt-body">
      <div class="filt-list">
        <div class="filt-item">
          <input checked class="filt-item-check" type="radio">Any
        </div>
        <div class="filt-item">
          <input class="filt-item-check" type="radio">Refurbished
        </div>
        <div class="filt-item">
          <input class="filt-item-check" type="radio">Brand new
        </div>
        <div class="filt-item">
          <input class="filt-item-check" type="radio">Old items
        </div>
      </div>
    </div>
  </div>

  <div class="filt-ratings filt-block">
    <div class="filt-head">
      <span class="filt-head-text">Ratings</span>
      <span class="filt-head-icon">
        <img alt="" src="./assets/icons/chevron_down.svg"/>
      </span>
    </div>
    <div class="filt-body">
      <div class="filt-list">
        <div class="filt-item text">
          <input class="filt-item-check" type="checkbox">
          <ul class="filt-rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
          </ul>
        </div>
        <div class="filt-item">
          <input class="filt-item-check" type="checkbox">
          <ul class="filt-rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
          </ul>
        </div>
        <div class="filt-item">
          <input class="filt-item-check" type="checkbox">
          <ul class="filt-rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
          </ul>
        </div>
        <div class="filt-item">
          <input class="filt-item-check" type="checkbox">
          <ul class="filt-rating">
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fas fa-star"></i></li>
            <li><i class="fa-regular fa-star"></i></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
