@if (categoryForm$ | async; as categoryForm) {
  <div class="management-form">
    <div class="left-form">
      <span class="circle one"></span>
      <span class="circle two"></span>
      <form [formGroup]="categoryForm" autocomplete="off">
        <h3 class="management-form-title">{{ title }}</h3>
        <div class="management-input-container" isFocus>
          <input class="management-input" formControlName="name" maxlength="50" minlength="3" required
                 type="text"/>
          <label class="management-label">Nombre *</label>
          <span class="management-span">Nombre *</span>
          <h5 *ngIf="validate('name', 'required')">El Nombre es<strong> Requerido</strong></h5>
          <h5 *ngIf="validate('name', 'minlength')">El Nombre es<strong> muy corto</strong></h5>
        </div>
        <div class="management-input-container" isFocus>
          <input class="management-input" formControlName="icon" maxlength="200" minlength="3" required
                 type="text"/>
          <label class="management-label">Icono *</label>
          <span class="management-span">Icono *</span>
          <h5 *ngIf="validate('icon', 'required')">El Icono es<strong> Requerido</strong></h5>
          <h5 *ngIf="validate('icon', 'minlength')">El Icono es<strong> muy corto</strong></h5>
        </div>
        <div class="management-input-container" isFocus>
                <textarea class="management-input" formControlName="description"
                          maxlength="250"
                          minlength="5" required
                          rows="3" type="text"></textarea>
          <label class="management-label">Descripción *</label>
          <span class="management-span">Descripción *</span>
          <h5 *ngIf="validate('description', 'required')">La Descripción es<strong>
            Requerida</strong>
          </h5>
          <h5 *ngIf="validate('description', 'minlength')">La Descripción es<strong> muy
            corta</strong>
          </h5>
        </div>
        @if (read) {
          <div class=" management-input-container" isFocus>
            <input class="management-input"
                   formControlName="createdAt"
                   readOnly type="text"/>
            <label class="management-label">Fecha de Creación</label>
            <span class="management-span">Fecha de Creación</span>
          </div>
          <div class=" management-input-container" isFocus>
            <input class="management-input" formControlName="createdBy" readOnly type="text"/>
            <label class="management-label">Creado por</label>
            <span class="management-span">Creado por</span>
          </div>
          <div class=" management-input-container" isFocus>
            <input class="management-input"
                   formControlName="updatedAt"
                   readOnly type="text"/>
            <label class="management-label">Fecha de Modificación</label>
            <span class="management-span">Fecha de Modificación</span>
          </div>
          <div class=" management-input-container" isFocus>
            <input class="management-input" formControlName="updatedBy" readOnly type="text"/>
            <label class="management-label">Modificado por</label>
            <span class="management-span">Modificado por</span>
          </div>
        }
        <div *ngIf="update == false; else updateCat" class="d-flex justify-content-between">
          <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
          <input (click)="AddCategory(categoryForm.value)" *ngIf="read == false" [disabled]="!categoryForm.valid"
                 class="btn submit" type="submit"
                 value="Crear"/>
        </div>
        <ng-template #updateCat>
          <div class="d-flex justify-content-between">
            <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
            <input (click)="updateCategory(categoryForm.value)" [disabled]="!categoryForm.valid"
                   class="btn submit"
                   type="submit"
                   value="Actualizar"/>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
}
