@if (discount$ | async; as discount) {
  <section class="sc-deals">
    <div class="c-container">
      <div class="deals-content">
        <div class="deals-countdown theme-p">
          <div class="deals-title">
            <h4 class="deals-countdown-title">Ofertas</h4>
            <p class="text">{{ discount.value }}% de Descuento</p>
          </div>
          <div class="countdown-elems">
            @if (timeRemaining$ | async; as time) {
              <div
                class="countdown-elem">
                <span class="countdown-elem-value">{{ time | date:'dd' }}</span>
                <span class="countdown-elem-unit">Days</span>
              </div>
              <div
                class="countdown-elem">
                <span class="countdown-elem-value">{{ time | date:' hh' }}</span>
                <span class="countdown-elem-unit">Hour</span>
              </div>
              <div
                class="countdown-elem">
                <span class="countdown-elem-value">{{ time | date:'mm' }}</span>
                <span class="countdown-elem-unit">Min</span>
              </div>
              <div
                class="countdown-elem">
                <span class="countdown-elem-value">{{ time | date:'ss' }}</span>
                <span class="countdown-elem-unit">Sec</span>
              </div>
            }
          </div>
        </div>
        <div class="deals-products">
          <app-carousel-multiple [productsDiscounts]="discount.productsDiscounts"
                                 [slidesPerView]="3"></app-carousel-multiple>
        </div>
      </div>
    </div>
  </section>
}
