<div class="form">
    <div class="contact-form">
        <span class="circle one"></span>
        <span class="circle two"></span>
        <form action="index.html" autocomplete="off" [formGroup]="userForm">
            <h3 class="title">{{title}}</h3>
            <div class="row group">
                <div class="col">
                    <div class="input-container"
                        [ngClass]="{'focus': userNameFocused || userNameInput.value.length > 0 }">
                        <input [readOnly]="read" #userNameInput type="text" formControlName="userName" class="input"
                            required minlength="3" maxlength="256" (focus)="userNameFocused = true"
                            (blur)="userNameFocused = false" />
                        <label>Usuario *</label>
                        <span>Usuario *</span>
                        <h5 *ngIf="validate('userName', 'required', userNameFocused)">El Usuario es<strong>
                                requerido</strong>
                        </h5>
                        <h5 *ngIf="validate('userName', 'minlength', userNameFocused)">El Usuario es<strong> muy
                                corto</strong>
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="input-container" [ngClass]="{'focus': emailFocused || emailInput.value.length > 0 }">
                        <input [readOnly]="read" #emailInput type="text" formControlName="email" class="input"
                            minlength="3" maxlength="253" (focus)="emailFocused = true" (blur)="emailFocused = false" />
                        <label>Email *</label>
                        <span>Email *</span>
                        <h5 *ngIf="validate('email', 'required', emailFocused)">El Email es<strong> requerido</strong>
                        </h5>
                        <h5 *ngIf="validate('email', 'minlength', emailFocused)">El Email es<strong> muy corto</strong>
                        </h5>
                    </div>
                </div>
            </div>
            <div class="row group">
                <div class="col">
                    <div class="input-container"
                        [ngClass]="{'focus': passwordFocused || passwordInput.value.length > 0 }">
                        <input [readOnly]="read" #passwordInput type="password" formControlName="password" class="input"
                            required minlength="8" maxlength="256" (focus)="passwordFocused = true"
                            (blur)="passwordFocused = false" />
                        <label>Contraseña *</label>
                        <span>Contraseña *</span>
                        <h5 *ngIf="validate('password', 'required', passwordFocused)">La Contraseña<strong>
                                requerida</strong>
                        </h5>
                        <h5 *ngIf="validate('password', 'minlength', passwordFocused)">La Contraseña es<strong> muy
                                corta</strong></h5>
                    </div>
                </div>
                <div class="col">
                    <div class="input-container"
                        [ngClass]="{'focus': confirmPasswordFocused || confirmPasswordInput.value.length > 0 }">
                        <input [readOnly]="read" #confirmPasswordInput type="password" formControlName="confirmPassword"
                            class="input" required minlength="8" maxlength="256" (focus)="confirmPasswordFocused = true"
                            (blur)="confirmPasswordFocused = false" />
                        <label>Confirmar contraseña *</label>
                        <span>Confirmar contraseña *</span>
                        <h5 *ngIf="validate('confirmPassword', 'required', confirmPasswordFocused)">La Contraseña
                            es<strong>requerida</strong></h5>
                        <h5 *ngIf="validate('confirmPassword', 'minlength', confirmPasswordFocused)">La Contraseña
                            es<strong>
                                muy corta</strong></h5>
                    </div>
                </div>
            </div>
            <div class="input-container" *ngIf="!read"
                [ngClass]="{'focus': userRolesFocused || roleInput.value.length > 0 }">
                <div class="input-group">
                    <input #roleInput type="search" formControlName="userRoles" class="input"
                        (focus)="userRolesFocused = true;" (blur)="userRolesFocused = false" id="typeahead-focus"
                        [adaptivePosition]="true" [(ngModel)]="selected" [typeaheadSingleWords]="true"
                        [typeaheadOptionsLimit]="7" [typeahead]="rolesList" typeaheadOptionField="name"
                        (typeaheadOnSelect)="onSelect($event)" [typeaheadMinLength]="0" [typeaheadWaitMs]="100"
                        [typeaheadOptionsInScrollableView]="20" [isAnimated]="true" />
                </div>
                <label>Roles *</label>
                <span>Roles *</span>
            </div>
            <div class="input-container">
                <ol class="list-group list-group-numbered" *ngFor="let role of roles; let i = index">
                    <li>
                        <div class="input-group">
                            <button type="text" class="btn text-md-start list btn-outline-light wrapper">{{i+1}}.
                                {{role.name}}</button>
                            <button [disabled]="read" class="btn btn-outline-light list pe-2 ps-2 wrap"
                                (click)="removeRoles(i)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="row group">
                <div class="col">
                    <div class="form-check form-switch mt-0">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"
                            formControlName="promotionalMails">
                        <label class="form-check-label text-white" for="flexSwitchCheckDefault">Aceptar
                            Promociones</label>
                    </div>
                </div>
                <div class="col">
                    <div class="input-container mt-0"
                        [ngClass]="{'focus': birthDateFocused || birthDateInput.value.length > 0 }">
                        <div class="input-group">
                            <input [readOnly]="true" #birthDateInput type="text" class="input wrapper" (bsValueChange)="changeTime($event)"
                                required [disabled]="read" [bsValue]="date" bsDatepicker #dp="bsDatepicker" formControlName="date" placement="top"
                                [bsConfig]="{ isAnimated:true, dateInputFormat:'MMMM Do YYYY', containerClass: 'theme-dark-blue', showTodayButton:true,  showClearButton:true, todayPosition:'left', clearPosition:'right', adaptivePosition: true}"
                                [minDate]="minDate" [maxDate]="maxDate" (focus)="birthDateFocused = true"
                                (blur)="birthDateFocused = false" />
                            <button (click)="dp.toggle()" class="btn btn-outline-light bi bi-calendar3 pe-2 ps-2 wrap" type="button"></button>
                        </div>
                        <label>Fecha de Nacimiento *</label>
                        <span>Fecha de Nacimiento *</span>
                        <h5 *ngIf="validate('date', 'required',birthDateFocused)">La Fecha de Nacimiento
                            es<strong>requerida</strong></h5>
                        <h5 *ngIf="validate('date', 'minlength', birthDateFocused)">La Fecha de Nacimiento<strong>
                                muy
                                corta</strong></h5>
                    </div>
                </div>
            </div>
            <div class="row group">
                <div class="col">
                    <div class="input-container" [ngClass]="{'focus': nameFocused || nameInput.value.length > 0 }">
                        <input [readOnly]="read" #nameInput type="text" formControlName="name" class="input" required
                            minlength="3" maxlength="100" (focus)="nameFocused = true" (blur)="nameFocused = false" />
                        <label>Nombre *</label>
                        <span>Nombre *</span>
                        <h5 *ngIf="validate('name', 'required', nameFocused)">El Nombre es<strong> requerido</strong>
                        </h5>
                        <h5 *ngIf="validate('name', 'minlength', nameFocused)">El Nombre es<strong> muy corto</strong>
                        </h5>
                    </div>
                </div>
                <div class="col">
                    <div class="input-container"
                        [ngClass]="{'focus': lastNameFocused || lastNameInput.value.length > 0 }">
                        <input [readOnly]="read" #lastNameInput type="text" formControlName="lastName" class="input"
                            required minlength="3" maxlength="100" (focus)="lastNameFocused = true"
                            (blur)="lastNameFocused = false" />
                        <label>Apellido *</label>
                        <span>Apellido *</span>
                        <h5 *ngIf="validate('lastName', 'required', lastNameFocused)">El Apellido es<strong>
                                requerido</strong>
                        </h5>
                        <h5 *ngIf="validate('lastName', 'minlength', lastNameFocused)">El Apellido es<strong> muy
                                corto</strong>
                        </h5>
                    </div>
                </div>
            </div>
            <div *ngIf="read" class="">
                <div class="input-container" [ngClass]="{'focus': createdAtInput.value.length > 0 }">
                    <input readOnly #createdAtInput type="text" formControlName="createdAt"
                        [ngModel]="userForm.get('createdAt').value | date:'dd-MMM-yyyy HH-mm-ss'" class="input" />
                    <label>Fecha de Creación</label>
                    <span>Fecha de Creación</span>
                </div>
                <div class="input-container" [ngClass]="{'focus': createdByInput.value.length > 0 }">
                    <input readOnly #createdByInput type="text" formControlName="createdBy" class="input" />
                    <label>Creado por</label>
                    <span>Creado por</span>
                </div>
                <div class="input-container" [ngClass]="{'focus': updatedAtInput.value.length > 0 }">
                    <input readOnly #updatedAtInput type="text" formControlName="updatedAt"
                        [ngModel]="userForm.get('updatedAt').value | date:'dd-MMM-yyyy HH-mm-ss'" class="input" />
                    <label>Fecha de Modificación</label>
                    <span>Fecha de Modificación</span>
                </div>
                <div class="input-container" [ngClass]="{'focus': updatedByInput.value.length > 0 }">
                    <input readOnly #updatedByInput type="text" formControlName="updatedBy" class="input" />
                    <label>Modificado por</label>
                    <span>Modificado por</span>
                </div>
            </div>
            <div *ngIf="update == false; else updateP" class="d-flex justify-content-between">
                <input type="submit" value="Cerrar" class="btn btn-outline-light bi" (click)="close()" />
                <input *ngIf="read == false" type="submit" value="Crear" [disabled]="!userForm.valid" class="btn submit"
                    (click)="Add(userForm.value)" />
            </div>
            <ng-template #updateP>
                <div class="d-flex justify-content-between">
                    <input type="submit" value="Cerrar" class="btn btn-outline-light bi" (click)="close()" />
                    <input type="submit" value="Actualizar" [disabled]="!userForm.valid" class="btn submit"
                        (click)="updateUser(userForm.value)" />
                </div>
            </ng-template>
        </form>
    </div>
</div>