<div class="row p-3">
    <div class="col">
        <div class="card text-start p-2">
            <div class="card-body">
                <div class="row">
                    <caption class="col">Categorías&nbsp;&nbsp;<button type="button" class="btn btn-primary btn-add"
                            ngbAutofocus (click)="AddCategory()">
                            Añadir Categoría
                        </button></caption>
                    <span class="col col-sm-auto col-form-label" *ngIf="service.loading$ | async">
                        <i class="fas fa-spinner fa-spin"
                            style="color: #32CD32; display: inline-block; margin-right: 5px;"></i>
                        <span style="color: #32CD32; display: inline-block;">Cargando..</span>
                    </span>
                    <div class="col-xs-3 col-sm-auto input-group-sm d-flex search-container align-items-center">
                        <input id="table-complete-search" type="text" class="form-control searcher" name="searchTerm"
                            [(ngModel)]="service.searchTerm" placeholder="Buscar..." aria-label="Buscar" />
                    </div>
                </div>
                <div class="table-responsive" style="overflow-x: auto;">
                    <table class="table table-striped table-hover align-middle ">
                        <thead class="tables">
                            <tr class="table-row">
                                <th scope="col" class="table-cell">Nombre</th>
                                <th scope="col" class="table-cell">Icono</th>
                                <th scope="col" class="table-cell">
                                    Descripción</th>
                                <th scope="col" class="table-cell">
                                    SubCategorías</th>
                                <th scope="col" class="table-cell">Creación</th>
                                <th scope="col" class="table-cell">Modificación</th>
                                <th scope="col" class="table-cell"></th>
                            </tr>
                        </thead>

                        <tbody class="rows">
                            <tr class="scroll" *ngFor="let item of categories$ | async ">
                                <td><ngb-highlight [result]="item.name" [term]="service.searchTerm"></ngb-highlight>
                                <td>
                                    <img [src]="'' + item.icon" class="me-2" style="width: 20px" />
                                </td>
                                <td><ngb-highlight [result]="item.description | truncate:30" [term]="service.searchTerm"
                                        placement="top" ngbTooltip="{{item.description}}"></ngb-highlight>
                                </td>
                                <td><ngb-highlight class="badge text-bg-dark"
                                        [result]="item.createdAt | date: 'dd/MM/yyyy hh:mm:ss'" placement="top"
                                        ngbTooltip="Creado por: {{item.createdBy}}"
                                        [term]="service.searchTerm"></ngb-highlight>
                                <td><ngb-highlight class="badge text-bg-secondary"
                                        [result]="item.updatedAt | date: 'dd/MM/yyyy hh:mm:ss'" placement="top"
                                        ngbTooltip="Modificado por: {{item.updatedBy}}"
                                        [term]="service.searchTerm"></ngb-highlight>
                                </td>
                                <td class="overflow-hidden">
                                    <div ngbDropdown container="body">
                                        <button type="button" class="btn btn-outline-primary btn-sm btn-dropdown"
                                            ngbDropdownToggle></button>
                                        <div ngbDropdownMenu>
                                            <button ngbDropdownItem (click)="Retrieve(item.id)"><i
                                                    class="fa-solid fa-eye pe-2"></i>Ver</button>
                                            <button ngbDropdownItem (click)="Modify(item.id)"><i
                                                    class="fa-solid fa-pen pe-2"></i>Modificar</button>
                                            <div class="dropdown-divider"></div>
                                            <button ngbDropdownItem (click)="Delete(item.id)"><i
                                                    class="fa-solid fa-trash pe-2"></i>Eliminar</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <div class="d-flex justify-content-between p-2">
                    <pre>Current page: {{service.page}}</pre>
                    <ngb-pagination [collectionSize]="(total$ | async)!" [(page)]="service.page"
                        [pageSize]="service.pageSize" [collectionSize]="collectionSize" [maxSize]="maxSize"
                        [rotate]="true" [boundaryLinks]="true" size="sm">
                    </ngb-pagination>
                    <div class="row">
                        <pre class="col">Filas</pre>
                        <select class="form-select " style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="15">15</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>