<div class="bg-image">
  <div class="container w-75 bg-primary mt-5 mb-5 rounded shadow">
    <div class="row align-items-stretch">
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"></div>
      <div class="col bg-white p-4 rounded-end">
        <h2 class="fw-bold text-center py-3">Ingresa con un click!</h2>
        <form [formGroup]="loginForm">
          <div class="container w-100 my-3 d-flex justify-content-center">
            <!--            <div (click)="logoutFacebook()" class="btn btn-primary"></div>-->
            <asl-google-signin-button [width]="400" id="google-button" shape="rectangular" size="large"
                                      type="standard"></asl-google-signin-button>
          </div>
          <br/>
          <div class="row text-center">
            <div class="col-12 my-2">
              <h4>o con tu usuario</h4>
            </div>
          </div>
          <div [ngClass]="{'focus': userFocused}" class="mb-4 input-wrap form-floating">
            <input #userInput (blur)="userFocused = false" (focus)="userFocused = true"
                   class="form-control contact-input" formControlName="username"
                   id="username" maxlength="50" minlength="5" placeholder="Usuario" required
                   type="email"/>
            <label>Usuario</label>
            <i class="icon fa-regular fa-id-card"></i>
            <h5 *ngIf="validate('username', 'required', userFocused)">El Usuario es<strong> Requerido</strong></h5>
            <h5 *ngIf="validate('username', 'minlength', userFocused)">El Usuario es<strong> muy corto</strong></h5>
          </div>
          <div [ngClass]="{'focus': passwordFocused}" class="mb-4 input-wrap form-floating">
            <input #passwordInput (blur)="passwordFocused = false" (focus)="passwordFocused = true"
                   class="form-control contact-input" formControlName="password"
                   id="password" maxlength="256" minlength="8" placeholder="Contraseña"
                   required type="password"/>
            <label>Contraseña</label>
            <i class="icon fa-solid fa-lock"></i>
            <h5 *ngIf="validate('password', 'required', passwordFocused)">La Contraseña es<strong> Requerida</strong>
            </h5>
            <h5 *ngIf="validate('password', 'minlength', passwordFocused)">La Contraseña es<strong> muy corta</strong>
            </h5>
          </div>
          <div class="mb"></div>
          <div class="row mb-4">
            <div class="col">
              <input class="form-check-input" formControlName="rememberMe" id="connected" name="connected"
                     type="checkbox"
                     value="remember-me"/>
              <label class="form-check-label" for="connected">&nbsp;&nbsp;Recordarme</label>
            </div>
            <div class="col-7 text-end">
              <a routerLink="/auth/forgot-password">Olvidaste la contraseña?</a>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button class="btn btn-success" routerLink="/auth/register">Registrarse</button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button (click)="loginUser(loginForm.value)" [disabled]="!loginForm.valid" class="btn btn-primary"
                        type="submit">
                  Iniciar Sesión
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
