<div class="products-block-head">
  <p>{{ total }} productos encontrados @if (categoryName) {
    en <span>{{ categoryName }}</span>
  }
  </p>
  <form [formGroup]="searchForm" class="hdr-search-bar">
    <input formControlName="search" maxlength="100" minlength="3" placeholder="Buscar ..." required type="text"/>
    <button (click)="searchProducts(searchForm.value)" [disabled]="!searchForm.valid" type="submit">
      <span class="search-icon"></span>
    </button>
  </form>
  <!--  <div class="products-view-options">-->
  <!--    <div class="view-options-check">-->
  <!--      <input checked type="checkbox">-->
  <!--      <span>Verified only</span>-->
  <!--    </div>-->
  <!--    <div class="select-wrapper view-options-select">-->
  <!--      <select>-->
  <!--        <option>Featured</option>-->
  <!--        <option>Featured</option>-->
  <!--        <option>Featured</option>-->
  <!--      </select>-->
  <!--    </div>-->

  <!--    <div class="view-options-btns">-->
  <!--      <button class="view-options-btns-grid" type="button">-->
  <!--        <img alt="" src="./assets/icons/gridview.svg"/>-->
  <!--      </button>-->
  <!--      <button class="btn-listview" type="button">-->
  <!--        <img alt="" src="./assets/icons/listview.svg"/>-->
  <!--      </button>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
