<div class="details-top">
  @if (product.option.images.length > 0) {
    <app-carousel-thumbnails [images]="product.option.images"></app-carousel-thumbnails>
  }
  <div class="details-top-r">
    <div class="details-product">
      <div class="details-header">
        @if (product.isService) {
          <p class="is-service">Servicio</p>
        }
        <p class="details-title">{{ product.option.title }}</p>
      </div>

      <div class="details-info">
        <ul class="rating">
          <app-rating [rating]="product.option.averageRating"></app-rating>
          <li class="rating-value">{{ product.option.averageRating }}</li>
        </ul>
        <div class="separator"></div>
        <div class="details-review">
          <span><img alt="" src="./assets/icons/message.svg"/></span>
          <span>{{ (product.option.reviews)?.length }}</span>
        </div>
        <div class="separator"></div>
        <!--        <div class="details-review">-->
        <!--          <span><img src="./assets/icons/basket.png"/></span>-->
        <!--          <span>{{}}</span>-->
        <!--        </div>-->
      </div>

      <div class="details-data">
        <div class="data-row-wrapper">
          <div class="data-row">
            <span class="data-row-h">Precio:</span>
            <span class="data-row-d">
              <div class="product-price">
                    <span [ngClass]="{'last-price': product.option.discount}"
                          class="new-price me-1">{{ product.option.price | currency }}</span>
                    <span *ngIf="product.option.discount" class="new-price">{{ product.option.offerPrice | currency }}
                      <span *ngIf="product.option.discount" class="ms-1">({{ product.option.discount.value }}
                        %)</span></span>
                  </div>
            </span>
          </div>
          <div class="data-row">
            <span class="data-row-h">Condición: </span>
            <span class="data-row-d">{{ product.option.condition }}</span>
          </div>
        </div>
        <div class="data-row-wrapper">
          <div class="data-row">
            <span class="data-row-h">Genero:</span>
            <span class="data-row-d">{{ product.option.genderFor }}</span>
          </div>
          <div class="data-row">
            <span class="data-row-h">Color: </span>
            <span class="data-row-d">
                <div class="color-price">
                  <div class="circles">
                    @for (option of product.options; track option) {
                      <span [ngClass]="{'focus': option.id === product.option.id}"
                            [ngStyle]="{'background': '#' + option.color, 'box-shadow': option.id === product.option.id ? '0 0 0 2px #fff, 0 0 0 4px ' + '#' + option.color : 'none'}"
                            class="circle"></span>
                    }
                    </div>
                </div>
            </span>
          </div>
        </div>
        <div class="data-row-wrapper">
          <div class="data-row">
            <span class="data-row-h">Opciones:</span>
            <span class="data-row-d">
              <div class="option-list">
                @for (option of product.options; track option) {
                  <div [ngClass]="{'active': product.option.id == option.id}" class="option-item"
                       (click)="productDetail(product.id, option.id)">
                    <div class="option-item-text">{{ option.title }}</div>

                    <div class="product-price product-price-sm">
                      <span [ngClass]="{'last-price': product.option.discount}"
                            class="new-price">{{ product.option.price | currency }}</span>
                      <span *ngIf="product.option.discount" class="new-price">{{ product.option.offerPrice | currency }}
                        <span class="ms-1" *ngIf="product.option.discount">({{ product.option.discount.value }}
                          %)</span></span>
                    </div>
                    <img alt="" [src]="option.image | imgPath">
                  </div>
                }
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="details-supplier">
      <div (click)="shareButtons(product.option.title, product.id)" class="btn btn-share btn-outline-primary">
        <span><i class="share-icon primary-color w-icon"></i>Compartir</span>
      </div>
      <div class="details-supplier-wrapper">
        <p class="stock-status">
          <span><i class="fas fa-check"></i></span> {{ product.option.stock }}
        </p>
        <form [formGroup]="cartForm" action="">
          <div class="supplier-service">
            <span>Cantidad a llevar</span>
            <input class="form-control" formControlName="quantity" max="100" min="1" step="1" type="number"
                   value="1"/>
          </div>
          <button (click)="AddToCart(cartForm.value);" class="btn add-cart-btn mb-1" type="button"><i
            class="shopping-cart-icon"></i>Al Carrito
          </button>

          <button (click)="buyNow(cartForm.value)" class="btn buy-now-btn" type="button"><i
            class="wallet-icon"></i>Comprar
          </button>
        </form>
      </div>
      <div (click)="addToWishList(product.option.id)" class="btn btn-wishlist">
        <span><i class="favorite-icon w-icon me-1"></i>Guardar</span>
      </div>
    </div>
  </div>
</div>
