<div class="details-top">
  <app-carousel-thumbnails [images]="images"></app-carousel-thumbnails>
  <div class="details-top-r">
    <div class="details-product">
      <p class="stock-status">
        <span><i class="fas fa-check"></i></span> In stock
      </p>
      <p class="details-title">Gildan Ultra Cotton Adult T-Shirt
      </p>

      <div class="details-info">
        <ul class="rating">
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fas fa-star"></i></li>
          <li><i class="fa-regular fa-star"></i></li>
          <li class="rating-value">7.5</li>
        </ul>
        <div class="separator"></div>
        <div class="details-review">
          <span><img src="./assets/icons/message.svg"/></span>
          <span>32 reviews</span>
        </div>
        <div class="separator"></div>
        <div class="details-review">
          <span><img src="./assets/icons/basket.png"/></span>
          <span>154 sold</span>
        </div>
      </div>

      <div class="details-data">
        <div class="data-row-wrapper">
          <div class="data-row">
            <span class="data-row-h">Price:</span>
            <span class="data-row-d">29.99$</span>
          </div>
          <div class="data-row">
            <span class="data-row-h">Warranty: </span>
            <span class="data-row-d">2 years full warranty </span>
          </div>
        </div>
      </div>
    </div>
    <div class="details-supplier">
      <div class="details-supplier-wrapper">
        <div class="supplier-service">
          <span>Cantidad</span>
          <input class="form-control" max="100" min="1" type="number" value="1"/>
        </div>
        <div class="btn-group">
          <a class="btn btn-primary" href="#">Agregar al Carrito</a>
          <a class="btn btn-white" href="#">Comprar ahora</a>
        </div>
      </div>
      <div class="btn btn-primary btn-wishlist">
        <a href="#">
          <span><i class="favorite-icon me-1"></i>Save for later</span>
        </a>
      </div>
    </div>
  </div>
</div>
