<div class="container w-75 bg-primary mt-5 rounded shadow">
  <div class="row align-items-stretch">
    <div
      class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-7 rounded"
    ></div>
    <div class="col bg-white p-5 rounded-end">
      <h2 class="fw-bold text-center py-3">Ingresar mediante</h2>
      <form action="#">
        <div class="container w-100 my-3">
          <div class="btn btn-outline-primary w-100 my-1">
            <div class="row align-items-center">
              <div class="col-2 d-none d-md-block">
                <img src="assets/icons/facebook.png" width="32" alt="" />
              </div>
              <div class="col-12 col-md-10 text-center">Facebook</div>
            </div>
          </div>
          <div class="btn btn-outline-danger w-100 my-1">
            <div class="row align-items-center">
              <div class="col-2 d-none d-md-block">
                <img src="assets/icons/google.png" width="32" alt="" />
              </div>
              <div class="col-12 col-md-10 text-center">Google</div>
            </div>
          </div>
          <div class="btn btn-outline-pink w-100 my-1">
            <div class="row align-items-center">
              <div class="col-2 d-none d-md-block">
                <img src="assets/icons/instagram.png" width="32" alt="" />
              </div>
              <div class="col-12 col-md-10 text-center">Instagram</div>
            </div>
          </div>
          <div class="btn btn-outline-dark w-100 my-1">
            <div class="row align-items-center">
              <div class="col-2 d-none d-md-block">
                <img src="assets/icons/tiktok.png" width="32" alt="" />
              </div>
              <div class="col-12 col-md-10 text-center">Tiktok</div>
            </div>
          </div>
        </div>
        <br />
        <div class="row text-center">
          <div class="col-12 my-2"><h5>o con tu usuario</h5></div>
        </div>
        <div class="mb-4">
          <input
            type="username"
            class="form-control"
            id="username"
            placeholder="Usuario"
          />
        </div>
        <div class="mb-4">
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
        </div>

        <div class="row mb-4">
          <div class="col">
            <input
              type="checkbox"
              name="connected"
              class="form-check-input"
              id="connected"
            />
            <label for="connected" class="form-check-label">&nbsp;&nbsp;Recordarme</label>
          </div>
          <div class="col-7 text-end">
              <a href="#">Olvidaste la contraseña?</a>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="d-grid">
              <button type="submit" class="btn btn-success">Registrarse</button>
            </div>
          </div>
          <div class="col">
            <div class="d-grid">
              <button type="submit" class="btn btn-primary">
                Iniciar Sesión
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
