<div class="bg-image">
  <div class="container w-75 bg-primary mt-5 mb-5 rounded shadow">
    <div class="row align-items-stretch">
      <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"></div>
      <div class="col bg-white p-4 rounded-end">
        <h2 class="fw-bold text-center py-3">Ingresa con un click!</h2>
        <form [formGroup]="loginForm">
          <div class="container w-100 my-3">
            <!-- <div class="btn btn-outline-primary w-100 my-1" (click)="loginFacebook()">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="assets/icons/facebook.png" width="32" alt="" />
                </div>
                <div class="col-12 col-md-10 text-center">Facebook</div>
              </div>
            </div> -->
            
            <div class="fb-login-button" data-width="" data-size="" data-button-type="" data-layout="" data-auto-logout-link="false"
              data-use-continue-as="true"></div>
            <asl-google-signin-button size="large" shape="rectangular" type="standard"></asl-google-signin-button>
            <!-- <div id="googleButton" class="btn btn-outline-danger w-100 my-1" >
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="assets/icons/google.png" width="32" alt="" />
                </div>
                <div class="col-12 col-md-10 text-center">Google</div>
              </div>
            </div> -->
            <!-- <div class="btn btn-outline-pink w-100 my-1">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="assets/icons/instagram.png" width="32" alt="" />
                </div>
                <div class="col-12 col-md-10 text-center">Instagram</div>
              </div>
            </div> -->
            <!-- <div class="btn btn-outline-dark w-100 my-1">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="assets/icons/tiktok.png" width="32" alt="" />
                </div>
                <div class="col-12 col-md-10 text-center">Tiktok</div>
              </div>
            </div> -->
          </div>
          <br />
          <div class="row text-center">
            <div class="col-12 my-2">
              <h4>o con tu usuario</h4>
            </div>
          </div>
          <div class="mb-4 input-wrap form-floating" [ngClass]="{'focus': userFocused}">
            <input #userInput type="email" class="form-control contact-input" id="username" placeholder="Usuario"
              required minlength="5" maxlength="50" formControlName="username" (focus)="userFocused = true"
              (blur)="userFocused = false" />
            <label for="floatingInput">Usuario</label>
            <i class="icon fa-regular fa-id-card"></i>
            <h5 *ngIf="validate('username', 'required', userFocused)">El Usuario es<strong> Requerido</strong></h5>
            <h5 *ngIf="validate('username', 'minlength', userFocused)">El Usuario es<strong> muy corto</strong></h5>
          </div>
          <div class="mb-4 input-wrap form-floating" [ngClass]="{'focus': passwordFocused}">
            <input #passwordInput type="password" class="form-control contact-input" id="password" required
              minlength="8" maxlength="256" placeholder="Contraseña" (focus)="passwordFocused = true"
              (blur)="passwordFocused = false" formControlName="password" />
            <label for="floatingInput">Contraseña</label>
            <i class="icon fa-solid fa-lock"></i>
            <h5 *ngIf="validate('password', 'required', passwordFocused)">La Contraseña es<strong> Requerida</strong>
            </h5>
            <h5 *ngIf="validate('password', 'minlength', passwordFocused)">La Contraseña es<strong> muy corta</strong>
            </h5>
          </div>
          <div class="mb"></div>
          <div class="row mb-4">
            <div class="col">
              <input type="checkbox" name="connected" class="form-check-input" id="connected" value="remember-me"
                formControlName="rememberMe" />
              <label for="connected" class="form-check-label">&nbsp;&nbsp;Recordarme</label>
            </div>
            <div class="col-7 text-end">
              <a href="forgot-password">Olvidaste la contraseña?</a>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="d-grid">
                <button routerLink="/register" class="btn btn-success">Registrarse</button>
              </div>
            </div>
            <div class="col">
              <div class="d-grid">
                <button type="submit" [disabled]="!loginForm.valid" (click)="loginUser(loginForm.value)"
                  class="btn btn-primary">
                  Iniciar Sesión
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>