<div class="container w-75 bg-primary mt-5 rounded shadow">
  <div class="row align-items-strethch">
    <div
      class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded"
    ></div>
    <div class="col bg-white p-5 rounded-end">
      <div class="text-end">
        <img src="imgages/logo.png" width="48" alt="" />
      </div>
      <h2 class="fw-bold text-center py-5">Login</h2>

      <form action="#">
        <div class="mb-4">
          <label for="username" class="form-label">Nombre de Usuario</label>
          <input
            type="username"
            class="form-control"
            id="username"
            placeholder="Usuario"
          />
        </div>
        <div class="mb-4">
          <label for="password" class="form-label">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            placeholder="Password"
          />
        </div>
        <div class="mb-4 form-check">
          <input
            type="checkbox"
            name="connected"
            class="form-check-input"
            id="connected"
          />
          <label for="connected" class="form-check-label">
            Mantenerme conectado
          </label>
        </div>

        <div class="d-grid">
          <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </div>

        <div class="my-3">
          <span> No tienes cuenta? <a href="#">Registrate</a> </span>
          <br />
          <span> Olvidaste tu contraseña? <a href="#">Recuperar</a> </span>
        </div>
      </form>

      <div class="container w-100 my-5">
        <div class="row text-center">
          <div class="col-12">Iniciar Sesión</div>
        </div>
        <div class="row">
          <div class="col">
            <div class="btn btn-outline-primary w-100 my-1">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="assets/icons/facebook.png" width="32" alt="">
                </div>
                <div class="col-12 col-md-10 text-center">Facebook</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="btn btn-outline-danger w-100 my-1">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="assets/icons/google.png" width="32" alt="" />
                </div>
                <div class="col-12 col-md-10 text-center">Google</div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="btn btn-outline-instagram w-100 my-1">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="assets/icons/instagram.png" width="32" alt="" />
                </div>
                <div class="col-12 col-md-10 text-center">Instagram</div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="btn btn-outline-tiktok w-100 my-1">
              <div class="row align-items-center">
                <div class="col-2 d-none d-md-block">
                  <img src="assets/icons/tiktok.png" width="32" alt="" />
                </div>
                <div class="col-12 col-md-10 text-center">Tiktok</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
