<section class="sc-services">
  <div class="c-container">
    <h3 class="title">Our extra services</h3>
    <div class="services-content">
      <div class="services-item">
        <div class="services-item-img">
          <img alt="" src="./assets/img/services/service-1.png"/>
        </div>
        <div class="services-item-info theme-p">
          <div class="services-item-icon">
            <img alt="" src="./assets/icons/search.svg"/>
          </div>
          <p class="services-item-title">Source from Industry Hubs</p>
        </div>
      </div>
      <div class="services-item">
        <div class="services-item-img">
          <img alt="" src="./assets/img/services/service-2.png"/>
        </div>
        <div class="services-item-info theme-p">
          <div class="services-item-icon">
            <img alt="" src="./assets/icons/inventory.svg"/>
          </div>
          <p class="services-item-title">Customize Your Products</p>
        </div>
      </div>
      <div class="services-item">
        <div class="services-item-img">
          <img alt="" src="./assets/img/services/service-3.png"/>
        </div>
        <div class="services-item-info theme-p">
          <div class="services-item-icon">
            <img alt="" src="./assets/icons/send.svg"/>
          </div>
          <p class="services-item-title">Fast, reliable shipping by
            ocean or air</p>
        </div>
      </div>
      <div class="services-item">
        <div class="services-item-img">
          <img alt="" src="./assets/img/services/service-4.png"/>
        </div>
        <div class="services-item-info theme-p">
          <div class="services-item-icon">
            <img alt="" src="./assets/icons/security.svg"/>
          </div>
          <p class="services-item-title">Product monitoring and
            inspection</p>
        </div>
      </div>
    </div>
  </div>
</section>
