<section class="sc-services">
  <div class="c-container">
    <h3 class="title">Nuestros Servicios</h3>
    <div class="services-content">
      <div class="services-item">
        <div class="services-item-img">
          <img alt="" src="./assets/img/services/service_1.jpg"/>
        </div>
        <div class="services-item-info theme-p">
          <div class="services-item-icon">
            <img alt="" src="./assets/icons/search.svg"/>
          </div>
          <p class="services-item-title">Organización de eventos</p>
        </div>
      </div>
      <div class="services-item">
        <div class="services-item-img">
          <img alt="" src="./assets/img/services/service_2.png"/>
        </div>
        <div class="services-item-info theme-p">
          <div class="services-item-icon">
            <img alt="" src="./assets/icons/inventory.svg"/>
          </div>
          <p class="services-item-title">Personaliza tus productos</p>
        </div>
      </div>
      <div class="services-item">
        <div class="services-item-img">
          <img alt="" src="./assets/img/services/service_3.jpg"/>
        </div>
        <div class="services-item-info theme-p">
          <div class="services-item-icon">
            <img alt="" src="./assets/icons/send.svg"/>
          </div>
          <p class="services-item-title">Lettering</p>
        </div>
      </div>
      <div class="services-item">
        <div class="services-item-img">
          <img alt="" src="./assets/img/services/service_4.jpg"/>
        </div>
        <div class="services-item-info theme-p">
          <div class="services-item-icon">
            <img alt="" src="./assets/icons/security.svg"/>
          </div>
          <p class="services-item-title">Diseño de Arbol de Navidad</p>
        </div>
      </div>
    </div>
  </div>
</section>
