.navbar-cart {
  position: relative;
  color: white;
  &-items {
    position: absolute;
    left: 40.5px;
    top: 6px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-color: rgb(172, 14, 14);
    height: 20px;
    width: 20px;

    p {
      font-size: 0.8rem;
      text-align: center;
    }
  }
}

.container-fluid a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-toggler-icon {
  height: 25px;
  max-height: 25px;
  font-size: 0.7rem;
}

nav {
  transition: 0.5s;
  padding: 4px;
}

.btn {
  height: 30px;
  max-height: 30px;
  padding-top: 0px;
}

.form-control {
  width: 300px;
  height: 30px;
  max-height: 30px;
  margin-top: 2px;

}

.input-search {
  transition: width 0.3s ease-in-out;
}

.input-search.input-search-expanded {
  width: 500px;
  transition-delay: 0.2s;
}

.search-container {
  position: relative;
}

.search-icon {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  margin-top: 2px;
}

.input-group-sm .input-search {
  padding-right: 40px;
  /* ajusta el valor según sea necesario para que el botón encaje correctamente */
}

.input-group-sm .input-search-expanded+.input-group-text {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 3;
  width: 40px;
  border: none;
  background: transparent;
  display: flex;
  align-items: left;
  justify-content: left;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}