.nav-masthead {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-content: space-between;
  padding: 0;
}

.dropdown-menu {
  padding: 0;
}

.container-fluid {
  padding: 2px 0;
}

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  color: rgba(255, 255, 255, 0.898);
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.nav-link {
  height: 30px;
  font-weight: 500;
  margin-top: 2px;
}

.left-side {
  display: flex;
  padding: 0;
  justify-content: center;
}

.nav-item {
  gap: 10px;
}

.item {
  color: #000;
  text-decoration: none;
  transition: 0.2s;
  padding: 2px 6px 2px 6px;
  border-radius: 10px;
}

.item:hover {
  background-color: #0D6EFD;
}

.navbar-nav {
  width: 100%;
}

.navbar-user {
  position: relative;
  color: white;
  padding: 1.5px 6px;
  border-radius: 10px;
  transition: 0.2s;
  font-size: 95%;
  cursor: pointer;
}

.navbar-cart {
  position: relative;
  color: white;
  padding: 2px 6px;
  border-radius: 10px;
  transition: 0.2s;

  &-items {
    position: absolute;
    left: 25px;
    top: 6px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    background-color: rgb(172, 14, 14);
    height: 60%;
    width: 40%;

    p {
      font-size: 60%;
      text-align: center;
    }
  }

  i {
    font-size: 1.25rem;
    margin-top: 2px;
  }
}

.navbar-cart:hover {
  color: white;
  background-color: #0D6EFD;
  text-decoration: none;
}

.navbar-user:hover {
  color: white;
  background-color: #0D6EFD;
  text-decoration: none;
}

.navbar-brand {
  margin: 0 6px;
  padding: 0;
  display: inline-flex;
}

.categories {
  color: #fff;
  font-size: 25px;
  align-self: center;
  margin-right: 6px;
}

.categories-box {
  color: #fff;
}

.logo {
  margin: 0 6px !important;
  cursor: pointer;
}

.container-fluid a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-toggler-icon {
  height: 25px;
  max-height: 25px;
  font-size: 0.7rem;
}

nav {
  transition: 0.5s;
  padding: 2px;
}

.navbar {
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
}

.btn {
  height: 30px;
  max-height: 30px;
  padding-top: 0px;
}

.right-side {
  margin-top: 1px;
}

.search-bar {
  margin: 0 6px;
}

.input-search {
  width: 150px !important;
  transition: width 0.3s ease-in-out;
}

.input-search.focus {
  width: 225px !important;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (max-width: 940px) {
  .nav-link {
    padding: 10px;
  }
}

.input-group-sm {
  height: 30px;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.bd-mode-toggle {
  z-index: 1500;
}

.form-control-dark {
  border-color: var(--bs-gray);
}

.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle:not(:focus) {
  outline: 0;
}
