<nav id="navbar" class="navbar fixed-top navbar-expand-xl navbar-dark bg-dark navbar-sm"
    aria-label="Sixth navbar example">
    <div class="container-fluid">
        <img src="assets/images/logo.png" (click)="ToggleCollapsed()" alt="" height="38" width="40"
            class="d-flex ms-0 me-3 rounded-circle">
        <a class="navbar-brand fw-semibold" href="#">RosaFiesta</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06"
            aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa-sharp fa-solid fa-caret-down"></i>
        </button>

        <div class="collapse navbar-collapse " id="navbarsExample06">
            <ul class="navbar-nav me-auto">
                <nav class="nav nav-masthead justify-content-between float-md-end">
                    <li class="nav-item d-flex justify-content-between">
                        <a class="nav-link fw-semibold active" aria-current="page" routerLink="">Home</a>
                        <a class="nav-link fw-semibold" routerLink="/about-us">Nosotros</a>
                        <div ngbDropdown placement="bottom-end" display="dynamic" class="container">
                            <a class="nav-link fw-semibold" id="adminMenu" aria-labelledby="navbarDropdown3"
                                ngbDropdownToggle>Admin</a>
                            <div ngbDropdownMenu aria-labelledby="adminMenu">
                                <div class="d-flex flex-column">
                                    <a class="dropdown-item" routerLink="/inventory"><i
                                            class="fa-solid fa-warehouse"></i>&nbsp;&nbsp;Inventario</a>
                                    <a class="dropdown-item" routerLink="/admin"><i
                                            class="fa-solid fa-chart-simple"></i>&nbsp;&nbsp;Panel de
                                        Admin</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="d-inline-flex justify-content-end">
                            <form class="me-lg-3 col-lg-auto" role="search" (ngSubmit)="Search()">
                                <div class="input-group input-group-sm flex-nowrap">
                                    <input focus type="search" id="search" placeholder="Buscar..."
                                        aria-label="Buscar" class="form-control input-search" role="search">
                                    <div class="input-group-text">
                                        <i class="fa-solid fa-magnifying-glass"></i>
                                    </div>
                                </div>
                                <ng-template #rt let-r="result" let-t="term">
                                    <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['flag']"
                                        class="me-1" style="width: 16px" />
                                    <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
                                </ng-template>

                            </form>

                            <div *ngIf="isAuthenticated; else elseBlock">
                                <div class="row">
                                    <div class="col ps-1 pe-1">
                                        <div ngbDropdown class="d-inline-block ps-0 pe-0" display="dynamic"
                                            placement="bottom-end">
                                            <div type="button" class="navbar-cart" id="dropdownForm1"
                                                aria-labelledby="navbarDropdown3" ngbDropdownToggle>
                                                <div class="navbar-cart-items" *ngIf="totalItems != 0">
                                                    <p>{{totalItems | number}}</p>
                                                </div>
                                                <i class="fa-solid fa-cart-shopping"></i>
                                            </div>
                                            <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                                                <app-cart (total)="total($event)" [totalItems]="totalItems"></app-cart>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col ps-0 pe-0">
                                        <div ngbDropdown #myDrop="ngbDropdown" [ngbPopover]="dropdown"
                                            placement="bottom-end" display="dynamic" class="d-flex ps-0 pe-0">
                                            <div class="d-flex navbar-cart">

                                                <ngx-avatar size="36" [name]="userName"
                                                    (click)="myDrop.toggle();"></ngx-avatar>
                                            </div>
                                            <ng-template #dropdown>
                                                <div class="d-flex flex-column">
                                                    <a class="item" routerLink="/profile">{{userName}}</a>
                                                    <hr class="mt-2 mb-2">
                                                    <a class="item" routerLink="/config"><i
                                                            class="fa-solid fa-gear"></i>&nbsp;&nbsp;Configuración</a>
                                                    <a class="item" routerLink="/my-wish-lists"><i
                                                            class="fa-solid fa-heart"></i>&nbsp;&nbsp;Lista de
                                                        deseos</a>
                                                    <a class="item" routerLink="/my-orders"><i
                                                            class="fa-solid fa-bag-shopping"></i>&nbsp;&nbsp;Mis
                                                        ordenes</a>
                                                    <hr class="mt-2 mb-2">
                                                    <a class="item" (click)="Logout()"><i
                                                            class="fa-solid fa-right-from-bracket"></i>&nbsp;&nbsp;Salir</a>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ng-template #elseBlock>
                                <div class="btn-cont">
                                    <button type="button" class="btn btn-primary btn"
                                        routerLink="/authenticate">Acceso</button>
                                    <button type="button" class="btn btn-warning"
                                        routerLink="/register">Registro</button>
                                </div>
                            </ng-template>
                        </div>
                    </li>
                </nav>
            </ul>

        </div>
    </div>
</nav>
