@if (warrantyForm$ | async; as warrantyForm) {
  <div class="management-form">
    <div class="left-form">
      <span class="circle one"></span>
      <span class="circle two"></span>
      <form [formGroup]="warrantyForm" autocomplete="off">
        <h3 class="management-form-title">{{ title }}</h3>
        <div class=" management-input-container" isFocus>
          <input class="management-input" formControlName="name" maxlength="50" minlength="3"
                 required type="text"/>
          <label class="management-label">Nombre *</label>
          <span class="management-span">Nombre *</span>
          <h5 *ngIf="validate('name', 'required')">El Nombre es<strong> requerido</strong></h5>
          <h5 *ngIf="validate('name', 'minlength')">El Nombre es<strong> muy corto</strong></h5>
        </div>
        @if (!read) {
          <mat-form-field appearance="fill" class="management-input-container" isFocus>
            <input class="management-input" #moduleInput [matAutocomplete]="moduleAutocomplete" matInput type="search"/>
            <label class="management-label">Productos *</label>
            <span class="management-span">Productos *</span>
            <mat-autocomplete #moduleAutocomplete="matAutocomplete"
                              (optionSelected)="onSelect($event.option.value); moduleInput.value = ''">
              <mat-option *ngFor="let product of productsList | filterProducts: moduleInput.value"
                          [value]="product">
                {{ product.option.title }}
              </mat-option>
            </mat-autocomplete>
            <mat-icon class="caret-down-icon" matSuffix></mat-icon>
          </mat-form-field>
        }
        @if (products.length > 0) {
          <div class=" management-input-container">
            <ol *ngFor="let product of products; let i = index" class="list-group list-group-numbered ">
              <li>
                <div class="input-group flex-nowrap">
                  <button class="btn text-md-start list btn-outline-light w-100" type="text">{{ i + 1 }}.
                    {{ product.option.title }}
                  </button>
                  <button (click)="removeProduct(i)" [disabled]="read"
                          class="btn btn-outline-light list pe-2 ps-2 input-group-text">
                    <i class="fas fa-trash"></i>
                  </button>
                </div>
              </li>
            </ol>
          </div>
        }
        <div class="d-flex justify-content-between  management-input-container">
          <div class=" management-input-container m-0" isFocus>
            <select class="text-decoration-none management-input" formControlName="type"
                    required type="number">
              <option hidden selected></option>
              <option value=1>Reembolso</option>
              <option value=2>Reparar</option>
              <option value=3>Cambiar</option>
              <option value=4>Implícito</option>
            </select>
            <label class="management-label">Tipo *</label>
            <span class="management-span">Tipo *</span>
            <h5 *ngIf="validate('type', 'required')">El tipo es<strong> requerido</strong></h5>
          </div>

          <div class=" management-input-container m-0" isFocus>
            <input class="management-input" formControlName="period" required type="number"/>
            <label class="management-label">Periodo *</label>
            <span class="management-span">Periodo *</span>
            <h5 *ngIf="validate('period', 'required')">El periodo es<strong> requerido</strong></h5>
            <h5 *ngIf="validate('period', 'minlength')">El periodo es<strong> muy corto</strong></h5>
          </div>
        </div>

        <div class="textarea management-input-container" isFocus>
        <textarea class="management-input" formControlName="description" maxlength="500"
                  minlength="3" required rows="3" type="text"></textarea>
          <label class="management-label">Descripción *</label>
          <span class="management-span">Descripción *</span>
          <h5 *ngIf="validate('description', 'required')">La Descripción es<strong>
            requerida</strong></h5>
          <h5 *ngIf="validate('description', 'minlength')">La Descripción es<strong> muy
            corta</strong></h5>
        </div>

        @if (read) {
          <div class=" management-input-container" isFocus>
            <input class="management-input"
                   formControlName="createdAt"
                   readOnly type="text"/>
            <label class="management-label">Fecha de Creación</label>
            <span class="management-span">Fecha de Creación</span>
          </div>
          <div class=" management-input-container" isFocus>
            <input class="management-input" formControlName="createdBy" readOnly type="text"/>
            <label class="management-label">Creado por</label>
            <span class="management-span">Creado por</span>
          </div>
          <div class=" management-input-container" isFocus>
            <input class="management-input"
                   formControlName="updatedAt"
                   readOnly type="text"/>
            <label class="management-label">Fecha de Modificación</label>
            <span class="management-span">Fecha de Modificación</span>
          </div>
          <div class=" management-input-container" isFocus>
            <input class="management-input" formControlName="updatedBy" readOnly type="text"/>
            <label class="management-label">Modificado por</label>
            <span class="management-span">Modificado por</span>
          </div>
        }
        <div *ngIf="update == false; else updateP" class="d-flex justify-content-between">
          <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
          <input (click)="AddWarranty(warrantyForm.value)" *ngIf="read == false" [disabled]="!warrantyForm.valid"
                 class="btn submit"
                 type="submit" value="Crear"/>
        </div>
        <ng-template #updateP>
          <div class="d-flex justify-content-between">
            <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
            <input (click)="updateWarranty(warrantyForm.value)" [disabled]="!warrantyForm.valid"
                   class="btn submit"
                   type="submit"
                   value="Actualizar"/>
          </div>
        </ng-template>
      </form>
    </div>
  </div>
}
