<div *ngIf="warrantyForm$ | async as warrantyForm" class="form">
    <div class="contact-form">
        <span class="circle one"></span>
        <span class="circle two"></span>
        <form [formGroup]="warrantyForm" action="../../../../index.html" autocomplete="off">
            <h3 class="title">{{title}}</h3>
            <div class="input-container" isFocus>
                <input class="input" formControlName="name" maxlength="50" minlength="3"
                       required type="text"/>
                <label>Nombre *</label>
                <span>Nombre *</span>
                <h5 *ngIf="validate('name', 'required')">El Nombre es<strong> requerido</strong></h5>
                <h5 *ngIf="validate('name', 'minlength')">El Nombre es<strong> muy corto</strong></h5>
            </div>

            <div *ngIf="!read" class="input-container" isFocus>
                <div class="input-group flex-nowrap">
                    <input (typeaheadOnSelect)="onSelect($event)" [(ngModel)]="selected" [adaptivePosition]="true"
                           [isAnimated]="true"
                           [typeaheadMinLength]="0" [typeaheadOptionsInScrollableView]="20" [typeaheadOptionsLimit]="7"
                           [typeaheadSingleWords]="true" [typeaheadWaitMs]="100" [typeahead]="productsList"
                           class="input" formControlName="products" id="search"
                           type="search" typeaheadOptionField="option.title"/>
                </div>
                <label>Productos</label>
                <span>Productos</span>
            </div>

            <div class="input-container">
                <ol *ngFor="let product of products; let i = index" class="list-group list-group-numbered ">
                    <li>
                        <div class="input-group flex-nowrap">
                            <button class="btn text-md-start list btn-outline-light w-100" type="text">{{i + 1}}.
                                {{product.option.title}}</button>
                            <button (click)="removeProduct(i)" [disabled]="read"
                                    class="btn btn-outline-light list pe-2 ps-2 input-group-text">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </li>
                </ol>
            </div>
            <div class="d-flex justify-content-between input-container">
                <div class="input-container m-0" isFocus>
                    <select class="input text-decoration-none" formControlName="type"
                            required type="number">
                        <option hidden selected></option>
                        <option value=1>Reembolso</option>
                        <option value=2>Reparar</option>
                        <option value=3>Cambiar</option>
                        <option value=4>Implícito</option>
                    </select>
                    <label>Tipo *</label>
                    <span>Tipo *</span>
                    <h5 *ngIf="validate('type', 'required')">El tipo es<strong> requerido</strong></h5>
                </div>

                <div class="input-container m-0" isFocus>
                    <input class="input" formControlName="period" required type="number"/>
                    <label>Periodo *</label>
                    <span>Periodo *</span>
                    <h5 *ngIf="validate('period', 'required')">El periodo es<strong> requerido</strong></h5>
                    <h5 *ngIf="validate('period', 'minlength')">El periodo es<strong> muy corto</strong></h5>
                </div>
            </div>

            <div class="input-container" isFocus>
        <textarea class="input" formControlName="description" maxlength="500"
                  minlength="3" required rows="3" type="text"></textarea>
                <label>Descripción *</label>
                <span>Descripción *</span>
                <h5 *ngIf="validate('description', 'required')">La Descripción es<strong>
                    requerida</strong></h5>
                <h5 *ngIf="validate('description', 'minlength')">La Descripción es<strong> muy
                    corta</strong></h5>
            </div>

            <div *ngIf="read">
                <div class="input-container" isFocus>
                    <input class="input"
                           formControlName="createdAt"
                           type="text"/>
                    <label>Fecha de Creación</label>
                    <span>Fecha de Creación</span>
                </div>
                <div class="input-container" isFocus>
                    <input class="input" formControlName="createdBy" type="text"/>
                    <label>Creado por</label>
                    <span>Creado por</span>
                </div>
                <div class="input-container" isFocus>
                    <input class="input"
                           formControlName="updatedAt"
                           type="text"/>
                    <label>Fecha de Modificación</label>
                    <span>Fecha de Modificación</span>
                </div>
                <div class="input-container" isFocus>
                    <input class="input" formControlName="updatedBy" type="text"/>
                    <label>Modificado por</label>
                    <span>Modificado por</span>
                </div>
            </div>

            <div *ngIf="update == false; else updateP" class="d-flex justify-content-between">
                <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
                <input (click)="AddWarranty(warrantyForm.value)" *ngIf="read == false" [disabled]="!warrantyForm.valid"
                       class="btn submit"
                       type="submit" value="Crear"/>
            </div>
            <ng-template #updateP>
                <div class="d-flex justify-content-between">
                    <input (click)="close()" class="btn btn-outline-light bi" type="submit" value="Cerrar"/>
                    <input (click)="updateWarranty(warrantyForm.value)" [disabled]="!warrantyForm.valid"
                           class="btn submit"
                           type="submit"
                           value="Actualizar"/>
                </div>
            </ng-template>
        </form>
    </div>
</div>
