.contact {
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

.contact .container {
    height: 100vh;
    min-height: 700px;
    display: grid; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; 
}

.contact .container > div {
    grid-column: 1/2;
    grid-row: 1/2
}

.left{
    width: 100%;
    max-width: 80rem;
    margin: 0 auto;
    background-color: khaki;
    padding: 64px 1.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    position: relative;
    z-index: 3;
}

.contact-heading h1{
    font-weight: 600;
    
    font-size: 3.5rem;
    line-height: 0.9;
    white-space: nowrap;
}